﻿<div ng-controller="ClientController as clientController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="clientController.closeModal()">&times;</span></button>
        <h3 ng-if="!clientController.isContactBeingEdited" class="modal-title">Add Contact</h3>
        <h3 ng-if="clientController.isContactBeingEdited" class="modal-title">Edit Contact</h3>
    </div>
    <form class="modal-body form" name="saveContactForm" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Contact Name</label>
                <input ng-class="{'form_error':saveContactForm.client_contact_name.$invalid && clientController.showValidationMessage}" ng-model="clientController.clientContactUser.contactName" name="client_contact_name" placeholder="Please enter Contact Name" class="form-control" required>
                <span class="error-msg" ng-show="saveContactForm.client_contact_name.$invalid && clientController.showValidationMessage">Please enter contact name</span>
            </div>
            <div class="form-group col-md-6">
                <label>Position Held by Contact</label>
                <input ng-model="clientController.clientContactUser.positionHeldbyContact" placeholder="Please enter Position" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-theme-yellow btn-xs" ng-click="clientController.addBusinessUnit()"><i class="fa fa-plus"></i> Add Business Unit</button>
                    </div>
                </div>
                <br/>                
            </div>            
        </div>

        <div class="row" ng-show="clientController.clientContactUser.contactUserBusinessUnits.length > 0">
            <div class="well well-sm">
                <ul class="report-list">
                    <li class="form-group" ng-repeat="businessUnit in clientController.clientContactUser.contactUserBusinessUnits track by $index">
                        <div class="clearfix">
                            <div class="col-md-6">
                                <input ng-class="{'form_error':saveContactForm['business_unit_'+$index].$invalid && clientController.showValidationMessage}" name="business_unit_{{$index}}" ng-model="businessUnit.businessUnit" placeholder="Please enter Business Unit" class="form-control" type="text" required>
                                <span class="error-msg" ng-if="saveContactForm['business_unit_'+$index].$invalid && clientController.showValidationMessage">Please enter business unit</span>
                            </div>
                            <div class="col-md-6">
                                <input ng-class="{'form_error':saveContactForm['account_code_'+$index].$invalid && clientController.showValidationMessage}" name="account_code_{{$index}}" ng-model="businessUnit.accountCode" placeholder="Please enter Account Code" class="form-control" type="text" required>
                                <span class="error-msg" ng-if="saveContactForm['account_code_'+$index].$invalid && clientController.showValidationMessage">Please enter account code</span>
                            </div>
                            <div class="delete-report"><button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-click="clientController.removeBusinessUnit($index)" ng-really-message="Are you sure you want to remove this business unit?" ng-really-title="Delete Business Unit">
                                <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email Address</label>
                <input ng-class="{'form_error':saveContactForm.client_contact_email_address.$invalid}" ng-model="clientController.clientContactUser.emailAddress" name="client_contact_email_address" placeholder="Please enter Email Address" class="form-control" type="text" ng-pattern="/\S+@\S+\.\S+/">
                <span class="error-msg" ng-show="saveContactForm.client_contact_email_address.$invalid">Invalid email address</span>
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input ng-class="{'form_error':saveContactForm.phone_number.$invalid}" ng-model="clientController.clientContactUser.phoneNumber" placeholder="Please enter Phone Number" ng-pattern="/^[ ()+]*([0-9][ ()-]*){7,13}$/" class="form-control" type="text" name="phone_number">
                <span class="error-msg" ng-if="saveContactForm.phone_number.$invalid">Please enter valid phone number</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Street</label>
                <input ng-model="clientController.clientContactUser.street" placeholder="Please enter Street" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>City</label>
                <input ng-model="clientController.clientContactUser.city" placeholder="Please enter City" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Country </label>
                <ui-select ng-model="clientController.clientContactUser.country" on-select="clientController.onCountrySelected($item, $index)" class="form-control" tagging>
                    <ui-select-match placeholder="Select country ...">
                        <span>{{clientController.clientContactUser.country.countryName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="country in (clientController.countries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                        <span>{{country.countryName}} </span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-md-6">
                <label>State</label>
                <ui-select ng-model="clientController.clientContactUser.state" on-select="clientController.onStateSelected($item)" class="form-control">
                    <ui-select-match placeholder="Select state ...">
                        <span>{{clientController.clientContactUser.state.stateName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="state in (clientController.states | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                        <span>{{state.stateName}} </span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Zip Code</label>
                <input ng-class="{'form_error':saveContactForm.zip_code.$invalid}" ng-model="clientController.clientContactUser.zipCode" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/" placeholder="Please enter Zip Code" class="form-control" type="number" min="1" name="zip_code">
                <span class="error-msg" ng-if="saveContactForm.zip_code.$invalid">Please enter valid zip code</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="clientController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button  ng-if="!clientController.isContactBeingEdited" type="submit" ng-click="clientController.addContactToList(saveContactForm.$valid)" class="btn btn-theme-yellow">Add</button>
            <button ng-if="clientController.isContactBeingEdited" type="submit" ng-click="clientController.addContactToList(saveContactForm.$valid)" class="btn btn-theme-yellow">Save</button>
        </div>
    </form>
</div>

