﻿<div ng-controller="ClientController as clientController">
    <div class="modal-header case_modal_header">
        <h3 ng-if="!clientController.isClientBeingEdited" class="modal-title">Add a Client</h3>
        <h3 ng-if="clientController.isClientBeingEdited" class="modal-title">Edit Client</h3>
    </div>
    <form class="modal-body form" name="saveClientForm" novalidate>

        <div class="row">
            <div class="form-group col-md-6" id="client_name_field">
                <label>Client Name</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-class="{'form_error' : saveClientForm.client_name.$invalid && saveClientForm.$submitted}" name="client_name" ng-model="clientController.client.clientName" placeholder="please enter Client Name" class="form-control" type="text" required>
                <span class="error-msg" ng-show="saveClientForm.client_name.$invalid && saveClientForm.$submitted">Client Name Required</span>
            </div>

            <div class="form-group col-md-6">
                <label>Matter Name</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.matterName" placeholder="please enter Matter Name" class="form-control">
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Client PO</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.clientPO" placeholder="please enter Client PO:" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label>Business Unit</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.businessUnit" placeholder="please enter Business Unit:" class="form-control">
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Account Code</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.accountCode" placeholder="please enter Account Code" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.phoneNumber" placeholder="please enter Phone Number" class="form-control">
            </div>           
        </div>        

        <div class="row">
            <div class="form-group col-md-6">
                <label>Email Address</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-class="{'form_error' : saveClientForm.email_address.$invalid}" name="email_address" ng-model="clientController.client.emailAddress" placeholder="please enter Email Address" class="form-control" type="email">

                <span class="error-msg" ng-show="saveClientForm.email_address.$invalid">Invalid email address</span>
            </div>  
            <div class="form-group col-md-6">
                <label>Country </label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <ui-select ng-model="clientController.country" on-select="clientController.onCountrySelected($item)" class="form-control" tagging>
                    <ui-select-match placeholder="Select country ...">
                        <span>{{clientController.country.countryName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="country in (clientController.countries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                        <span>{{country.countryName}} </span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>State</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <ui-select ng-model="clientController.state" on-select="clientController.onStateSelected($item)" class="form-control">
                    <ui-select-match placeholder="Select state ...">
                        <span>{{clientController.state.stateName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="state in (clientController.states | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                        <span>{{state.stateName}} </span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group col-md-6">
                <label>City</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.city" placeholder="please enter City" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Street</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.street" placeholder="please enter Street" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Zip Code</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-model="clientController.client.zipCode" placeholder="please enter Zip Code" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Industry </label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <ui-select ng-model="clientController.industry" on-select="clientController.onIndustrySelected($item)" class="form-control">
                    <ui-select-match placeholder="Select Industry ...">
                        <span>{{clientController.industry.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="industry in (clientController.industries | filter: { name: $select.search }) track by industry.id" refresh-delay="0">
                        <span>{{industry.name}} </span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-md-6">
                <label>Industry Sub Category</label>
                <button class=" btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <ui-select ng-model="clientController.industrySubCategory" on-select="clientController.onSubCategorySelected($item)" class="form-control">
                    <ui-select-match placeholder="Select subcategory ...">
                        <span>{{clientController.industrySubCategory.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="industrySubCategory in (clientController.industrySubCategories | filter: { name: $select.search }) track by industrySubCategory.id" refresh-delay="0">
                        <span>{{industrySubCategory.name}} </span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Sales Rep</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <ui-select ng-model="clientController.salesRepresentative" on-select="clientController.onsalesRepresentativeSelected($item)" class="form-control">
                    <ui-select-match placeholder="Select sales representative ...">
                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="salesRepresentative in (clientController.salesRepresentativeList | filter: { userName: $select.search }) track by salesRepresentative.id" refresh-delay="0">
                        <span>{{salesRepresentative.firstName}} {{salesRepresentative.lastName}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-md-6">
                <label>Sales Rep Email</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-class="{'form_error' : saveClientForm.sales_rep_email.$invalid}" name="sales_rep_email" ng-model="clientController.client.salesRepresentativeEmail" placeholder="please enter Sales Rep Email" class="form-control" type="text" ng-pattern="/\S+@\S+\.\S+/">
                <span class="error-msg" ng-show="saveClientForm.sales_rep_email.$invalid">Invalid email address</span>
            </div>
        </div>    
        <div class="row">
            <button type="button" ng-click="clientController.addClientContactUser()" class="btn btn-theme-yellow contact_name">Add Contact Name and Position</button>
        </div>  
        <div class="row">            
            <ul class="report-list-outer">
                <li class="form-group clearfix" ng-repeat="contactUser in clientController.client.clientContactUsers track by $index">
                    
                    <div class="report-list">
                        <div class="col-md-6">
                            <label>Contact Name</label>
                            <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                            <input ng-class="{'form_error' : saveClientForm['client_contact_name_' + $index].$invalid && clientController.showValidationMessage}" ng-model="clientController.client.clientContactUsers[$index].contactName" name="client_contact_name_{{$index}}" placeholder="please enter Contact Name" class="form-control" required>
                            <span class="error-msg" ng-show="saveClientForm['client_contact_name_' + $index].$invalid && clientController.showValidationMessage">Please enter contact name</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Position Held by Contact</label>
                            <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                            <input ng-class="{'form_error':saveClientForm['client_contact_position_' + $index].$invalid && clientController.showValidationMessage}" ng-model="clientController.client.clientContactUsers[$index].positionHeldbyContact" name="client_contact_position_{{$index}}" placeholder="please enter Position Held by Contact" class="form-control" required>
                            <span class="error-msg" ng-show="saveClientForm['client_contact_position_' + $index].$invalid && clientController.showValidationMessage">Please enter position held by contact</span>
                        </div>
                        <div class="delete-report" ng-hide="clientController.client.clientContactUsers[$index].isCaseAssociatedClientContactUser">
                            <button class="btn btn-danger" ng-really-message="Are you sure you want to remove this contact?" ng-really-click="clientController.deleteAddedContactUser($index)" ng-really-title="Remove Contact?" item="$index"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    

                </li>
            </ul>
            
            
        </div>
             
        <div class="modal-footer">
            <button type="button" ng-click="clientController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button type="submit" ng-click="clientController.saveClient(saveClientForm.$valid)" class="btn btn-theme-yellow">Save Client</button>
        </div>
    </form>
    
</div>