﻿<div ng-controller="ClientController as clientController" ng-init="clientController.clientFormInit()">
    <form class="am-content" name="saveClientForm" novalidate>
        <div class="page-head">
            <div class="row">
                <div class="col-md-6">
                    <div class="my-case-container">
                        <div class="back-link case-icon"><a href="/case-management/clients"><span class="fa fa-caret-left"></span> BACK</a> </div>
                        <div class="my-case-inner back-padding">
                            <div class="row case-detail case-detail-main">
                                <div class="col-md-12" ng-show="clientController.isClientBeingEdited">
                                    <div><span>Client</span></div>
                                    <div class="open-cases">
                                        <div class="case-title"><h3 class="no-margine">{{clientController.clientDisplayName}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="my-case-inner ">
                        <div class="pull-right"><button class="btn btn-theme-yellow btn-wide" ng-click="clientController.saveClient(saveClientForm.$valid)">Save</button></div>
                        <div class="pull-right case-detail case-detail-left" ng-show="clientController.isClientBeingEdited">
                            <span>Last Updated</span>
                            <strong>{{clientController.client.lastEditedDateTime|date:'medium'}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">

            <div class="case-form">
                <div class="form-block">
                    <div class="row" ng-show="(clientController.showClientValidationMessage || clientController.showValidationMessage) && saveClientForm.$invalid">
                        <div class="alert alert-danger" role="alert">Please fix the errors on this page before continuing</div>
                    </div>
                    <div class="form-header"><h4>Client Info</h4></div>
                    <div class="form-content">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Client Name</label>
                                <input ng-class="{'form_error' : saveClientForm.client_name.$invalid && clientController.showClientValidationMessage}" name="client_name" ng-model="clientController.client.clientName" placeholder="Please enter Client Name" class="form-control" type="text" required>
                                <span class="error-msg" ng-show="saveClientForm.client_name.$invalid && clientController.showClientValidationMessage">Client Name is required</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Industry</label>
                                <ui-select ng-model="clientController.industry" on-select="clientController.onIndustrySelected($item)" class="form-control">
                                    <ui-select-match placeholder="Select Industry ...">
                                        <span>{{clientController.industry.name}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="industry in (clientController.industries | filter: { name: $select.search }) track by industry.id" refresh-delay="0">
                                        <span>{{industry.name}} </span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Industry Sub Category</label>
                                <ui-select ng-model="clientController.industrySubCategory" on-select="clientController.onSubCategorySelected($item)" class="form-control">
                                    <ui-select-match placeholder="Select subcategory ...">
                                        <span>{{clientController.industrySubCategory.name}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="industrySubCategory in (clientController.industrySubCategories | filter: { name: $select.search }) track by industrySubCategory.id" refresh-delay="0">
                                        <span>{{industrySubCategory.name}} </span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>



                    </div>
                    <div class="form-header"><h4>Contact</h4></div>
                    <div class="contact-table form-content">

                        <!--Edit View-->
                        <div class="client-contact-box" ng-repeat="clientContactUser in clientController.client.clientContactUsersList track by $index" ng-show="!clientContactUser.isDeleted">
                            <div class="text-right control-box-head">
                                <button tooltip-placement="bottom" uib-tooltip="Edit" ng-show="clientContactUser.id != clientController.clientContactUser.id" ng-click="clientController.editClientContactUser(clientContactUser,$index)" class="btn btn-sm btn-theme-yellow"> <i class="fa fa-pencil-square-o client-contact-btn-icon"></i></button>
                                <button tooltip-placement="bottom" uib-tooltip="Delete" ng-show="clientContactUser.id != clientController.clientContactUser.id" ng-really-message="Are you sure you want to delete this contact ?" ng-really-click="clientController.deleteAddedContactUser($index)"
                                        ng-really-title="Delete Client?" item="client" class="btn btn-sm btn-theme-gray">
                                    <i class="fa fa-trash client-contact-btn-icon"></i>
                                </button>
                                <button tooltip-placement="bottom" uib-tooltip="Discard Changes" ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-click="clientController.cancelClientContactUserChanges()" class="btn btn-sm btn-theme-gray">
                                    <i class="fa fa-times client-contact-btn-icon"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Contact Name</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.contactName}}</span>
                                    <input ng-if="clientContactUser.id == clientController.clientContactUser.id" ng-class="{'form_error':saveClientForm['contact_name_'+$index].$invalid && clientController.showValidationMessage}" ng-model="clientController.clientContactUser.contactName" name="contact_name_{{$index}}" placeholder="Please enter Contact Name" class="form-control" required>
                                    <span class="error-msg" ng-show="saveClientForm['contact_name_'+$index].$invalid && clientController.showValidationMessage">Please enter contact name</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Position Held by Contact</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.positionHeldbyContact}}</span>
                                    <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-model="clientController.clientContactUser.positionHeldbyContact" placeholder="Please enter Position" class="form-control">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Email Address</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.emailAddress}}</span>
                                    <input ng-if="clientContactUser.id == clientController.clientContactUser.id" ng-class="{'form_error':saveClientForm['email_address_'+$index].$invalid}" ng-model="clientController.clientContactUser.emailAddress" name="email_address_{{$index}}" placeholder="Please enter Email Address" class="form-control" type="text" ng-pattern="/\S+@\S+\.\S+/">
                                    <span class="error-msg" ng-show="saveClientForm['email_address_'+$index].$invalid">Invalid email address</span>
                                </div>
                            </div>
                            <div class="row" ng-if="clientContactUser.id == clientController.clientContactUser.id">
                                <div class="col-md-4">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <button class="btn btn-theme-yellow btn-xs" ng-click="clientController.addBusinessUnit()"><i class="fa fa-plus"></i> Add Business Unit</button>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="clientContactUser.id != clientController.clientContactUser.id ? clientContactUser.contactUserBusinessUnits.length > 0 : clientController.clientContactUser.contactUserBusinessUnits.length > 0">
                                <div class="client_business_unit">
                                    <div ng-class="clientContactUser.id == clientController.clientContactUser.id ? 'business-label': 'clearfix' ">
                                        <label ng-class="clientContactUser.id != clientController.clientContactUser.id ? 'form-group col-md-2' : 'form-group col-md-6'">Business Unit</label>
                                        <label ng-class="clientContactUser.id != clientController.clientContactUser.id ? 'form-group col-md-2' : 'form-group col-md-6'">Account Code</label>
                                    </div>
                                    <ul class="report-list">
                                        <li class="form-group" ng-if="clientContactUser.id != clientController.clientContactUser.id" ng-repeat="businessUnit in clientContactUser.contactUserBusinessUnits track by $index">

                                            <div class="clearfix">
                                                <div class="col-md-2">
                                                    <span class="task-normal-mode unit-span">{{businessUnit.businessUnit}}</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="task-normal-mode business-span">{{businessUnit.accountCode}}</span>
                                                </div>
                                                <div class="delete-report">
                                                    <button ng-show="clientContactUser.id == clientController.clientContactUser.id" tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-click="clientController.removeBusinessUnit($parent.$index,$index)" ng-really-message="Are you sure you want to remove this business unit?" ng-really-title="Delete Business Unit">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="form-group" ng-if="clientContactUser.id == clientController.clientContactUser.id" ng-repeat="businessUnit in clientController.clientContactUser.contactUserBusinessUnits track by $index">

                                            <div class="clearfix">
                                                <div class="col-md-6">
                                                    <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-class="{'form_error':saveClientForm['business_unit_'+$index+ ($parent.$index)].$invalid && clientController.showValidationMessage}" name="business_unit_{{$index}}{{$parent.$index}}" ng-model="businessUnit.businessUnit" placeholder="Please enter Business Unit" class="form-control" type="text" required>
                                                    <span class="error-msg" ng-show="saveClientForm['business_unit_'+$index+ ($parent.$index)].$invalid && clientController.showValidationMessage">Please enter business unit</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-class="{'form_error':saveClientForm['account_code_'+$index + ($parent.$index)].$invalid && clientController.showValidationMessage}" name="account_code_{{$index}}{{$parent.$index}}" ng-model="businessUnit.accountCode" placeholder="Please enter Account Code" class="form-control" type="text" required>
                                                    <span class="error-msg" ng-show="saveClientForm['account_code_'+$index+ ($parent.$index)].$invalid && clientController.showValidationMessage">Please enter account code</span>
                                                </div>
                                                <div class="delete-report">
                                                    <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-click="clientController.removeBusinessUnit($parent.$index,$index)" ng-really-message="Are you sure you want to remove this business unit?" ng-really-title="Delete Business Unit">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Phone Number</label>
                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="i.e. 754-3010" popover-trigger="outsideClick">?</a>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.phoneNumber}}</span>
                                    <div>
                                        <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-class="{'form_error':saveClientForm['phone_number_'+$index].$invalid}" ng-model="clientController.clientContactUser.phoneNumber" placeholder="Please enter Phone Number" class="form-control" type="text" ng-pattern="/^[ ()+]*([0-9][ ()-]*){7,13}$/" name="phone_number_{{$index}}">
                                        <span class="error-msg" ng-show="saveClientForm['phone_number_'+$index].$invalid">Please enter valid phone number</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Street</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.street}}</span>
                                    <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-model="clientController.clientContactUser.street" placeholder="Please enter Street" class="form-control">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.city}}</span>
                                    <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-model="clientController.clientContactUser.city" placeholder="Please enter City" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Country </label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.countryName}}</span>
                                    <ui-select ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-model="clientController.clientContactUser.country" on-select="clientController.onCountrySelected(clientController.clientContactUser, $index, $item)" class="form-control" tagging>
                                        <ui-select-match placeholder="Select country ...">
                                            <span>{{clientContactUser.country.countryName}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in (clientController.countries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                                            <span>{{country.countryName}} </span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.stateName}}</span>
                                    <ui-select ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-model="clientController.clientContactUser.state" on-select="clientController.onStateSelected(clientController.clientContactUser, $index, $item)" class="form-control">
                                        <ui-select-match placeholder="Select state ...">
                                            <span>{{clientContactUser.state.stateName}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="state in (clientController.states | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                                            <span>{{state.stateName}} </span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Zip Code</label>
                                    <span class="task-normal-mode" ng-show="clientContactUser.id != clientController.clientContactUser.id">{{clientContactUser.zipCode}}</span>
                                    <input ng-show="clientContactUser.id == clientController.clientContactUser.id" ng-class="{'form_error':saveClientForm['zip_code_'+$index].$invalid}" ng-model="clientController.clientContactUser.zipCode" placeholder="Please enter Zip Code" class="form-control" type="text" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/" name="zip_code_{{$index}}">
                                    <span class="error-msg" ng-show="saveClientForm['zip_code_'+$index].$invalid">Please enter valid zip code</span>
                                </div>
                            </div>
                        </div>
                        <!--<table class="table table-hover table-condensed" ng-if="clientController.client.clientContactUsersList.length > 0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Info</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contactUser in clientController.client.clientContactUsersList track by $index" ng-hide="contactUser.isDeleted">
                                    <td>{{contactUser.contactName}}</td>
                                    <td><span ng-if="contactUser.phoneNumber">Cell:{{contactUser.phoneNumber}} - </span> <span ng-if="contactUser.emailAddress">Email:{{contactUser.emailAddress}} - </span> <span ng-if="contactUser.street || contactUser.city || contactUser.stateName || contactUser.countryName || contactUser.zipCode">Address: {{contactUser.street}} <span ng-if="contactUser.city">,</span>  {{contactUser.city}} <span ng-if="contactUser.stateName">,</span>  {{contactUser.stateName}} <span ng-if="contactUser.countryName">,</span>
                                        {{contactUser.countryName}} <span ng-if="contactUser.zipCode">,</span>  {{contactUser.zipCode}} ...</span> </td>
                                    <td>
                                        <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                            <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </a>
                                            <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                <li ng-click="clientController.editClientContactUser(contactUser,$index)"><a href="#">Edit</a></li>
                                                <li ng-hide="contactUser.isCaseAssociatedClientContactUser" ng-really-message="Are you sure you want to delete this contact ?" ng-really-click="clientController.deleteAddedContactUser($index)"
                                                    ng-really-title="Delete Client?" item="client">
                                                    <a href="#">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                        <!--Add View -->
                        <div class="client-contact-box" ng-repeat="newClientContactUser in clientController.newClientContactUser track by $index" ng-if="clientController.isClientContactUserBeingAdded">
                            <div class="text-right control-box-head">
                                <button tooltip-placement="bottom" uib-tooltip="Discard Changes" ng-click="clientController.cancelClientContactUserChanges(newClientContactUser,$index)" class="btn btn-sm btn-theme-gray">
                                    <i class="fa fa-times client-contact-btn-icon"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Contact Name</label>
                                    <input ng-class="{'form_error':saveClientForm['newclient_contact_name_'+$index].$invalid && clientController.showValidationMessage}" ng-model="newClientContactUser.contactName" name="newclient_contact_name_{{$index}}" placeholder="Please enter Contact Name" class="form-control" required>
                                    <span class="error-msg" ng-show="saveClientForm['newclient_contact_name_'+$index].$invalid && clientController.showValidationMessage">Please enter contact name</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Position Held by Contact</label>
                                    <input ng-model="newClientContactUser.positionHeldbyContact" placeholder="Please enter Position" class="form-control">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Email Address</label>
                                    <input ng-class="{'form_error':saveClientForm['newclient_contact_email_address_'+$index].$invalid}" ng-model="newClientContactUser.emailAddress" name="newclient_contact_email_address_{{$index}}" placeholder="Please enter Email Address" class="form-control" type="text" ng-pattern="/\S+@\S+\.\S+/">
                                    <span class="error-msg" ng-show="saveClientForm['newclient_contact_email_address_'+$index].$invalid">Invalid email address</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <button class="btn btn-theme-yellow btn-xs" ng-click="clientController.addBusinessUnit(newClientContactUser,$index)"><i class="fa fa-plus"></i> Add Business Unit</button>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="newClientContactUser.contactUserBusinessUnits.length > 0">
                                <div class="client_business_unit">
                                    <div class="business-label">
                                        <label class="form-group col-md-6">Business Unit</label>
                                        <label class="form-group col-md-6">Account Code</label>
                                    </div>
                                    <ul class="report-list">
                                        <li class="form-group" ng-repeat="businessUnit in newClientContactUser.contactUserBusinessUnits track by $index">
                                            <div class="clearfix">
                                                <div class="col-md-6">
                                                    <input ng-class="{'form_error':saveClientForm['newbusiness_unit_'+$index+($parent.$index)].$invalid && clientController.showValidationMessage}" name="newbusiness_unit_{{$index}}{{$parent.$index}}" ng-model="businessUnit.businessUnit" placeholder="Please enter Business Unit" class="form-control" type="text" required>
                                                    <span class="error-msg" ng-show="saveClientForm['newbusiness_unit_'+$index +($parent.$index)].$invalid && clientController.showValidationMessage">Please enter business unit</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input ng-class="{'form_error':saveClientForm['newaccount_code_'+$index+($parent.$index)].$invalid && clientController.showValidationMessage}" name="newaccount_code_{{$index}}{{$parent.$index}}" ng-model="businessUnit.accountCode" placeholder="Please enter Account Code" class="form-control" type="text" required>
                                                    <span class="error-msg" ng-show="saveClientForm['newaccount_code_'+$index +($parent.$index)].$invalid && clientController.showValidationMessage">Please enter account code</span>
                                                </div>
                                                <div class="delete-report">
                                                    <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-click="clientController.removeBusinessUnit($parent.$index,$index)" ng-really-message="Are you sure you want to remove this business unit?" ng-really-title="Delete Business Unit">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Phone Number</label>
                                    <input ng-class="{'form_error':saveClientForm['newclient_phone_number_'+$index].$invalid}" ng-model="newClientContactUser.phoneNumber" placeholder="Please enter Phone Number" ng-pattern="/^[ ()+]*([0-9][ ()-]*){7,13}$/" class="form-control" type="text" min="1" max="17" name="newclient_phone_number_{{$index}}">
                                    <span class="error-msg" ng-show="saveClientForm['newclient_phone_number_'+$index].$invalid">Please enter valid phone number</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Street</label>
                                    <input ng-model="newClientContactUser.street" placeholder="Please enter Street" class="form-control">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    <input ng-model="newClientContactUser.city" placeholder="Please enter City" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Country </label>
                                    <ui-select ng-model="newClientContactUser.country" on-select="clientController.onCountrySelected(newClientContactUser,$index, $item)" class="form-control" tagging>
                                        <ui-select-match placeholder="Select country ...">
                                            <span>{{newClientContactUser.country.countryName}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in (clientController.countries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                                            <span>{{country.countryName}} </span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State</label>
                                    <ui-select ng-model="newClientContactUser.state" on-select="clientController.onStateSelected(null,null,$item)" class="form-control">
                                        <ui-select-match placeholder="Select state ...">
                                            <span>{{newClientContactUser.state.stateName}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="state in (clientController.states | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                                            <span>{{state.stateName}} </span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Zip Code</label>
                                    <input ng-class="{'form_error':saveClientForm['newclient_zip_code_'+$index].$invalid}" ng-model="newClientContactUser.zipCode" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/" placeholder="Please enter Zip Code" class="form-control" type="text" name="newclient_zip_code_{{$index}}">
                                    <span class="error-msg" ng-show="saveClientForm['newclient_zip_code_'+$index].$invalid">Please enter valid zip code</span>
                                </div>
                            </div>
                        </div>
                        <div class="add-control m-top-20"><button type="button" ng-click="clientController.addClientContactUser()" class="btn btn-sm btn-theme-yellow  pull-right">Add</button></div>
                    </div>
                    <div class="form-header"><h4>Sales Rep</h4></div>
                    <div class="form-content">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Sales Rep</label>
                                <ui-select ng-model="clientController.salesRepresentative" on-select="clientController.onsalesRepresentativeSelected($item)" class="form-control" required="true" name="sales_rep" ng-class="{'form_error' : saveClientForm.sales_rep.$invalid && clientController.showClientValidationMessage}">
                                    <ui-select-match placeholder="Select sales representative ...">
                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="salesRepresentative in (clientController.salesRepresentativeList | filter: { userName: $select.search }) track by salesRepresentative.id" refresh-delay="0">
                                        <span>{{salesRepresentative.firstName+" "+salesRepresentative.lastName}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="error-msg" ng-show="saveClientForm.sales_rep.$invalid && clientController.showClientValidationMessage">Sales Rep is required</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Sales Rep Email</label>
                                <input ng-class="{'form_error' : saveClientForm.sales_rep_email.$invalid}" name="sales_rep_email" ng-model="clientController.client.salesRepresentativeEmail" placeholder="Please enter Sales Rep Email" class="form-control" type="email">
                                <span class="error-msg" ng-show="saveClientForm.sales_rep_email.$invalid">Invalid email address</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-header"><h4>Notes</h4></div>
                    <div class="form-content">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Notes for Client</label>
                                <textarea ng-model="clientController.client.notes" rows="6" placeholder="Please enter notes" class="form-control"></textarea>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="form-block" ng-show="clientController.isClientBeingEdited">
                <div class="form-header"><h4>Cases</h4></div>

            </div>


            <div class="case-table" ng-show="clientController.isClientBeingEdited">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Case Name</th>
                            <th>Nickname</th>
                            <th>Contact</th>
                            <th>Report Type</th>
                            <th>Country</th>
                            <th>Speed</th>
                            <th>Retail</th>
                            <th>Intake Date</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody class="ng-scope">
                        <tr ng-repeat="case in clientController.clientCases">
                            <td class="pointer" ng-click="clientController.openCaseDetails(case)"><a href="#">{{case.matterName}}</a></td>
                            <td>{{case.nickName}}</td>
                            <td>{{case.clientContactUser.contactName}}</td>
                            <td>{{case.primaryReportType}}</td>
                            <td>{{case.primaryReportCountryName}}</td>
                            <td>{{case.speed == 0 ? 'Normal' : case.speed == 1 ? 'Rush' : 'Super Rush' }}</td>
                            <td>{{case.actualRetail}}</td>
                            <td>{{case.creationDateTime | date:'mediumDate'}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div class="pagination-container">

                    <div class="text-center" ng-if="clientController.totalNumberOfClientCases > 0">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <button ng-hide="clientController.clientCasesPageIndex == 0" ng-click="clientController.getCasesAssociatedWithCurrentClient(clientController.clientCasesPageIndex - 1)" type="button" class="btn btn-default">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </button>
                                <button ng-repeat="page in clientController.allPages track by $index" type="button" ng-class="{active:clientController.clientCasesPageIndex == $index}" ng-click="clientController.getCasesAssociatedWithCurrentClient($index)"
                                        class="btn btn-default">
                                    {{$index + 1}}
                                </button>
                                <button ng-hide="clientController.clientCasesPageIndex == clientController.allPages.length - 1" type="button" ng-click="clientController.getCasesAssociatedWithCurrentClient(clientController.clientCasesPageIndex + 1)" class="btn btn-default">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
