﻿<div ng-controller="ClientController as clientController" ng-init="clientController.init()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-4 col-sm-9">
                    <div class="my-case-container">
                        <div class="case-icon">
                            <img src="/Assets/icons/profile2.svg">
                        </div>
                        <div class="my-case-inner">
                            <div><span> View</span></div>
                            <div class="open-cases">
                                <div class="btn-group btn-hspace">
                                    <button type="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">My Clients <span class="caret"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="nav navbar-nav am-nav-right col-md-4 col-sm-6">
                    <li class="serach-container hidden-sm">
                            <div class="input-group search-box-small">
                                <span class="input-group-btn">
                                    <button class="btn search-btn" ng-click="clientController.searchClients(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                                </span>
                                <input type="text" placeholder="Search Clients" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && clientController.isClientSearchActive ? clientController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? clientController.searchClients(searchQuery) : null">
                                <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                    <button class="btn search-btn search-reset" ng-click="searchQuery=''; clientController.isClientSearchActive ? clientController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                                </span>
                            </div>
                    </li>
                </ul>
                <div class="col-md-4 col-sm-3">
                    <div class="text-right add-new-case">
                        <button class="btn btn-theme-yellow" has-permission="CLIENT_CREATE" ng-click="clientController.addClientForm()">New Client</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" has-permission="CLIENT_READ_ALL">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <table has-permission="CLIENT_READ_ALL" class="table table-hover table-condensed">
                                    <thead>
                                        <tr ng-if="clientController.clients.length > 0">
                                            <th width="200">Client</th>
                                            <th width="200">Contact Name </th>
                                            <th width="200">Business Unit</th>
                                            <th width="200">Phone</th>
                                            <th width="200">Email</th>
                                            <th width="200">Sales Rep</th>
                                            <th width="200">Last Report Ordered</th>
                                            <th width="200">Industry/Industry Sub Category</th>
                                            <th width="200"></th>
                                        </tr>
                                        <tr ng-if="clientController.isClientSearchActive && clientController.clients.length == 0">
                                            <th> No result found</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="client in clientController.clients">
                                            <td width="200"><a href="#" ng-click="clientController.editClientForm(client)">{{client.clientName}}</a></td>
                                            <td width="200">{{client.clientContactUsers[0].contactName[0]}}<br />{{client.clientContactUsers[0].contactName[1]}}</td>
                                            <td width="200">{{client.clientContactUsers[0].contactUserBusinessUnits[0].businessUnit}}</td>
                                            <td width="200">{{client.clientContactUsers[0].phoneNumber}}</td>
                                            <td width="200">{{client.clientContactUsers[0].emailAddress}}</td>
                                            <td width="200">{{client.salesRepresentative.firstName+" "+client.salesRepresentative.lastName}}</td>
                                            <td width="200">{{client.lastestCaseOrderDate|date:'mediumDate'}}</td>
                                            <td width="200">{{client.industryName}}<br/>{{client.industrySubCategoryName}}</td>
                                            <td width="200">
                                                <div class="input-group-btn">
                                                    <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-message="Are you sure you want to delete this client ?" ng-really-click="clientController.deleteClient(client.clientId)"
                                                            ng-really-title="Delete Client?" item="client">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="pagination-container" ng-if="clientController.totalNumberOfClients > 0">
                                <div class="text-center">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button ng-if="clientController.pageIndex != 0" ng-click="clientController.isClientSearchActive ? clientController.getClientsByKeyword(clientController.pageIndex - 1) : clientController.fetchAndStoreClientsList(clientController.pageIndex - 1)" type="button" class="btn btn-default">
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                            </button>
                                            <button ng-repeat="page in clientController.allPages track by $index" type="button" ng-class="{active:clientController.pageIndex == $index}" ng-click="clientController.isClientSearchActive ? clientController.getClientsByKeyword($index) : clientController.fetchAndStoreClientsList($index)"
                                                    class="btn btn-default">
                                                {{$index + 1}}
                                            </button>
                                            <button ng-if="clientController.pageIndex != clientController.allPages.length - 1" type="button" ng-click="clientController.isClientSearchActive ? clientController.getClientsByKeyword(clientController.pageIndex + 1) : clientController.fetchAndStoreClientsList(clientController.pageIndex + 1)" class="btn btn-default">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</div>
    </div>

