﻿<div ng-controller="CaseController as caseController">
    <div class="modal-header case_modal_header">
        <h3 class="modal-title">Request Case</h3>
    </div>
    <form class="modal-body form" name="saveCaseForm" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Matter Name</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-class="{'form_error':saveCaseForm.matterName.$invalid && saveCaseForm.$submitted}" ng-model="caseController.case.matterName" name="matterName" placeholder="please enter Matter Name" class="form-control" required>
                <span class="error-msg" ng-show="saveCaseForm.matterName.$invalid && saveCaseForm.$submitted">Matter name is required</span>
            </div>
            <div class="form-group col-md-6">
                <label>Case Reference Name</label>
                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                <input ng-class="{'form_error':saveCaseForm.case_reference_name.$invalid && saveCaseForm.$submitted}" name="case_reference_name" ng-model="caseController.case.caseReferenceName" placeholder="Please enter Case Reference Name" class="form-control" required>
                <span class="error-msg" ng-show="saveCaseForm.case_reference_name.$invalid && saveCaseForm.$submitted">Case Reference Name Required</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="caseController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button type="submit" ng-click="caseController.saveCase(saveCaseForm.$valid)" class="btn btn-theme-yellow">Send</button>
        </div>
    </form>

</div>
