﻿<div ng-controller="CaseController as caseController" ng-init="caseController.fetchAndStoreCasesList(0)">
    <div class="well well-sm text-right">
    <button ng-click="caseController.openRequestCaseModal()" class="btn btn-theme-yellow">Request a Case</button>
        </div>
        <div class="participant-table">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Matter Name</th>
                        <th>Client</th>
                        <th>Account</th>
                        <th>Contact</th>
                        <th>Position Role</th>
                        <th>Phone</th>
                        <th>Sales Rep</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="case in caseController.cases track by $index">
                    <tr>
                        <td class="pointer text-primary" ng-click="caseController.openCaseDetails(case)">{{case.matterName}}</td>
                        <td>{{case.client.clientName}}</td>
                        <td>{{case.clientContactUser.accountCode}}</td>
                        <td>{{case.clientContactUser.contactName}}</td>
                        <td>{{case.clientContactUser.positionHeldbyContact}}</td>
                        <td>{{case.clientContactUser.phoneNumber}}</td>
                        <td>{{case.client.salesRepresentativeDetails.firstName+" "+case.client.salesRepresentativeDetails.lastName}}</td>
                        <td>
                            <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </a>
                                <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Archive</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
