﻿<div class="cal-month-day">

        <span class="pull-right"
              data-cal-date
              ng-bind="day.label"
              ng-click="vm.calendarCtrl.dateClicked(day.date)">
        </span>

        <div class="calendar-task">
            <span ng-repeat="(type, events) in day.groups track by type" ng-controller="CalendarController as calendarController" ng-click="calendarController.showTasksForSelectedDateAndType(day.date,type)">
                <span class="status-btn btn-group btn-group-xs" ng-if="!calendarController.isDashboardView">
                    <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs">NOT STARTED ({{ events.length }})</button>
                    <button ng-if="type == 'warning'" class="btn btn-warning btn-xs">IN PROGRESS ({{ events.length }})</button>
                    <button ng-if="type == 'success'" class="btn btn-success btn-xs">COMPLETED ({{ events.length }})</button>
                    <br />
                </span>
                <span class="status-btn btn-group btn-group-xs" ng-if="calendarController.isDashboardView">
                    <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs" tooltip-placement="bottom" uib-tooltip="Not Started">{{ events.length }}</button>
                    <button ng-if="type == 'warning'" class="btn btn-warning btn-xs" tooltip-placement="bottom" uib-tooltip="In Progress">{{events.length}}</button>
                    <button ng-if="type == 'success'" class="btn btn-success btn-xs" tooltip-placement="bottom" uib-tooltip="Completed">{{ events.length }}</button>
                    <br />
                </span>
            </span>
        </div>

</div>
