﻿<div class="cal-year-box">
        <div ng-repeat="rowOffset in [0, 4, 8] track by rowOffset">
            <div class="row cal-before-eventlist">
                <div class="span3 col-md-3 col-xs-6 cal-cell {{ day.cssClass }}"
                     ng-repeat="month in vm.view | calendarLimitTo:4:rowOffset track by $index"
                     ng-init="monthIndex = vm.view.indexOf(month)"
                     ng-click="vm.monthClicked(month, false, $event)"
                     ng-class="{pointer: month.events.length > 0, 'cal-day-today': month.isToday}"
                     mwl-droppable
                     on-drop="vm.handleEventDrop(dropData.event, month.date)">

                    <span class="pull-right"
                          data-cal-date
                          ng-click="vm.calendarCtrl.dateClicked(month.date)"
                          ng-bind="month.label">
                    </span>

                    <span class="calendar-task">
                        <span ng-repeat="(type, events) in month.groups track by type" ng-controller="CalendarController as calendarController" ng-click="calendarController.showTasksForSelectedMonthAndType(month.date,type)">
                            <span class="status-btn btn-group btn-group-xs" ng-if="!calendarController.isDashboardView">
                                <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs">NOT STARTED ({{ events.length }})</button>
                                <button ng-if="type == 'warning'" class="btn btn-warning btn-xs">IN PROGRESS ({{ events.length }})</button>
                                <button ng-if="type == 'success'" class="btn btn-success btn-xs">COMPLETED ({{ events.length }})</button>
                                <br />
                            </span>
                            <span class="status-btn btn-group btn-group-xs" ng-if="calendarController.isDashboardView">
                                <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs" tooltip-placement="left" uib-tooltip="Not Started">{{ events.length }}</button>
                                <button ng-if="type == 'warning'" class="btn btn-warning btn-xs" tooltip-placement="left" uib-tooltip="In Progress">{{ events.length }}</button>
                                <button ng-if="type == 'success'" class="btn btn-success btn-xs" tooltip-placement="left" uib-tooltip="Completed">{{ events.length }}</button>
                                <br />
                            </span>
                        </span>
                    </span>

                </div>
            </div>

        </div>

</div>
