﻿<div class="cal-day-box text-center">
        <span class="calendar-task" ng-controller="CalendarController as calendarController">
            <span ng-repeat="(startsAt, dateGroupedEvents) in calendarController.events | groupBy: 'startsAt'">
                <span ng-if="calendarController.matchDates(vm.viewDate, startsAt)">
                    <span ng-repeat="(type, events) in dateGroupedEvents | groupBy : 'type'" ng-click="calendarController.showTasksForSelectedDateAndType(startsAt,type)">
                        <span class="status-btn btn-group btn-group-xs">
                            <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs">NOT STARTED ({{ events.length }})</button>
                            <button ng-if="type == 'warning'" class="btn btn-warning btn-xs">IN PROGRESS ({{ events.length }})</button>
                            <button ng-if="type == 'success'" class="btn btn-success btn-xs">COMPLETED ({{ events.length }})</button>
                            <br />
                        </span>
                    </span>
                </span>
            </span>
        </span>
</div>