body {
    padding: 0;
    background-color: #FFFFFF;
    height: 100%;
}
.am-left-sidebar .sidebar-elements>li>a .icon {
    display: inline-block;
    font-size: 33px;
}
.am-left-sidebar .sidebar-elements>li>a span {
    display: inline-block;
    margin-top: 5px;
}

.am-left-sidebar .sidebar-elements>li>a {
    display: block;
    padding: 15px;
    color: #e1e1e1;
    text-align: left;
    font-size: 1.5rem;
}
.am-left-sidebar .sidebar-elements>li>a i
{
	margin-right:15px;
}
.am-top-header .navbar-collapse .am-user-nav>li.dropdown>a .user-name {
    margin-left: 8px;
    display: inline-block;
}
.am-top-header .navbar-collapse .am-user-nav>li.dropdown>a img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
}
.am-left-sidebar {
    background-color: #0d2240;
    height: 100%;
    left: 0;
    position: absolute;
}
.am-left-sidebar .sidebar-elements>li {
    border-bottom: 1px solid #0F2648;
    list-style: none;
}
.am-top-header .navbar-header .navbar-brand {
    background-color: #0D2240;
    border-bottom: 1px solid #0F2648;
}
.am-top-header .navbar-collapse .navbar-nav>li>a {
    line-height: 80px;
    color: #0D2240;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 0 18px;
    outline: 0;
}
.am-top-header .navbar-collapse .am-icons-nav>li.dropdown>a .icon {
    font-size: 28px;
    vertical-align: middle;
    color: rgb(13, 34, 64);
}

.am-left-sidebar .sidebar-elements>li>ul {
    
    background-color: #29303E;
  
}
.am-left-sidebar .sidebar-elements>li>a:hover {
    background-color: #091C38 !important;
}
.am-left-sidebar .sidebar-elements>li>ul>.nav-items .am-scroller .content>ul>li>a:hover {
    background-color: rgba(30, 33, 43, 0.44);
}
.am-left-sidebar .sidebar-elements>li>ul>li.title {
    color: #fff;
    border-bottom: 1px solid #232831;
    font-size: 16px;
    font-weight: 300;
    margin: 0 25px;
    padding-bottom: 18px;
    padding-top: 25px;
}
.am-left-sidebar .sidebar-elements>li:hover {
    background-color: rgba(30, 33, 43, 0.44)
}
.am-left-sidebar .sidebar-elements>li>ul>.nav-items .am-scroller .content>ul>li>a:hover {
    background-color: rgba(30, 33, 43, 0.44);
    color: #fff
}
.page-head {
    background: #EFEFEF;
    padding: 5px 35px;
    position: relative;
    border-top: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8;
}
.am-top-header .navbar-header .navbar-brand {
    
    background-image: none !important;
}
.navbar-brand {
    line-height: 20px !important;
}
.navbar-brand i {
    color: #3F7EE4;
}
.brand-name {
    font-size: 32px;
    margin-top: 15px;
    font-weight: lighter;
}

.am-left-sidebar .sidebar-elements>li>ul>.nav-items .am-scroller .content>ul li.active>a {
    color: #3F7EE4;
}
#habla_window_div #habla_topbar_div {
    background: #3F7EE4 none repeat scroll 0 0 !important;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de)) !important;
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de) ;
    background-image: -o-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: linear-gradient("top",#50a9fc,#0075de) !important;
    text-shadow: rgba(0,76,186,.75)0 -1px 0 !important;
    border-color: #004cba !important;
}
#habla_window_div .habla_offline_submit_input {
    
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de)) !important;
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de) ;
    background-image: -o-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: linear-gradient("top",#50a9fc,#0075de) !important;
    text-shadow: rgba(0,76,186,.75)0 -1px 0 !important;
    border-color: #004cba !important;

}
#habla_window_div #habla_offline_message_div, #habla_window_div #habla_pre_chat_div {
    line-height: 1.5em;
    font-size: 12px;
}
.am-logo .brand-name
{
	
}
.am-logo {
    color: #FFFEFE;
    padding-left: 19px;
}
.am-logo .brand-name {
    display: inline-block;
    margin-right: 7px;
}
.am-top-header .am-toggle-top-header-menu {
   
    background-color: #232831;
 
}
.am-splash-screen {
    background-color: #FFFFFF;
    background-image: url(/Assets/img/6Sigma_slideroption2.jpg);
    background-size: cover;
    background-position: center;
}
.login-container .panel-default {
    background: 0 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 4px;
}
.login-container .panel-default .panel-heading {
   
    background-color: #3F7EE4;
    margin: 0px;
    padding: 13px 0px;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de)) !important;
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: linear-gradient("top",#50a9fc,#0075de) !important;
}
.login-container .panel-default .panel-body .form-group .input-group {
    border-bottom: 0px;
    padding: 10px 0;
    background-color: #F3F3F3;
    margin-bottom: 13px;
    border: 1px solid #E4E4E4;
}
.login-container .panel-default .panel-body .form-group .input-group .input-group-addon .icon {
    font-size: 20px;
    color: #3F7EE4;
}
.login-container .panel-default .panel-body .form-group.login-submit {
    padding-top: 13px;
    padding-bottom: 15px;
}
.am-splash-screen .am-wrapper .am-content a {
    color: #8E8D8D;
}
.am-splash-screen .am-wrapper .am-content a:hover
{
	color:#3F7EE4;
}
.login-container .panel-default .panel-heading span {
    display: block;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-top: 7px;
}
.panel-heading .brand-name {
    color: white;
    margin-top: 0px;
}
.login-footert {
    font-size: 11px;
}
.login-container {
    max-width: 400px;
    margin: 25px auto;
    padding: 10px;
}
.mb-15 
{
	margin-bottom:15px;
}
.login-container .panel-default .panel-body .form-group .remember .am-checkbox input[type=checkbox]+label:before {
    border-color: #4E91FF;
}
.store-link > a {
    background-color: #0B7CE2;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#4AA4F7),color-stop(100%,#026ED0)) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    border-right: 1px solid rgba(255, 255, 255, 0.13);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #F5F5F5;
    color: #0D2240;
}
.store-link a:hover, .store-link a:active, .store-link a:focus
{
	    background-color: #306FD4 !important;
}
.contact-box h3 {
    display: inline-block;
    font-size: 17px;
    margin: 0px;
    margin-left: 8px;
    margin-right: 10px;
}
.contact-box i {
    font-size: 16px;
}
.secondry-menu {
    position: absolute;
    width: 100%;
    bottom: 15px;
}
.main-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.setup-list
{
}
.setup-block
{
	
}

.setup-block > div {
    color: #232831;
    padding: 8px 0px;
    position: relative;
    margin-bottom: 10px;
    border: 4px solid #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f7f7f7),color-stop(100%,#ececee));
    background-image: -webkit-linear-gradient(#f7f7f7,#ececee);
    background-image: -moz-linear-gradient(#f7f7f7,#ececee);
    background-image: -o-linear-gradient(#f7f7f7,#ececee);
    background-image: linear-gradient(#f7f7f7,#ececee);
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 2px #424141;
}



.setup-block i {
    font-size: 19px;
    margin-bottom: 6px;
    margin-right: 10px;
}
.setup-block h4 {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 8px;
    font-weight: bold;
} 
.setup-block .btn {
    min-width: 130px;
   
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de));
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de);
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de);
    background-image: linear-gradient("top",#50a9fc,#0075de);
    text-shadow: rgba(0,76,186,.75)0 -1px 0;
    border-color: #004cba;
    color: #fff;
	border-radius:5px;
}
.setup-block .btn:hover {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#3da0f3),color-stop(100%,#006ad4));
    background-image: -webkit-linear-gradient("top",#3da0f3,#006ad4);
    background-image: -moz-linear-gradient("top",#3da0f3,#006ad4);
    background-image: -o-linear-gradient("top",#3da0f3,#006ad4);
    background-image: linear-gradient("top",#3da0f3,#006ad4);
}
.setup-block .btn.active,
.setup-block .btn:active {
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #1588e0), color-stop(100%, #0069d4));
    background-image: -webkit-linear-gradient("top", #1588e0, #0069d4);
    background-image: -moz-linear-gradient("top", #1588e0, #0069d4);
    background-image: -o-linear-gradient("top", #1588e0, #0069d4);
    background-image: linear-gradient("top", #1588e0, #0069d4);
    -webkit-box-shadow: #0435a8 0 0 5px inset;
    -moz-box-shadow: #0435a8 0 0 5px inset;
    box-shadow: #0435a8 0 0 5px inset;
    text-shadow: rgba(0, 76, 186, .75)0 -1px 0;
    border-color: #0435a8
}

.am-top-header {
    border: 0;
    margin-bottom: 0;
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de) !important;
    background-color: white;
}
.maga-menu {
    width: 50% !important;
}
.maga-menu li ul
{
	list-style-type:none;
	padding:0px;
	
}

.maga-menu h5 {
    color: #e1e1e1;
    font-size: 1.5rem;
    padding: 11px 10px;
    font-weight: 600;
    border-bottom: 1px solid #3A404C;
}
.maga-menu li ul li a
{
	    padding: 11px 10px;
    color: #b3b3b3;
    font-size: 13px;
    display: block;
    font-weight: 300;
}
.maga-menu li ul li a:hover
{
	 background-color: rgba(30, 33, 43, 0.44);
    color: #fff
}
.maga-separator
{
	margin-bottom:2em
}
.parent-menu {
    margin-bottom: 10px;
}
.parent-menu > a {
    background-color: #29303E;
    position: relative;
    color: white !important;
}
.parent-menu > a:before
{
	    content: "\f0da";
	position:absolute;
	left:0px;
	font: normal normal normal 14px/1 FontAwesome;
	
}
.parent-menu > a:hover
{
	background-color: #29303E !important;
}
.parent-menu > a i {
    position: absolute;
    right: 15px;
    display: none;
}
.parent-menu ul
{
	
}
.parent-menu ul li
{
	
}
.parent-menu ul li a {
    padding-left: 25px !important;
	position:relative
}

.am-scroll-top
{
	display:none !important;
}
.form-container form {
    background-color: #FBFBFB;
    padding: 16px;
    border: 1px solid #CCCCCC;
    border-top: none;
}
label {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 700;
}
.form-container h4 {
    background-color: #232831;
    margin: 0px;
    padding: 9px 17px;
    font-size: 14px;
    margin-top: 12px;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold !important;
    color: #F9F9F9;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f7f7f7),color-stop(100%,#ededed));
    background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -o-linear-gradient(#f7f7f7,#ededed);
    background-image: linear-gradient(#f7f7f7,#ededed);
    border: 1px solid #ccc !important;
    text-shadow: 0 1px 0 #fff;
    color: #535353;
}
.alert-icon>.message {
    display: table-cell;
    padding: 10px;
    color: #555;
    border: 1px solid #d4d4d4;
    border-left-width: 0;
    padding-left: 24px;
}
.alert-icon.alert-dismissible .close {
    position: absolute;
    right: 11px;
    top: 8px;
    color: #555;
    text-shadow: 0 1px 0 #555;
}
.switch-button.switch-button-info input[type=checkbox]:checked+span {
    background-color: #8dcadf;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de));
    border-radius: 50px;
    overflow: hidden;
}
.name-brand h4 {
    display: inline-block;
    color: #1969B1;
    font-size: 17px;
}
.name-brand small {
    color: #A0A0A0;
}
table thead
{
	
}
table thead th {
    font-weight: bold !important;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f7f7f7),color-stop(100%,#ededed));
    background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -o-linear-gradient(#f7f7f7,#ededed);
    background-image: linear-gradient(#f7f7f7,#ededed);
    border: 1px solid #ccc !important;
    text-shadow: 0 1px 0 #fff;
}
table .badge {
    font-size: 11px;
    min-width: 54px;
    height: 20px;
    line-height: 19px;
    padding: 0px;
    background: #EFEFEF;
    text-shadow: rgba(255,255,255,.75)0 1px 0;
    border: 1px solid #b0b0b0 !important;
    color: #686868;
    box-shadow: 1px 1px 2px rgba(189, 188, 188, 0.51) inset;
}
.search-block {
    display: inline-block;
    max-width: 310px;
    vertical-align: top;
}
.search-block .input-group-btn .btn {
    height: 37px;
}
.search-block .form-control {

    height: 37px;
}
.space-right
{
	margin-right:10px;
}
.table-footer
{
}
.table-footer .pagination {
    padding-left: 0;
    margin: 0px !important;
    border-radius: 0;
}
.goto-link .form-control
{
	    height: 37px;
		    padding: 7px 12px;
			text-align:left;
}
.null-store {
    COLOR: white !important;
    background-color: #929292 !important;
    box-shadow: 1px 1px 2px rgba(107, 105, 105, 0.51) inset !important;
}
.popover {
    max-width: 200px;
   
}
.panel {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: none;
}
.page-head h2 {
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
}
.table {
    margin-bottom: 0px;
}
.add-btn
{
	margin-right:10px;
}
.goto-link select
{
	display: inline-block;
    width: 73px;
} 
.goto-link
{
	
}
form.dropzone h2 {
    margin-bottom: 18px;
    font-size: 21px;
    font-weight: 600;
}
.md-modal .md-content .modal-body, .md-modal .modal-content .modal-body, .modal .md-content .modal-body, .modal .modal-content .modal-body {
    padding: 20px 20px;
}
.timing-control 
{
	padding:0px 15px;
}
.timing-control > div
{
	padding:0px;
}
/*#########upload css start###########*/
form.dropzone .icon {
    background-color: #e6e6e6;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: 0px;
    padding: 15px;
    text-align: center;
}
form.dropzone .icon span {
    font-size: 32px;
    color: #646262;
}
form.dropzone {
    border: 2px dashed #c5c5c5;
    padding: 10px 26px 10px;
    background: 0 0;
    background-color: #F1F1F1;
    min-height: 98px;
    margin-bottom: 1em;
}
.dropzone .dz-message {
    text-align: center;
    margin: 9px 0;
}
.dropzone.dz-clickable * {
    cursor: default;
}
form.dropzone h2 {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
}
form.dropzone .note {
    font-size: 12px;
}

.dropzone .dz-message {
    text-align: left;
    margin: 5px 0;
}
.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 81px;
    height: 80px;
    position: relative;
    display: block;
    z-index: 10;
}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 13px;
}
.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 80px;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 37px;
    height: 37px;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 62%;
    left: 60%;
    margin-left: -27px;
    margin-top: -27px;
}
/*#########upload css end###########*/
.view-block
{
	
}
.view-block-heading
{
	
}
.view-block-heading h4
{
	background-color: #232831;
    margin: 0px;
    padding: 9px 17px;
    font-size: 14px;
    margin-top: 12px;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold !important;
    color: #F9F9F9;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f7f7f7),color-stop(100%,#ededed));
    background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -o-linear-gradient(#f7f7f7,#ededed);
    background-image: linear-gradient(#f7f7f7,#ededed);
    border: 1px solid #ccc !important;
    text-shadow: 0 1px 0 #fff;
    color: #535353;
}
.view-block-body
{
	    background-color: #FBFBFB;
    padding: 16px;
    border: 1px solid #CCCCCC;
    border-top: none;
}
.offers {
    list-style-type: none;
    padding: 0px;
}
.offers li {
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0px;
}
.offers li label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: lighter;
}
.offers li .progress {
    margin-bottom: 0px;
    
}
.offers li .progress > div
{
	
}
.page-head .breadcrumb {
    background: none;
    margin-bottom: 0;
    padding: 4px;
    font-size: 12px;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.breadcrumb>.active {
    color: #484646;
}
.rewards-alert h4 {
    margin-top: 0;
    color: inherit;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 18px;
}
.rewards-alert>.icon {
    display: table-cell;
    width: 140px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}
.reward-list .btn {
    min-width: 65px;
}
.reward-icon {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
}
.reward-list .reward-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color: white;
}
.rp-1 .reward-icon {
    background-color: #9457C1;
}
.rp-1 h4
{
	color:#9457C1;
	
	margin-top:0px;
	
}
.rp-2 .reward-icon {
    background-color: #35C374;
}
.rp-2 h4
{
	color:#35C374;
	
	margin-top:0px;
}
.rp-3 .reward-icon {
    background-color: #EC3C3C;
}
.rp-3 h4
{
	color:#EC3C3C;
	
	margin-top:0px;
}
.rp-4 .reward-icon {
    background-color: #00A1FF;
}
.rp-4 h4
{
	color:#00A1FF;
	
	margin-top:0px;
}
.datetimepicker span.btn
{
	color: #FFF;
	
}
.am-radio label
{
	font-weight:lighter;
}
.expand-box {
    background-color: #F7F7F7;
    border: 1px dashed #C7C7C7;
    border-radius: 3px;
	opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:all ease-in-out 150ms;
}
input[type="radio"]:checked ~ .expand-box
{
  opacity: 1;
  max-height: inherit; /* little bit of a magic number :( */
  overflow: visible;
  margin-top: 10px; 
  padding: 10px;
}
.expand-box label {
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 600;
}
.expand-box .am-radio 
{
	
}
.slider-track {
    background: #E8E8E8;
    box-shadow: none;
    border: 1px solid #A8C8FD;
}
.top-controls .form-control {
    display: inline-block;
    width: 139px;
    height: 25px;
    vertical-align: middle;
}
.top-controls td > label, .top-controls .form-group-sm label {
    font-size: 11px;
    margin-right: 6px;
    vertical-align: middle;
    margin-bottom: 0px;
}
.top-controls td {
    padding: 4px 8px !important;
    background-color: #F9F9F9;
}
.title-left
{
	float:left;
}
.form-footer {
    padding-top: 15px;
    margin-top: 2em;
    border-top: 1px solid #CCCCCC;
}
.setting-menu-list {
    margin-bottom: 2em;
}
.setting-menu-list ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
}
.setting-menu-list ul li
{
	
}
.setting-menu-list ul li h5 {
    margin: 0px;
    color: white;
    padding: 10px 13px;
    font-size: 15px;
    margin-bottom: 6px;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de)) !important;
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: linear-gradient("top",#50a9fc,#0075de) !important;
    text-shadow: rgba(0,76,186,.75)0 -1px 0 !important;
    border-color: #004cba !important;
    border-radius: 4px 4px 0px 0px;
	position:relative;
}
.setting-menu-list ul li h5:after {
    content: "\f013";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 15px;
	transition:all ease-in 200ms;
}
.setting-menu-list ul li a {
    display: block;
    border: 1px solid #ECECEC;
    padding: 8px 12px;
    font-size: 13px;
    background-color: #F9F9F9;
    margin-bottom: 2px;
	position:relative;
}
.setting-menu-list ul li a:after {
    content: "\f101";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 15px;
	transition:all ease-in 200ms;
}
.setting-menu-list ul li:hover a:after
{
	right: 23px;
} 
.setting-menu-list ul li a:hover
{
	    background-color: #ECECEC;
}
.fuelux .wizard>.steps li.complete .chevron {
    border-left-color: #2A68CE;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de));
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de);
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de);
    background-image: linear-gradient("top",#50a9fc,#0075de);
    text-shadow: rgba(0,76,186,.75)0 -1px 0;
    border-color: #004cba;
    margin-bottom: -1px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    background-color: #399AF3;
	color:#FFF;
	margin-right:5px;
}
.nav-tabs>li.active a  {
    background-color: #fff;
    border: none;
    border: 1px solid #E4E4E4;
    text-shadow: none !important;
    border-bottom: 1px solid white;
    background-image: none !important;
}
.nav-tabs>li.active a:focus, .nav-tabs>li.active a:hover
{
    border: none;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid white;
}
.nav-tabs {
    background-color: transparent;
    border-bottom-width: 0;
}
.nav-tabs>li a {
    color: #FFFAFA;
    border-width: 0;
}
.tab-content table
{
	margin-bottom:15px;
}
.tab-left .nav-tabs>li>a {
    border-right: 1px solid white;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de));
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de);
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de);
    background-image: linear-gradient("top",#50a9fc,#0075de);
    text-shadow: rgba(0,76,186,.75)0 -1px 0;
    border-color: #004cba;
    margin-bottom: 6px;
    margin-right: -1px;
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    background-color: #399AF3;
}

.tab-left .nav-tabs>li.active a {
    background-color: #fff;
    border: none;
    border: 1px solid #E4E4E4;
    text-shadow: none !important;
    border-right: 1px solid white !important;
    background-image: none !important;
}
.tab-content {
    overflow: auto;
    border: 1px solid #E4E4E4;
    margin-bottom: 0px;
}
.edit-offer-modal .custom-width
{
	max-width:700px;
}
.offer-menu-responsive
{
	display:none;
}
.offer-menu .navbar-nav li a {
    color: #1180E5;
    border-right: 1px solid #3572D6;
    padding: 4px 12px;
    font-size: 11.7px;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
}
.offer-menu .navbar-nav li a:hover {
    background-color: #F5F5F5;
    color: #1C87E8 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #384152;
	
}
.offer-menu .navbar {
    min-height: auto !important;
    border-radius: 0px;
    border: 1px solid rgb(212, 212, 212);
    background-color: #EFEFEF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1C87E8;
}
.offer-menu .navbar-nav li a:hover, .offer-menu .navbar-nav li a:focus
{
	color:#FFF;
}
.tab-box
{
	display:none;
}
.dataTables_filter select {
    border: 1px solid #eaeaea;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-width: 2px;
    height: 30px;
    /* line-height: 30px; */
}
.dataTables_filter label
{
	font-weight:normal;
	margin-bottom:0px;
}
#edit-footer
{
	
}
.tabbable .nav-tabs>li a {
    padding: 8px 10px;
    font-size: 12px;
}
.tabbable .dropdown-menu li a {
    color: #0F7FE3;
    text-align: left;
    border-bottom: 1px solid #E6E5E5;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.no-offer-block
{
    background-color: #F3F3F3;
    padding: 10px;
    border: 1px solid #E4E4E4;
}
.wizard-verticle {
    overflow: hidden;
    padding: 0px;
}
.wizard-verticle .row
{
	
}
.wizard-verticle .row > div
{
	
	
}
.wizard-verticle .steps {
    list-style-type: none;
    padding: 0px;
    margin-left: 0px !important;
    /* height: 100vh; */
    min-height: 100%;
}
.wizard-verticle .steps li {
    background-color: #D8EAF5;
    padding: 5px;
    margin-bottom: 2px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #2D92EF;
    box-sizing: border-box;
    font-weight: bold;
    color: #1683E6;
    font-size: 11px;
    cursor: not-allowed;
}
.wizard-verticle .steps li:after {
    content: "\f054";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 11px;
    top: 9px;
    font-size: 11px;
}
.wizard-verticle .steps li.complete:after {
    content: "\f00c";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 10px;
    top: 9px;
    font-size: 12px;
}
.wizard-verticle .steps li span {
    display: inline-block;
    background-color: rgb(19, 129, 229);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
    text-shadow: none;
    margin-right: 5px;
    color: #FFFFFF;
}
.wizard-verticle .steps li.complete span {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #68AA3D;
}
.wizard-verticle .steps li.active span {
    display: inline-block;
    background-color: rgb(255, 255, 255) !important;
    color: #0F7EE3;
}
.wizard-verticle .steps li.active {
    color: #FFFFFF !important;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#50a9fc),color-stop(100%,#0075de)) !important;
    background-image: -webkit-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: -moz-linear-gradient("top",#50a9fc,#0075de);
    background-image: -o-linear-gradient("top",#50a9fc,#0075de) !important;
    background-image: linear-gradient("top",#50a9fc,#0075de) !important;
    text-shadow: rgba(0,76,186,.75)0 -1px 0 !important;
    border: 1px solid #087AE1 !important;
    cursor: default;
}
.wizard-verticle .steps li.complete {
    background: #85cc39;
    background: -moz-linear-gradient(top, #85cc39 0%, #6daf3d 100%);
    background: -webkit-linear-gradient(top, #85cc39 0%,#6daf3d 100%);
    background: linear-gradient(to bottom, #85cc39 0%,#6daf3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85cc39', endColorstr='#6daf3d',GradientType=0 );
    text-shadow: rgb(94, 146, 58)0 -1px 0 !important;
    color: #FFFFFF;
    border: 1px solid #599A24;
    cursor: pointer;
}
.wizard-verticle .step-content {
    
    border-top: 0px ;
}
.detail-box {
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.wizard-verticle .step-content {
    float: left;
    width: 100%;
    padding: 20px 0px 0px 0px !important;
    clear: both;
    border-top: 1px solid #E2E2E2;
}
.final-step {
    background-color: #ECECEC !important;
    border: 1px solid #CCCCCC !important;
    color: #545454 !important;
}
.final-step span {
    display: inline-block;
    background-color: rgb(85, 85, 90) !important;
}
.final-step {
    margin-top: 40px;
}
.final-step:before {
    content: "\f063";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 40px;
    top: -31px;
    font-size: 22px;
	color: gainsboro;
}
.edit-tab:after {
    content: "\f040" !important;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 14px;
    top: 11px;
    font-size: 16px;
}
.step-count {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f7f7f7),color-stop(100%,#ededed));
    background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -o-linear-gradient(#f7f7f7,#ededed);
    background-image: linear-gradient(#f7f7f7,#ededed);
    border: 1px solid #ccc !important;
    color: #535353;
    padding: 5px;
}
.step-count-block > div {
    border-radius: 20px;
    margin-bottom: 0px;
    background-color: white;
    border: 1px solid #A7C3DC;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #3396F1;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.summary-title {
    margin-top: 15px;
}
.summary-title h3 {
    margin: 0px;
    margin-bottom: 5px;
}
.harizontal-tabs ul
{
	margin:0px;
}
.harizontal-tabs ul li {
    display: inline-block;
    padding-right: 26px !important;
}
.harizontal-tabs .final-step {
    margin-top: 0px;
}
.harizontal-tabs .final-step:before
{
	display:none
}
.cri-progres
{
	display:inline-block
}
.wizrad-progress {
    position: absolute;
    right: 8px;
    top: 7px;
    display: inline;
    width: inherit;
    z-index: 1000;
    transition: all ease-in-out 100ms;
}
.wizard-verticle .affix {
    width: 100%;
    z-index: 100;
    margin-left: -261px;
    padding-left: 257px !important;
}
.harizontal-tabs {
   
    z-index: 1000;
    transition: all ease-in-out 100ms;
   
}
.wizard-verticle .affix .topbar-inner {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #CACCCE;
    box-shadow: 0px 1px 10px rgba(160, 160, 160, 0.54);
    padding: 10px 15px;
}
.topbar-inner {
    position: relative;
    padding-right: 52px !important;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.topbar-inner > div
{
	padding:0px;
}
.step-horizontal-wizard {
    border-top: 1px solid #E2E2E2 !important;
    margin-top: 0px;
}
.step-horizontal-wizard .view-block-body {
    background-color: #FFFFFF;
    padding: 0px 0px;
    border: 1px solid #FFFFFF;
    border-top: none;
    margin-top: 0px;
}
.step-horizontal-wizard .view-block-heading h4 {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 9px 11px;
    font-size: 13px;
    margin-top: 0px;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold !important;
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -o-linear-gradient(#f7f7f7,#ededed);
    background-image: none;
    border: 0px !important;
    text-shadow: 0 1px 0 #fff;
    color: #535353;
    display: inline-block;
    padding-right: 0px;
}
.popover {
    max-width: 250px !important;
}
.cri-progres span {
    line-height: 28px !important;
    font-weight: bold;
}
.affix {
    position: fixed;
    top: 80px;
}
.affix .wizrad-progress {
    position: absolute;
    display: inline;
    width: initial;
    z-index: 1000;
}
.select-group
{
	display: table;
}
.select-group select
{
	display: table-cell;
    float: left;
}
.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}
.step-content .form-group {
    margin-bottom: 20px;
}
.panel {
    background-color: #fff;
    margin-bottom: 0px;
    box-shadow: none;
    margin-bottom: 6em;
}
.detail-box h3
{
	margin-top:0px;
}
.form-header {
    padding: 0px 0px;
}


.tips {
    padding: 4px 10px;
    border: 1px solid #ECECEC;
    color: #797979;
    background-color: #FBFBFB;
    font-size: 12px;
}
.form-header .btn {
    border-radius: 4px;
    font-size: 11px;
    padding: 0px 10px;
    height: 30px;
}
.form-header .dropdown-menu>li>a {

    padding: 2px 13px;
}
.form-header .dropdown-menu {
    padding: 0px;
    right: 0px;
    left: inherit;
    min-width: 100%;
}
.toggle-link label {
    margin-bottom: 0px;
    font-size: 13px;
}
.toggle-link th {
    padding: 8px 8px !important;
}
.field-title h4 {
    font-weight: bold;
    border-bottom: 1px dashed #B4C5D4;
    color: #3179B9;
    padding-bottom: 4px;
    margin-bottom: 19px;
}
.box {
    padding: 10px;
    display: none;
    margin-top: 20px;
    border: 1px dashed #C5C5C5;
    background-color: #F9F9F9;
    font-size: 12px;
    transition: all ease-out 300ms;
    margin-bottom: 15px;
}
.note-editor
{
	margin-bottom:0px;
}
.btn-tips {
    width: 19px;
    height: 18px;
    border-radius: 50%;
    line-height: 15px;
    padding: 0px;
    border: 2px solid white;
    box-shadow: 0px 0px 3px rgba(19, 18, 18, 0.36);
    font-size: 11px;
    margin-left: 3px;
    font-weight: bold;
    text-align: center;
}
.form-control {
    font-size: 13px;
}
.view-box
{
	
}
.view-box-heading h4 {
    background-color: #232831;
    margin: 0px;
    padding: 9px 17px;
    font-size: 14px;
    margin-top: 12px;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold !important;
    color: #F9F9F9;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f7f7f7),color-stop(100%,#ededed));
    background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -o-linear-gradient(#f7f7f7,#ededed);
    background-image: linear-gradient(#f7f7f7,#ededed);
    border: 1px solid #ccc !important;
    text-shadow: 0 1px 0 #fff;
    color: #535353;
    margin-top: 0px;
}
.view-box-body
{
	background-color: #FBFBFB;
    padding: 16px;
    border: 1px solid #CCCCCC;
    border-top: none;
}
.message-box {
    max-width: 500px;
    margin: 0 auto;
    background-color: #F3F3F3;
    border: 5px solid white;
    box-shadow: 0px 0px 4px #C5C5C5;
    padding: 10px;
    text-align: center;
	margin-bottom:2em
}
.mesaage-icon i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #1985E7;
    color: white;
    border-radius: 50%;
    font-size: 31px;
    margin-top: 14px;
}
.message-box h3 {
    font-size: 15px;
}
.am-checkbox.inline, .am-radio.inline, .am-checkbox.inline, .am-radio.inline {
    margin-right: 12px;
    vertical-align: top;
    margin-left: 0px !important;
}
.am-checkbox.inline:last-child, .am-radio.inline:last-child, .am-checkbox.inline:last-child, .am-radio.inline:last-child
{
	 margin-right: 0px;
}
.login-block {
    height: 100vh;
    background-color: #0d223f;
    display: table;
    width: 100%;
    padding: 15px;
}
.login-inner {
    display: table-cell;
    vertical-align: middle;
}
.login-form
{
	
}
.am-content > div {
    padding-left: 20px;
}
.kreller-logo img {
    width: 180px;
    margin-bottom: 40px;
}

.btn-theme-gray, .btn-theme-gray:focus {
    background-color: #E0E0E0;
    font-weight: bold;
    color: #040F1D;
    border: 1px solid #CACACA !important;
    border-radius: 3px;
}
.btn-theme-gray:hover
{
	    background-color: #ECEBEB;
}
.btn-theme-gray:active{
	 -webkit-box-shadow: #523B00 0 0 10px inset;
    -moz-box-shadow: #0435a8 0 0 5px inset;
    box-shadow: #654800 0 0 14px inset;
	 box-shadow: none;
}
.btn-theme-yellow, .btn-theme-yellow:focus {
    background-color: #fdba13;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #DA9F0C;
}
.btn-theme-yellow:hover
{
    background-color: #F3B00A;
    color: #FFFFFF;
}
.btn-theme-yellow:active{
	 -webkit-box-shadow: #523B00 0 0 10px inset;
    -moz-box-shadow: #0435a8 0 0 5px inset;
    box-shadow: #654800 0 0 14px inset;
	 box-shadow: none;
}
.login-form a {
    color: #6F85A2 !important;
}
.login-form a:hover
{
	color: #fdba13 !important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 9px 16px;
    font-size: 15px;
    line-height: 1.6333333;
    border-radius: 0;
}
.logo-kreller-main img {
    width: 92px;
}
.serach-container > div {
    width: 387px;
    margin-bottom: 0px;
    margin-top: 17px;
}
.case-icon i {
    font-size: 46px;
    color: #0D2240;
}
.btn-mycase {
    background-color: transparent;
    padding: 0px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #0D2240 !important;
}
.add-new-case {
    margin-top: 6px;
}
.my-case-container {
    position: relative;
}
.my-case-inner {
    padding-left: 56px;
}
.case-icon {
    position: absolute;
}
.md-modal.colored-header .md-content .modal-header, .md-modal.colored-header .modal-content .modal-header, .modal.colored-header .md-content .modal-header, .modal.colored-header .modal-content .modal-header {
    background-color: #FDBA13;
    color: #313131;
    padding: 20px 15px;
}
.md-modal.colored-header .md-content .modal-header .close, .md-modal.colored-header .modal-content .modal-header .close, .md-modal.md-dark .md-content .modal-header .close, .md-modal.md-dark .modal-content .modal-header .close, .modal.colored-header .md-content .modal-header .close, .modal.colored-header .modal-content .modal-header .close, .modal.md-dark .md-content .modal-header .close, .modal.md-dark .modal-content .modal-header .close {
    margin-top: 2px;
    color: #313233;
}
.md-modal .md-content .modal-header .close, .md-modal .modal-content .modal-header .close, .modal .md-content .modal-header .close, .modal .modal-content .modal-header .close {
    font-size: 26px;
    opacity: 1.4;
    text-shadow: none;
}
.open-cases h3 {
    margin-top: 3px;
    color: #0D2240;
    font-size: 22px;
}
.case-bottom strong {
    display: block;
    color: #0D2240;
    font-size: 14px;
    margin-top: 1px;
}
field-validation-error
{
    color:#FFD363;
}
@media (min-width: 1366px) {
  #sidebar-2.affix-top {
    position: static;
  	margin-top:0px;

  }
  
  #sidebar-2.affix {
    position: fixed;
    top: 75px;
    width: 19.5%;
    margin-top: 15px;
}
}
@media (max-width: 1366px) {
  
  #sidebar-2.affix {
    position: fixed;
    top: 75px;
    width: 24.2%;
    margin-top: 15px;
}
}
@media (max-width: 1024px) {
  
  #sidebar-2.affix {
    position: fixed;
    top: 75px;
    width: 24.2%;
    margin-top: 15px;
}
}
@media (max-width: 1024px) {
  
  #sidebar-2.affix, #sidebar-2.affix-top {
    position: static !important;
    top: 75px;
    width: 100%;
    margin-top: 15px;
	height:auto !important
}
}


@media (max-width:1024px)
{
	.offer-menu
	{
		display:none;
	}
	.offer-menu-responsive
	{
		display:block;
	}
	
	
}
@media (max-width:991px)
{
	.case-detail > div {
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
}

@media (min-width: 768px)
{
	
.edit-offer-modal .modal-dialog, .edit-offer-modal-2 .modal-dialog {
    width: 800px;
    margin: 30px auto;
}

}
@media (max-width:640px)
{
	
	.setup-block .btn {
    min-width: 90px;
    color: #fff;
    font-weight: lighter;
    font-size: 12px;
}
.setup-block h4 {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
}
.main-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.fuelux .wizard>.actions {
	display:none !important;
}

}
@media (max-width:480px)
{
	.setup-block > div > div
	{
		padding:0px;
	}
	.setup-block h4 {
    
    font-size: 13px;
}
.setup-block .btn {
    min-width: 80px;

    font-size: 11px;
}
}

@media (max-width:767px)
{
	
	.am-content > div {
    padding-left: 20px;
}
.add-new-case {
    margin-top: 6px;
    text-align: left;
    margin-top: 12px;
}
	.secondry-menu {
   
    position: static !important;

}
.maga-menu
{
	width:100% !important;
	
}
.maga-menu li ul li
{
	padding:0px;
	
}
.panel-heading .tools {
    float: none;
    font-size: 0;
    margin-top: 15px;
}
.title-left {
    float: none;
}
.wizard-verticle .affix {
    position: static !important;
    width: inherit;
}

}
.text-top {
    max-width: 406px;
    margin: 0 auto;
    margin-bottom: 31px;
}
.f-pass-modal .modal-header {
    border: 0;
    background-color: #FCFCFC;
    border-bottom: 1px solid #E5E5E5 !important;
    text-align: center;
}
.f-pass-modal .modal-header h4
{
 font-weight:500;
}
.f-pass-modal .modal-dialog {
    margin-top: 100px;
}
.bg-pass {
    background-image: url(/Assets/img/login-bg.jpg);
}
.error-msg 
{
    color: red;
    margin-top: 4px;
    display: block;
    font-size: 14px;
    margin-left: 4px;
}
.success-msg{    
    color: green;
}
.msg-list {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}
.msg-list ul{
       list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}
.login-form .form-control {
    font-size: 13px;
    height: 46px !important;
}
@media (max-width: 560px) 
{
    .message-note-checkbox {
    position: static;
    z-index: 100;
    border: 2px solid #e9e9e9;
    padding: 8px 9px;
    right: 0px;
    display: inline-block;
    margin-bottom: 10px;
}
}
@media (max-width: 500px) {
.back-padding {
    padding-top: 42px;
    padding-left: 0px;
}
.my-case-inner 
{
 padding-left: 0px;
}
.case-detail-left {
    float: left !important;
    margin-right: 0px;
}
.my-case-container .my-case-inner {
    padding-top: 50px;
    padding-left: 0px;
}
}

