﻿<div ng-controller="TaskController as taskController" ng-init="taskController.init()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-4 col-sm-9">
                    <div class="my-case-container">

                        <div class="case-icon">
                            <img src="/Assets/icons/tasks2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div>
                            <span><strong>{{taskController.filterOption}}</strong></span></div>
                            <div class="open-cases">
                                <div class="dropdown btn-group btn-hspace" uib-dropdown>
                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">
                                        Tasks <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>

                                    <ul uib-dropdown-menu role="menu" class="dropdown-menu case-dropdown">
                                        <li><a href="#" ng-click="taskController.getFilterForEachOption(0)">Not Started</a></li>
                                        <li><a href="#" ng-click="taskController.getFilterForEachOption(1)">In Progress</a></li>
                                        <li><a href="#" ng-click="taskController.getFilterForEachOption(2)">Completed</a></li>
                                        <li><a ng-if="taskController.roleName != 'Participant'" href="#" ng-click="taskController.getFilterForEachOption(3)">Archived</a></li>
                                        <li><a href="#" ng-click="taskController.getFilterForEachOption(4)">All</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="nav navbar-nav am-nav-right col-md-4 col-sm-6">
                    <li class="serach-container hidden-sm">
                        <div class="input-group search-box-small">
                            <span class="input-group-btn">
                                <button class="btn search-btn" ng-click="taskController.searchTasks(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                            </span>
                            <input type="text" placeholder="Search Tasks" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && taskController.isTaskSearchActive ? taskController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? taskController.searchTasks(searchQuery) : null">
                            <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                <button class="btn search-btn search-reset" ng-click="searchQuery=''; taskController.isTaskSearchActive ? taskController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content" ng-hide="taskController.roleName == 'Participant'">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr ng-if="taskController.allTasks.length > 0">
                                            <th width="100">Due</th>
                                            <th>Status</th> 
                                            <th>Priority</th>
                                            <th width="200">Nickname</th>   
                                            <th width="300">Task</th> 
                                            <th ng-if="!taskController.isSalesPerson">Country</th>        
                                            <th ng-if="taskController.isSalesPerson">Client</th>                                                                                                                                   
                                            <th>Assigned To</th>
                                            <th width="100">Complete</th>
                                            <th width="100"></th>
                                        </tr>
                                        <tr ng-if="taskController.isTaskSearchActive && taskController.allTasks.length == 0">
                                            <th> No result found</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="task in taskController.allTasks">
                                        <tr>
                                            <td width="100">{{task.dueDate | date}}</td>
                                            <td class="status-btn">
                                                <button ng-if="task.status == 0" class="btn btn-gray btn-xs">NOT STARTED</button>
                                                <button ng-if="task.status == 1" class="btn btn-warning btn-xs">IN PROGRESS</button>
                                                <button ng-if="task.status == 2" class="btn btn-success btn-xs">COMPLETED</button>
                                            </td> 
                                            <td ng-if="task.priority == 0">Regular</td>
                                            <td ng-if="task.priority == 1">Low</td>
                                            <td ng-if="task.priority == 2" class="text-danger">High</td>
                                            <td ng-hide="taskController.isSalesPerson"><span ng-class="!task.case.isDeleted ? 'pointer text-primary' : null" tooltip-placement="top" uib-tooltip="Client Name - {{task.case.client.clientName}}" ng-click="!task.case.isDeleted ? taskController.openSelectedTaskCaseDetails(task.case.caseNumber) : null">{{task.case.nickName}} <br> ({{task.case.caseNumber}})</span></td>
                                            <td width="200" ng-show="taskController.isSalesPerson"><a href="#" ng-click="taskController.openSelectedTaskCaseDetails(task.case.caseNumber)">{{task.case.nickName}} <br> ({{task.case.caseNumber}})</a></td>
                                            <td width="300"><span ng-class="taskController.filterOption != 'Archived' ? 'pointer text-primary' : null" ng-click="taskController.filterOption != 'Archived' ? taskController.goToTaskComments(task) : null" tooltip-placement="top" uib-tooltip="{{task.title}}" tooltip-enable="{{task.title.length > 30}}">{{ task.title.length > 30 ? task.title.slice(0,26) +'...' : task.title }}</span></td>
                                            <td ng-if="!taskController.isSalesPerson">{{task.case.primaryReportCountryName}}</td>
                                            <td ng-if="taskController.isSalesPerson">{{task.case.client.clientName}}</td>
                                            <td><strong>{{task.assignedToUserDetails.firstName.charAt(0)}}{{task.assignedToUserDetails.lastName}}</strong></td>
                                            <td ng-show="task.completionDate != null">{{task.completionDate|date}}</td>
                                            <td ng-hide="task.completionDate != null"></td>
                                             <td>
                                                <div class="input-group-btn">
                                                    <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-message="Are you sure you want to delete this task ?" ng-really-click="taskController.archiveTask(task.taskId)"
                                                            ng-really-title="Delete Task?" item="task" ng-show="taskController.filterOption != 'Archived'" ng-if="taskController.canUserEditTask || taskController.task.createdBy == taskController.currentUserId">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                                <!--<div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </a>
                                                    <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                        <li ng-click="taskController.openEditTaskModal(task)"><a href="#">Edit</a></li>
                                                        <li ng-if="!task.isDeleted" ng-really-message="Are you sure you want to archive this task ?" ng-really-click="taskController.archiveTask(task.taskId)"
                                                ng-really-title="Archive Task?" item="task" has-permission="CASE_READ_ALL"><a href="#">Archive</a></li>
                                                        <li ng-if="task.isDeleted" ng-really-message="Are you sure you want to unarchive this task ?" ng-really-click="taskController.unarchiveTask(task)"
                                                            ng-really-title="Archive Task?" item="task" has-permission="CASE_READ_ALL"><a href="#">Unarchive</a></li>
                                                    </ul>
                                                </div>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<div class="control-footer text-right">
                                    <button ng-if="!taskController.areCompletedTasksHidden" ng-click="taskController.areCompletedTasksHidden=true; taskController.getAssignedTasks(0)" class="btn btn-theme-gray">Hide Completed</button>
                                    <button ng-if="taskController.areCompletedTasksHidden" ng-click="taskController.areCompletedTasksHidden=false; taskController.getAssignedTasks(0)" class="btn btn-theme-gray">Show All</button>
                                </div>-->
                            </div>
                            <div class="pagination-container" ng-if="taskController.totalNumberOfTasks > 0" >
                                <div class="text-center">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button ng-if="taskController.pageIndex != 0" ng-click="taskController.isTaskSearchActive ? taskController.getTasksByKeyword(taskController.pageIndex - 1) : taskController.getAssignedTasks(taskController.pageIndex - 1)" type="button" class="btn btn-default">
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                            </button>
                                            <button ng-repeat="page in taskController.allTaskPages track by $index" type="button" ng-class="{active:taskController.pageIndex == $index}" ng-click="taskController.isTaskSearchActive ? taskController.getTasksByKeyword($index) : taskController.getAssignedTasks($index)"
                                                    class="btn btn-default">
                                                {{$index + 1}}
                                            </button>
                                            <button ng-if="taskController.pageIndex != taskController.allTaskPages.length - 1" type="button" ng-click="taskController.isTaskSearchActive ? taskController.getTasksByKeyword(taskController.pageIndex + 1) : taskController.getAssignedTasks(taskController.pageIndex + 1)" class="btn btn-default">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


