﻿<div ng-controller="TaskController as taskController" class="modal-content">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="taskController.closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Task({{taskController.task.title}})</h4>
    </div>
    <div class="modal-body">
        <form class="modal-form" name="saveTaskForm" novalidate>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Task Title</label>
                    <input ng-model="taskController.task.title" name="task_title" placeholder="Please enter task title" class="form-control" required ng-disabled="taskController.canUserEditTask == false">
                    <span class="error-msg" ng-show="saveTaskForm.task_title.$invalid && saveTaskForm.$submitted">Please enter task title</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7">
                    <label>Assign To</label>
                    <ui-select ng-model="taskController.assignToUser" name="task_assignedTo" on-select="taskController.onUserSelected($item)" reset-search-input="true" required="true" class="form-control borderless" ng-show="taskController.canUserEditTask == true">
                        <ui-select-match placeholder="Please select user ...">
                            <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="user in (taskController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                            <span> {{user.firstName}} {{user.lastName}}</span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-control" ng-show="taskController.canUserEditTask == false">{{taskController.assignToUser.firstName}} {{taskController.assignToUser.lastName}}</div>
                    <span class="error-msg" ng-show="saveTaskForm.task_assignedTo.$invalid && saveTaskForm.$submitted">Please select user from list</span>
                </div>
                <div class="form-group col-md-5">
                    <label>Due Date</label>
                    <div class="has-feedback has-feedback-left">
                        <input type="text" class="form-control" ng-click="datePicker.opened=!datePicker.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="taskController.task.dueDate" is-open="datePicker.opened" datepicker-options="taskController.datePickerOptions" readonly close-text="Close" show-button-bar="false" ng-if="taskController.canUserEditTask == true" />
                        <input type="text" class="form-control" uib-datepicker-popup="MMMM dd, yyyy" ng-model="taskController.task.dueDate" datepicker-options="taskController.datePickerOptions" ng-if="taskController.canUserEditTask == false" disabled />
                        <span class="fa fa-calendar form-control-feedback"></span>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Description</label>
                    <p text-angular ta-toolbar="[['h1','h2','h3','bold','italics','underline','ol','ul']]" ng-model="taskController.task.description" ng-if="taskController.canUserEditTask == true"></p>
                    <p class="well well-task-comments" ng-if="taskController.canUserEditTask == false" ng-bind-html="taskController.task.description"></p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Status</label>
                    <ui-select ng-model="taskController.status" name="task_status" on-select="taskController.onTaskStatusSelected($item)" reset-search-input="true" required="true" class="form-control borderless" ng-show="taskController.canUserEditTask == true || taskController.currentUserEmail == taskController.task.assignedToUserDetails.email">
                        <ui-select-match placeholder="Please select status">
                            <span>{{$select.selected.type}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="taskStatus in  (taskController.taskStatus | filter: { type: $select.search }) track by taskStatus.value" refresh-delay="0">
                            <span> {{taskStatus.type}} {{user.lastName}}</span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-control" ng-show="taskController.canUserEditTask == false && taskController.currentUserEmail != taskController.task.assignedToUserDetails.email">{{taskController.status.type}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="taskController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
                <button type="submit" ng-click="taskController.saveTask(saveTaskForm.$valid)" class="btn btn-theme-yellow">Save</button>
            </div>
        </form>
    </div>
</div>

