﻿<div ng-controller="AnalyticsController as analyticsController" ng-init="analyticsController.init()" has-permission="VIEW_ANALYTICS">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">
                        <div class="case-icon">
                            <img src="/Assets/icons/reports2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div><span> View</span></div>
                            <div class="open-cases">
                                <div class="btn-group btn-hspace">
                                    <button type="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">Analytics <span class="caret"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
                <div class="btn-group userHeading">
                    <button ng-click="analyticsController.selectedAnalytics = analyticsController.analyticsTypeEnum['Case']" class="btn btn-theme-gray" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Case'] ? 'active' : null">Case Analytics</button>
                    <button ng-click="analyticsController.selectedAnalytics = analyticsController.analyticsTypeEnum['Task']" class="btn btn-theme-gray" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Task'] ? 'active' : null">Task Analytics</button>
                    <button ng-click="analyticsController.selectedAnalytics = analyticsController.analyticsTypeEnum['Expense']" class="btn btn-theme-gray" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Expense'] ? 'active' : null">Expense Analytics</button>
                    <button ng-click="analyticsController.selectedAnalytics = analyticsController.analyticsTypeEnum['Timesheet']" class="btn btn-theme-gray" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Timesheet'] ? 'active' : null">Timesheet Analytics</button>
                </div>
            <div class="row table-responsive analytics_height">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pivot-wrap">
                                <div id="case-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Case']"></div>
                                <div id="task-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Task']"></div>
                                <div id="expense-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Expense']"></div>
                                <div id="timesheet-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Timesheet']"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-header clearfix">
                <h4 style="padding-bottom:15px">
                    <span>Client Analytics</span>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pivot-wrap">
                                <div id="client-analytics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-header clearfix">
                <h4 style="padding-bottom:15px">
                    <span>User Analytics</span>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pivot-wrap">
                                <div id="user-analytics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<script>
    function displayAnalytics(selectedAnalytics, selectedRows, selectedCols, analyticsTypeEnum, analyticsType) {
        var selectedFields = {
            rows: selectedRows,
            cols: selectedCols
        };
        switch(analyticsType)
        {
            case analyticsTypeEnum['Case']: $("#case-analytics").pivotUI(selectedAnalytics, selectedFields); break;
            case analyticsTypeEnum['Task']: $("#task-analytics").pivotUI(selectedAnalytics, selectedFields); break;
            case analyticsTypeEnum['Expense']: $("#expense-analytics").pivotUI(selectedAnalytics, selectedFields); break;
            case analyticsTypeEnum['Timesheet']: $("#timesheet-analytics").pivotUI(selectedAnalytics, selectedFields); break;
        }
    }
    function displayClientAnalytics(clientAnalytics) {
    //    $("#client-analytics").pivotUI(
    //    clientAnalytics,
    //    {
    //        rows: ["CaseNumber", "CaseNickName", ],
    //        cols: ["ClientName", "ClientContactUser"]
    //    }
    //);
    }
    function displayUserAnalytics(userAnalytics) {
    //    $("#user-analytics").pivotUI(
    //    userAnalytics,
    //    {
    //        rows: ["UserName", "CasesCreated", "DelayedTasks", "Timesheets", "Expenses"],
    //        cols: []
    //    }
    //);
    }
</script>


