﻿@model Scorer.Web.ViewModels.UserManagement.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Scorer - Group</title> 
    @Styles.Render("~/angular/app/css")
    <link type="text/css" href="~/Content/css/custom.css" rel="stylesheet">
    <script src="~/Assets/lib/jquery/jquery.min.js" type="text/javascript"></script>     
    <script src="~/Assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body class="am-splash-screen bg-pass">

    <div class="am-wrapper am-login">
        <div class="am-content clearfix">

        </div>
    </div>
    
    <div class="modal fade f-pass-modal" id="f-pass-modal" tabindex="-1" role="dialog" aria-labelledby="f-pass-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="f-pass-modal-Label"><b>FORGOT YOUR PASSWORD?</b></h4>
                </div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" , id="forgotPassForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "error-msg msg-list" })
    if (Model != null && !String.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="msg-list">
            <ul>
                <li class="success-msg">@Model.SuccessMessage @Model.Email</li>
            </ul>
        </div>
    }
    <div class="modal-body">
        <div class="text-center text-top">
            @if (!(Model != null && !String.IsNullOrEmpty(Model.SuccessMessage)))
            {
                <p>Enter your email address below and we'll send you a link to reset your password.</p>
            }

        </div>
            @if (!(Model != null && !String.IsNullOrEmpty(Model.SuccessMessage)))
            {
                <div class="form-group">
                    <label>Email Address</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <span class="error_msg text-danger"></span>
                    

                </div>
            }
    </div>
    <div class="modal-footer">
@if (Model != null && !String.IsNullOrEmpty(Model.SuccessMessage))
{
        <button type="button" onclick="window.location.href='/Account/Login'" class="btn btn-theme-gray" data-dismiss="modal">Close</button>
}
else
{
    <button type="button" onclick="window.location.href='/Account/Login'" class="btn btn-theme-gray" data-dismiss="modal">Cancel</button>
    <button type="button" onclick="validateForm()" class="btn btn-theme-yellow">Send</button>
}
    </div>
}
            </div>
        </div>
    </div>    
    <script type="text/javascript">
    $(window).load(function(){
		$('#f-pass-modal').modal({backdrop: 'static'});
		$('#f-pass-modal').modal('show');
    });
    function validateForm() {
        if ($("#Email").val() == "") {
            $('span.error_msg').html("Enter Email Address");
            return;
        }
        else {
            $('span.error_msg').hide();
            $('#forgotPassForm').submit();
        }
        
    }
    </script>
</body>

</html>