﻿@model Scorer.Web.ViewModels.UserManagement.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Scorer - Group</title>   
    @Styles.Render("~/angular/app/css")
    <link type="text/css" href="~/Content/css/custom.css" rel="stylesheet">
    <script src="~/Assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body class="am-splash-screen bg-pass">

    <div class="am-wrapper am-login">
        <div class="am-content clearfix">

        </div>
    </div>    
   
    <div class="modal fade f-pass-modal" id="f-pass-modal" tabindex="-1" role="dialog" aria-labelledby="f-pass-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="f-pass-modal-Label"><b>SET NEW PASSWORD</b></h4>
                </div>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="resetForm" }))
{
                     @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "error-msg msg-list" })
    if (Model != null && !String.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="msg-list">
            <ul>
                <li class="success-msg">@Model.SuccessMessage Please @Html.ActionLink("click here to log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    }

                     @Html.HiddenFor(model => model.UserId)
                     @Html.HiddenFor(model => model.Code)
                                <div class="modal-body">
                                    @if (!(Model != null && !String.IsNullOrEmpty(Model.SuccessMessage)))
                                    {
                    <div class="form-group">
                        <label>Username</label>                    
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })                        
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <span class="error_msg_pass text-danger"></span>                      
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <span class="error_msg_confpass text-danger"></span> 
                    </div>
                                    }
                </div>
    
                <div class="modal-footer">
                    @if (Model != null && !String.IsNullOrEmpty(Model.SuccessMessage))
                    {
                        <button type="button" onclick="window.location.href='/Account/Login'" class="btn btn-theme-gray" data-dismiss="modal">Close</button>
                    }
                    else
                    {
                        <button type="button" onclick="window.location.href='/Account/Login'" class="btn btn-theme-gray" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="validateForm()" class="btn btn-theme-yellow">Save</button>
                    }
                </div>
}
            </div>
        </div>
    </div> 
    <script type="text/javascript">
        $(window).load(function () {
            $('#f-pass-modal').modal({ backdrop: 'static' });
            $('#f-pass-modal').modal('show');
        });
        function validateForm() {
            if ($("#Password").val() == "") {
                $('span.error_msg_pass').html("Enter password");
                return;
            }
            else if ($("#ConfirmPassword").val() == "") {
                $('span.error_msg_pass').hide();
                $('span.error_msg_confpass').html("Enter confirm password");
                return;
            }
            else {
                $('span.error_msg_pass').hide();
                $('span.error_msg_confpass').hide();
                $('#resetForm').submit();
            }
        }

    </script> 
        
</body>

</html>