﻿<div ng-controller="CaseDetailsController as caseDetailsController" class="tabs-full-width">
    <ul class="nav nav-tabs " role="tablist" id="js-tabs-example">
        <li id="caseTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/caseDetails')">
            <a href="/participant/cases/{{caseDetailsController.case.caseNumber}}/caseDetails" data-toggle="tab">Case</a>
        </li>
        <!--<li id="caseTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/caseDetails')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/caseDetails" data-toggle="tab">Case</a>
        </li>
        <li id="clientsTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/clients')">
            <a href="#" data-toggle="tab">Clients</a>
        </li>
        <li id="historiesTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/caseHistories')">
		    <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/caseHistories">History</a>
        </li>
        <li ng-hide="caseDetailsController.case.isNFCCase" id="tasksTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/tasks')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/tasks" data-toggle="tab">Tasks <span>({{caseDetailsController.case.caseAssociatedTaskCount}})</span></a>
        </li>
        <li ng-hide="caseDetailsController.case.isNFCCase" id="filesTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/files')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/files" data-toggle="tab">Files <span>({{caseDetailsController.allCaseFiles.length}})</span></a>
        </li>
        <li ng-hide="caseDetailsController.case.isNFCCase" id="reportsTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/reports')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/reports" data-toggle="tab">Reports <span>({{caseDetailsController.case.reports.length}})</span></a>
        </li>
        <li ng-hide="caseDetailsController.case.isNFCCase" id="timesheetsTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/timesheets')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/timesheets" data-toggle="tab">Timesheets <span>({{caseDetailsController.case.caseAssociatedTimesheetCount}})</span></a>
        </li>
        <li ng-hide="caseDetailsController.case.isNFCCase" id="expensesTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/expenses')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/expenses" data-toggle="tab">Expenses <span>({{caseDetailsController.case.caseAssociatedExpenseCount}})</span></a>
        </li>
        <li ng-hide="caseDetailsController.case.isNFCCase" id="discussionsTab" role="presentation" ng-class="caseDetailsController.setActiveTabClass('/discussions')">
            <a href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/discussions" data-toggle="tab">Discussions <span>({{caseDetailsController.case.caseAssociatedDiscussionCount}})</span></a>
        </li>
        <li ng-show="caseDetailsController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Tasks <span>({{caseDetailsController.case.caseAssociatedTaskCount}})</span></a>
        </li>
        <li ng-show="caseDetailsController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Files <span>({{caseDetailsController.allCaseFiles.length}})</span></a>
        </li>
        <li ng-show="caseDetailsController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Reports <span>({{caseDetailsController.case.reports.length}})</span></a>
        </li>
        <li ng-show="caseDetailsController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Timesheets <span>({{caseDetailsController.case.caseAssociatedTimesheetCount}})</span></a>
        </li>
        <li ng-show="caseDetailsController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Expenses <span>({{caseDetailsController.case.caseAssociatedExpenseCount}})</span></a>
        </li>
        <li ng-show="caseDetailsController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Discussions <span>({{caseDetailsController.case.caseAssociatedDiscussionCount}})</span></a>
        </li>-->
    </ul>
</div>
