<div ng-controller="HeaderController as headerController" ng-init="headerController.getUnreadNotifications()">
    <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="page-title ka-logo"><a href="#" class=""><img src="assets/img/logo-kreller-main.png"></a></div>
            </div>
            <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>

            <div id="am-navbar-collapse" class="collapse navbar-collapse">

                <ul class="nav navbar-nav am-nav-right ">
                    <li class="ka-logo hidden-xs"><a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><img src="assets/img/logo-kreller-main.png" class="img-responsive"></a></li>
                </ul>
                <div uib-dropdown class="nav navbar-nav navbar-right am-icons-nav hidden-xs notifications-nav">
                    <a href="#" ng-click="headerController.markUnreadNotificationsAsRead()" id="simple-dropdown" uib-dropdown-toggle class="dropdown-toggle">
                        <span class="icon s7-global"></span><span ng-class="{'indicator':headerController.numberOfNotifications != 0,'new_indicator':headerController.numberOfNotifications == 0}"><i>{{headerController.numberOfNotifications}}</i></span>
                    </a>
                    <ul class="dropdown-menu am-notifications" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li>
                            <div class="title">Notifications<span class="badge"></span></div>
                            <div class="list">
                                <div class="am-scroller">
                                    <div class="content ">
                                        <ul>
                                            <li ng-repeat="notification in headerController.unreadNotifications">
                                                <a href="#">

                                                    <div class="user-content"><strong>Jessica Caruso</strong><span class="text-content"> {{notification.notificationText}}</span><span class="date">2 min ago</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="nav navbar-nav navbar-right am-user-nav" uib-dropdown is-open="status.isopen">
                    <a uib-dropdown-toggle href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <span class="user-name">{{headerController.userName}}</span>
                        <!--<span class="angle-down s7-user"></span>-->
                        <img class="angle-down img-circle" ng-src="{{headerController.userProfilePicUrl}}" alt="...">
                    </a>
                    <ul uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a href="/participant/settings"> <span class="icon s7-config"></span>Settings</a></li>
                        <li><a href="#" ng-click="headerController.logOut('LogOff')"> <span class="icon s7-power"></span>Sign Out</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>


    
</div>
<script>
    $(".nav-icon a").click(function(){
        if($("body").hasClass('sidebar-collapse')){
            $('body').removeClass('sidebar-collapse');
        }
        else{
            $('body').addClass('sidebar-collapse');
            $('body').addClass('open-left-sidebar');

        }
    })
</script>

<script>
        (function($) {
            var $window = $(window),
                $body = $('body');

            $window.resize(function resize() {
                if ($window.width() < 767) {
                    return $body.addClass('sidebar-collapse');
                }

                $body.removeClass('sidebar-collapse');
            }).trigger('resize');
        })(jQuery);
</script>