﻿<div ng-controller="DiscussionController as discussionController" ng-init="discussionController.init()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-9">
                    <div class="my-case-container">

                        <div class="case-icon">
                            <img src="/Assets/icons/discussion2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div>
                                <span>View</span>
                                <span><strong></strong></span>
                            </div>
                            <div class="open-cases">
                                <div class="dropdown btn-group btn-hspace" uib-dropdown>
                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">
                                        My Discussions <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>

                                    <!--<ul uib-dropdown-menu role="menu" class="dropdown-menu case-dropdown">
                                    </ul>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="main-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading notification-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="btn-group pull-right">
                                                <button class="btn btn-theme-gray" ng-if="discussionController.showNotes == false" ng-click="discussionController.showNotes = true; discussionController.fetchAndStoreDiscussionsList(0)">Show Only Notes</button>
                                                <button class="btn btn-theme-gray" ng-if="discussionController.showNotes == true" ng-click="discussionController.showNotes = false; discussionController.fetchAndStoreDiscussionsList(0)">Show All</button>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                                <!-- START table-responsive-->
                                <div class="table-responsive discussion-history">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="discussion in discussionController.allDiscussions">
                                                <td width="280">
                                                    <img ng-src="{{discussion.user.profilePicUrl}}" class="img-circle"> <strong>{{discussion.user.firstName+" "+discussion.user.lastName}}</strong>
                                                </td>
                                                <td>
                                                    <div class="chat-link">
                                                        <a href="#">
                                                            <i class="fa fa-lg fa-file-text-o discussion_notes" ng-show="discussion.isNotes"></i>
                                                            <strong ng-click="discussionController.goToDiscussionMessages(discussion)">{{discussion.title}}</strong>
                                                            <span>{{discussion.recentMessage | htmlToPlaintext| limitTo:80}}</span>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="file-thumb">
                                                    <div class="thumb-list">
                                                        <ul class="list-inline">
                                                            <li ng-repeat="discussionFile in discussion.discussionAndDiscussionMessagesFiles">
                                                                <a tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-if="discussionFile.fileType == '.txt'" ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/txt.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.docx'" tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/docx.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.pdf'" tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/pdf.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.xlsx' || discussionFile.fileType == '.xls'" tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/xlsx.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.csv'" tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/csv.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.jpg'|| discussionFile.fileType == '.png' || discussionFile.fileType == '.jpeg'" tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/image.png" /></a>
                                                                <a ng-if="discussionFile.fileType != '.jpg' && discussionFile.fileType != '.png' && discussionFile.fileType != '.jpeg' && discussionFile.fileType != '.xlsx' && discussionFile.fileType != '.txt' && discussionFile.fileType != '.xls' && discussionFile.fileType != '.pdf' && discussionFile.fileType != '.docx' && discussionFile.fileType != '.csv'" tooltip-placement="top" uib-tooltip={{discussionFile.fileName}} ng-click="discussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/default.png" /></a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </td>

                                                <td width="180">
                                                    <span>{{discussion.lastEditedDateTime | date : 'medium'}}</span>
                                                </td>
                                                <td width="100" class="text-right"><a href="#" ng-click="discussionController.goToDiscussionMessages(discussion)" class="msg-count">{{discussion.messageCount}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- END table-responsive-->
                                <div class="pagination-container" ng-if="discussionController.numberOfDiscussions > 0">
                                    <div class="text-center">
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group" role="group">
                                                <button ng-if="discussionController.pageIndex != 0" ng-click="discussionController.isSearchActive ? discussionController.getDiscussionsByKeyword(discussionController.pageIndex - 1) : discussionController.fetchAndStoreDiscussionsList(discussionController.pageIndex - 1)" type="button" class="btn btn-default">
                                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                </button>
                                                <button ng-repeat="page in discussionController.allDiscussionPages track by $index" type="button" ng-class="{active:discussionController.pageIndex == $index}" ng-click="discussionController.isSearchActive ? discussionController.getDiscussionsByKeyword($index) : discussionController.fetchAndStoreDiscussionsList($index)"
                                                        class="btn btn-default">
                                                    {{$index + 1}}
                                                </button>
                                                <button ng-if="discussionController.pageIndex != discussionController.allDiscussionPages.length - 1" type="button" ng-click="discussionController.isSearchActive ? discussionController.getDiscussionsByKeyword(discussionController.pageIndex + 1) : discussionController.fetchAndStoreDiscussionsList(discussionController.pageIndex + 1)" class="btn btn-default">
                                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

