﻿<div ng-controller="DiscussionController as discussionController" ng-init="discussionController.getDiscussionDetails()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">

                        <div class="row case-detail">
                            <div class="col-md-7">
                                <div class="expenses block-title">
                                    <h3>Discussion</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <form class="main-content" name="saveDiscussionMessageForm" novalidate>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="panel panel-default">
                                <!-- START table-responsive-->

                                <div class="well comments-section">
                                    <h4>
                                        <i class="fa fa-file-text-o discussion_notes" ng-show="discussionController.selectedDiscussion.isNotes"></i>
                                        <a href="/case-management/discussions">{{discussionController.selectedDiscussion.title}}</a>
                                    </h4>
                                    <div ng-bind-html="discussionController.selectedDiscussion.message">
                                    </div>
                                    <div class="report-block" ng-show="discussionController.selectedDiscussion.discussionFiles.length>0">
                                        <div class="clearfix">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <table class="table table-hover table-condensed table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>File Name</th>
                                                                    <th width="20">Download</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="file in discussionController.selectedDiscussion.discussionFiles">
                                                                    <td>{{file.fileName}}</td>
                                                                    <td>
                                                                        <a tooltip-placement="bottom" uib-tooltip="Download" href="#" ng-click="discussionController.downloadFile(file.fileId)"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-control">
                                        <div class="message-date">
                                            {{discussionController.selectedDiscussion.creationDateTime|date:'medium'}}
                                        </div>
                                    </div>
                                </div>
                                <!-- START table-responsive-->
                                <div class="chat-discussion">

                                    <div class="chat-message left" ng-repeat="message in discussionController.allDiscussionMessages track by message.id">
                                        <img class="message-avatar" ng-src="{{message.createdByUser.profilePicUrl}}" alt="">
                                        <div class="message" ng-hide="message.id==discussionController.editDiscussionMessageId">
                                            <a class="message-author" href="#"> {{message.createdByUser.firstName+" "+message.createdByUser.lastName}} </a>
                                            <span class="message-content" ng-bind-html="message.message">
                                            </span>
                                            <span ng-repeat="imageUrl in message.imageUrls" class="mb-15 inline-block">
                                                <img ng-src="{{imageUrl}}" height="250" width="250" />
                                            </span>
                                            <div class="report-block" ng-show="message.files.length>0">
                                                <div class="clearfix">
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <table class="table table-hover table-condensed table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>File Name</th>
                                                                            <th width="20">Download</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="file in message.files">
                                                                            <td>{{file.fileName}}</td>
                                                                            <td>
                                                                                <a tooltip-placement="bottom" uib-tooltip="Download" href="#" ng-click="discussionController.downloadFile(file.fileId)"><i class="fa fa-download"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="msg-bottom">
                                                <span class="message-date">{{message.creationDateTime|date:'medium'}} </span>
                                                <div class="discussion-control">
                                                    <button class="btn btn-theme-gray btn-xs" ng-show="discussionController.newDiscussionMessage.createdBy==message.createdByUser.id" ng-disabled="discussionController.editDiscussionMessageId!=0" ng-click="discussionController.editDiscussionMessageId=message.id">Edit</button>
                                                    <button class="btn btn-theme-gray btn-xs" ng-really-click="discussionController.deleteDiscussionMessage(message)" ng-show="discussionController.newDiscussionMessage.createdBy==message.createdByUser.id" ng-really-message="Are you sure you want to archive this Message ?" ng-really-title="Archive Message ?">Archive</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message" ng-show="message.id==discussionController.editDiscussionMessageId">
                                            <a class="message-author" href="#"> {{message.createdByUser.firstName+" "+message.createdByUser.lastName}} </a>
                                            <div class="text-editor">
                                                <div name="message_{{message.id}}" text-angular ta-toolbar="[['h1','h2','h3','bold','italics','underline','ol','ul']]" ng-model="message.message" ng-required="message.files.length==0"></div>
                                                <div class="row drop-box" ngf-drop="discussionController.uploadDiscussionMessageFiles($files,message.id)"
                                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                                     ngf-pattern="*">
                                                    <div class="col-xs-12">
                                                        <div id="my-awesome-dropzone" class="dropzone" ngf-select="discussionController.uploadDiscussionMessageFiles($files,message.id)" multiple="multiple">
                                                            <div class="dz-message">
                                                                <div class="row">
                                                                    <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                                    <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="error-msg" ng-show="discussionController.showValidationMessage&&saveDiscussionMessageForm['message_'+message.id].$invalid">Please enter a message or upload a file before saving! </span>
                                                <div class="report-block" ng-show="message.files.length>0">
                                                    <div class="clearfix">
                                                        <label>Files</label>
                                                        <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                                        <div class="">
                                                            <table class="table table-bordered table-striped table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th>File Name</th>
                                                                        <th width="20">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="file in message.files">
                                                                        <td width="200">{{file.fileName}}</td>
                                                                        <td width="50">
                                                                            <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-theme-yellow btn-xs" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="discussionController.deleteDiscussionMessageAssociatedFile(file,message.id)" ng-really-title="Delete File?" item="file">
                                                                                <i class="fa fa-trash"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="msg-bottom">
                                                    <span class="message-date">{{message.creationDateTime|date:'medium'}} </span>
                                                    <div class="discussion-control">
                                                        <button class="btn btn-theme-yellow btn-xs" ng-click="discussionController.saveEditedDiscussionMessage(message)">Save</button>
                                                        <button class="btn btn-theme-gray btn-xs" ng-click="discussionController.discardDiscussionMessageChanges()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chat-message left">
                                        <img class="message-avatar" ng-src="{{discussionController.currentUser.profilePicUrl}}" alt="">
                                        <div class="message">
                                            <a class="message-author" href="#"> {{discussionController.currentUser.firstName+" "+discussionController.currentUser.lastName}} </a>
                                            <div class="text-editor">
                                                <div name="new_message" text-angular ta-toolbar="[['h1','h2','h3','bold','italics','underline','ol','ul']]" ng-model="discussionController.newDiscussionMessage.message" ng-required="discussionController.newDiscussionMessage.files.length==0"></div>
                                                <div class="row drop-box" ngf-drop="discussionController.uploadDiscussionMessageFiles($files,-1)"
                                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                                     ngf-pattern="*">
                                                    <div class="col-xs-12">
                                                        <div id="my-awesome-dropzone" class="dropzone" ngf-select="discussionController.uploadDiscussionMessageFiles($files,-1)" multiple="multiple">
                                                            <div class="dz-message">
                                                                <div class="row">
                                                                    <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                                    <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="error-msg" ng-show="discussionController.showValidationMessage&&saveDiscussionMessageForm['new_message'].$invalid&&discussionController.editDiscussionMessageId == 0">Please enter a message or upload a file before posting! </span>
                                                <div class="report-block" ng-show="discussionController.newDiscussionMessage.files.length>0">
                                                    <div class="clearfix">
                                                        <label>Files</label>
                                                        <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                                        <div class="form-group">
                                                            <table class="table table-bordered table-striped table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th>File Name</th>
                                                                        <th width="20">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="file in discussionController.newDiscussionMessage.files">
                                                                        <td width="200">{{file.fileName}}</td>
                                                                        <td width="50">
                                                                            <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-theme-yellow btn-xs" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="discussionController.deleteDiscussionMessageAssociatedFile(file,message.id)" ng-really-title="Delete File?" item="file">
                                                                                <i class="fa fa-trash"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="msg-footer text-right">
                                                    <button class="btn btn-theme-yellow" ng-click="discussionController.saveDiscussionMessage()">
                                                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END table-responsive-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

