﻿<div ng-controller="CaseNFCUserController as caseNFCUserController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseNFCUserController.closeModal()">&times;</span></button>
        <h3 ng-if="!caseNFCUserController.isNFCUserBeingEdited" class="modal-title">Add NFC User</h3>
        <h3 ng-if="caseNFCUserController.isNFCUserBeingEdited" class="modal-title">Edit NFC User</h3>
    </div>
    <form class="modal-body" name="inviteForm" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Email" popover-trigger="outsideClick">?</a>
                <ui-select ng-class="{'form_error':inviteForm.nfcUserEmail.$invalid && inviteForm.$submitted}" ng-model="caseNFCUserController.nfcCaseUser.user" name="nfcUserEmail" reset-search-input="true" on-select="caseNFCUserController.onNFCUserSelected($item)" required="true" tagging class="form-control" ng-disabled="caseNFCUserController.isNFCUserBeingEdited">
                    <ui-select-match placeholder="Please select or enter user email">
                        <span>{{caseNFCUserController.nfcCaseUser.user.email}}</span>
                        <a class="btn btn-xs btn-link pull-right" ng-click="caseNFCUserController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                    </ui-select-match>
                    <ui-select-choices repeat="nfcUser in (caseNFCUserController.allNFCUsers | filter: { email: $select.search }) track by nfcUser.id" refresh="caseNFCUserController.refresh($select)" refresh-delay="0">
                        <span>{{nfcUser.email}}</span>
                    </ui-select-choices>
                </ui-select>
                <span class="error-msg" ng-show="inviteForm.nfcUserEmail.$invalid && inviteForm.$submitted">User email is required</span>
            </div>
            <div class="form-group col-md-6">
                <label>First Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="First Name" popover-trigger="outsideClick">?</a>
                <input name="firstName" ng-class="{'form_error':inviteForm.firstName.$invalid && inviteForm.$submitted}" ng-model="caseNFCUserController.nfcCaseUser.user.firstName" placeholder="Please enter first name" class="form-control" required ng-disabled="caseNFCUserController.nfcCaseUser.user.id != -1 && !caseNFCUserController.isNFCUserBeingEdited">
                <span class="error-msg" ng-show="inviteForm.firstName.$invalid && inviteForm.$submitted">First name is required</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Last Name" popover-trigger="outsideClick">?</a>
                <input name="lastName" ng-class="{'form_error':inviteForm.lastName.$invalid && inviteForm.$submitted}" ng-model="caseNFCUserController.nfcCaseUser.user.lastName" placeholder="Please enter last name" class="form-control" required ng-disabled="caseNFCUserController.nfcCaseUser.user.id != -1 && !caseNFCUserController.isNFCUserBeingEdited">
                <span class="error-msg" ng-show="inviteForm.lastName.$invalid && inviteForm.$submitted">Last name is required</span>
            </div>
            <div class="form-group col-md-6">
                <label>Company Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Company Name" popover-trigger="outsideClick">?</a>
                <input name="companyName" ng-model="caseNFCUserController.nfcCaseUser.user.userDetails.companyName" placeholder="Please enter company name" class="form-control" ng-disabled="caseNFCUserController.nfcCaseUser.user.id != -1 && !caseNFCUserController.isNFCUserBeingEdited">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Country</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Country" popover-trigger="outsideClick">?</a>
                <ui-select ng-model="caseNFCUserController.nfcCaseUser.user.userDetails.country" name="nfcUserCountry" reset-search-input="true" tagging on-select="caseNFCUserController.onCountrySelected($item)" class="form-control" ng-disabled="caseNFCUserController.nfcCaseUser.user.id != -1 && !caseNFCUserController.isNFCUserBeingEdited">
                    <ui-select-match placeholder="Please select country">
                        <span>{{caseNFCUserController.nfcCaseUser.user.userDetails.country.countryName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="country in (caseNFCUserController.countries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                        <span>{{country.countryName}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-md-6">
                <label>Status</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Status" popover-trigger="outsideClick">?</a>
                <div class="btn-container">
                    <div class="kl-radio inline">
                        <label>
                            <input name="status" type="radio" ng-value="true" ng-model="caseNFCUserController.nfcCaseUser.isActive" />
                            <span class="radio-btn">Active</span>
                        </label>
                    </div>
                    <div class="kl-radio inline">
                        <label>
                            <input name="status" type="radio" ng-value="false" ng-model="caseNFCUserController.nfcCaseUser.isActive" />
                            <span class="radio-btn">Inactive</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="caseNFCUserController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button ng-if="!caseNFCUserController.isNFCUserBeingEdited && !caseNFCUserController.isExistingNFCUser" type="submit" ng-click="caseNFCUserController.sendInvitation(inviteForm.$valid)" class="btn btn-theme-yellow">Send</button>
            <button ng-if="caseNFCUserController.isNFCUserBeingEdited || caseNFCUserController.isExistingNFCUser" type="submit" ng-click="caseNFCUserController.isNFCUserBeingEdited ? caseNFCUserController.saveNFCUser(inviteForm.$valid, caseNFCUserController.nfcUserAction['Edited']) : caseNFCUserController.saveNFCUser(inviteForm.$valid, caseNFCUserController.nfcUserAction['Added'])" class="btn btn-theme-yellow">Save</button>
        </div>
    </form>
</div>