﻿<div ng-controller="CaseController as caseController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseController.closeModal()">&times;</span></button>
        <h3 class="modal-title">Add Case</h3>
    </div>
    <form class="modal-body form" name="saveCaseForm" novalidate>
        <div class="row">
            <div class="form-group col-md-6" id="client_name_field">
                <label>Client Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Name" popover-trigger="outsideClick">?</a>
                <ui-select ng-class="{'form_error' : saveCaseForm.client_name.$invalid && saveCaseForm.$submitted}" ng-model="caseController.case.client" name="client_name" reset-search-input="true" on-select="caseController.onClientSelected($item)" required="true" class="form-control">
                    <ui-select-match placeholder="Select existing client">
                        <span ng-bind="$select.selected.clientName"></span>
                        <a class="btn btn-xs btn-link pull-right" ng-click="caseController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                    </ui-select-match>
                    <ui-select-choices repeat="client in (caseController.clients | filter: { clientName: $select.search }) track by client.clientId" refresh-delay="0">
                        <span ng-bind="client.clientName"></span>
                    </ui-select-choices>
                </ui-select>
                <span class="error-msg" ng-show="saveCaseForm.client_name.$invalid && saveCaseForm.$submitted">Please select a client name from list</span>
                <span ng-show="caseController.case.client != null" >Last case ordered</span> <span class="case-text"> {{caseController.case.client.lastestCaseOrderDate | date:'mediumDate'}}</span>
            </div>
            <div class="form-group col-md-6">
                <label>Case Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Case Name" popover-trigger="outsideClick">?</a>
                <input ng-class="{'form_error' : saveCaseForm.caseName.$invalid && saveCaseForm.$submitted}" ng-model="caseController.case.matterName" name="caseName" placeholder="Please enter Case Name" class="form-control" required>
                <span class="error-msg" ng-show="saveCaseForm.caseName.$invalid && saveCaseForm.$submitted">Case Name is required</span>
            </div>
            
        </div>
        <div class="row">     
            <div class="form-group col-md-6">
                <label>Nickname</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Nickname" popover-trigger="outsideClick">?</a>
                <input ng-model="caseController.case.nickName" name="nickName" placeholder="Please enter Nickname" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Contact Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Contact Name" popover-trigger="outsideClick">?</a>
                <ui-select ng-class="{'form_error' : saveCaseForm.contact_name.$invalid && saveCaseForm.$submitted}" ng-model="caseController.case.client.clientContactUsers[$index]" name="contact_name" on-select="caseController.case.ClientContactUserId = $select.selected.id" reset-search-input="true" tagging required="true" class="form-control">
                    <ui-select-match placeholder="Select contact name">
                        <span ng-bind="$select.selected.contactName"></span>
                        <a class="btn btn-xs btn-link pull-right" ng-click="caseController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                    </ui-select-match>
                    <ui-select-choices repeat="contact in (caseController.case.client.clientContactUsers | filter: { contactName: $select.search }) track by contact.id" refresh-delay="0">
                        <span ng-bind="contact.contactName"></span>
                    </ui-select-choices>
                </ui-select>
                <span class="error-msg" ng-show="saveCaseForm.contact_name.$invalid && saveCaseForm.$submitted">Contact name is required</span>
            </div>
        </div>
        <div class="row">
                <div class="form-group col-md-6">
                    <label>Sales Rep</label>
                    <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    <input ng-disabled="true" ng-model="caseController.case.client.salesRepresentativeName" class="form-control">
                </div>
        </div>
            <div class="modal-footer">
                <button type="button" ng-click="caseController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
                <button type="submit" ng-click="caseController.saveCaseOnAddCase(saveCaseForm.$valid)" class="btn btn-theme-yellow">Save</button>
            </div>
</form>

</div>
