﻿<div ng-controller="CaseTaskController as caseTaskController" class="modal-content">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="caseTaskController.closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Task</h4>
    </div>
        <form class="modal-body form" name="saveTaskForm" novalidate>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Task Title</label>
                    <input ng-class="{'form_error' : saveTaskForm.task_title.$invalid && saveTaskForm.$submitted}" ng-model="caseTaskController.task.title" name="task_title" placeholder="Please enter task title" class="form-control" required>
                    <span class="error-msg" ng-show="saveTaskForm.task_title.$invalid && saveTaskForm.$submitted">Please enter task title</span>
                </div>
                <div class="form-group col-md-12">
                    <div class="text-editor">
                        <!--<div has-permission="VIEW_ALL_FILES">
                            <button type="button" class="btn btn-theme-yellow btn-sm parent-menu" ng-click="caseTaskController.openExistingCaseFilesModal()">Add existing files</button>                       
                         </div>-->
                        <button class="btn btn-theme-yellow pull-right btn-sm" ngf-select="caseTaskController.uploadTaskFiles($files)" multiple="multiple">Add new file</button>
                        <label>Description</label>
                        <textarea ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.task.description" size="50" autocomplete="off"></textarea>
                        <div class="report-block" ng-show="caseTaskController.showExistingTaskFiles">
                            <div class="clearfix">
                                <label>Files</label>
                                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                <div class="form-group">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th width="20"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="file in caseTaskController.task.taskFiles track by $index">
                                                <td width="200">{{file.fileName}}</td>
                                                <td width="50">
                                                    <button class="btn btn-theme-yellow btn-xs" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="caseTaskController.deleteNewTaskAssociatedFile(file)" ng-really-title="Delete File?" item="file">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Priority</label>
                    <select name="task_priority" ng-model="caseTaskController.task.priority" class="form-control">
                        <option value="" disabled>Please select a task priority</option>
                        <option value="{{caseTaskController.taskPriorityEnum.Low}}">Low</option>
                        <option value="{{caseTaskController.taskPriorityEnum.Regular}}">Regular</option>
                        <option value="{{caseTaskController.taskPriorityEnum.High}}">High</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Assign To</label>
                    <ui-select ng-class="{'form_error' : saveTaskForm.task_assignedTo.$invalid && saveTaskForm.$submitted}" ng-model="caseTaskController.task.assignedToUserDetails" name="task_assignedTo" on-select="caseTaskController.onUserSelected($item)" reset-search-input="true" required="true" class="form-control">
                        <ui-select-match placeholder="Please select user ...">
                            <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                        </ui-select-match>
                        <ui-select-choices group-by="caseTaskController.filterUsersByRole" repeat="user in (caseTaskController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                            <span> {{user.firstName}} {{user.lastName}}</span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="error-msg" ng-if="saveTaskForm.task_assignedTo.$invalid && saveTaskForm.$submitted">Please select user from list</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Due Date</label>
                    <div class="has-feedback has-feedback-left">
                        <input ng-class="{'form_error' : saveTaskForm.task_due_date.$invalid && saveTaskForm.$submitted}" type="text" name="task_due_date" class="form-control" ng-click="datePicker.opened=!datePicker.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="caseTaskController.task.dueDate" is-open="datePicker.opened" datepicker-options="caseTaskController.datePickerOptions" readonly close-text="Close" show-button-bar="false" placeholder="Please select due date" required />
                        <span class="fa fa-calendar form-control-feedback"></span>
                    </div>
                    <span class="error-msg" ng-show="saveTaskForm.task_due_date.$invalid && saveTaskForm.$submitted">Please enter due date</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="caseTaskController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
                <button type="submit" ng-click="caseTaskController.saveTask(saveTaskForm.$valid,false)" class="btn btn-theme-yellow">Save</button>
            </div>
        </form>
    </div>

