﻿<div ng-controller="CaseNFCUserController as caseNFCUserController" ng-init="caseNFCUserController.init()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div class="main-content" has-permission="NFCUSER_READ_ALL">

            <div class="case-form">
                
                <div class="form-block">
                    <div class="form-header clearfix">
                        <h4 class="userHeading">
                            <span>NFC Users</span>
                        </h4>
                    </div>
                    <div class="">

                        <table class="table table-hover table-condensed m-b-20" ng-if="caseNFCUserController.allNFCCaseUsers.length > 0">
                            <thead>
                                <tr>
                                    <th width="200">Name</th>
                                    <th width="200">Email</th>
                                    <th>Company</th>
                                    <th>Country</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="ng-scope">
                                <tr ng-repeat="nfcCaseUser in caseNFCUserController.allNFCCaseUsers">
                                    <td>{{nfcCaseUser.user.firstName + " " +nfcCaseUser.user.lastName }}</td>
                                    <td>{{nfcCaseUser.user.email}}</td>
                                    <td>{{nfcCaseUser.user.userDetails.companyName}}</td>
                                    <td>{{nfcCaseUser.user.userDetails.country.countryName}}</td>
                                    <td>
                                        <div class="switch-button switch-button-sucess pull-right">
                                            <input type="checkbox" ng-model="nfcCaseUser.isActive" id="swt1_{{$index}}" ng-change="caseNFCUserController.toggleNFCUserStatus(nfcCaseUser)"><span>
                                                <label for="swt1_{{$index}}"></label>
                                            </span>
                                        </div>
                                    </td>
                                    <td has-permission="NFCUSER_READ_ALL">
                                        <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                            <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </a>
                                            <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" ng-click="caseNFCUserController.editNFCUser(nfcCaseUser)">Edit</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="add-control"><button ng-click="caseNFCUserController.addNFCUser()" class="btn btn-theme-yellow">Add NFC User</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
