﻿<div class="client-contact-box">
    <div class="row">
        <div class="form-group col-md-3">
            <label>Client Name</label>
            <span class="task-normal-mode">{{caseDetailsController.case.client.clientName}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Industry</label>
            <span class="task-normal-mode">{{caseDetailsController.case.client.industryName}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Industry SubCategory</label>
            <span class="task-normal-mode">{{caseDetailsController.case.client.industrySubCategoryName}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Contact Name</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.contactName}}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Position Held By Contact</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.positionHeldbyContact}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Email Address</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.emailAddress}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Phone Number</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.phoneNumber}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Street</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.street}}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>City</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.city}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>State</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.state.stateName}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Country</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.country.countryName}}</span>
        </div>
        <div class="form-group col-md-3">
            <label>Zipcode</label>
            <span class="task-normal-mode">{{caseDetailsController.case.clientContactUser.zipCode}}</span>
        </div>
    </div>
</div>
