﻿<div ng-controller="ExpenseController as expenseController" ng-init="expenseController.init()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div class="main-content" has-permission="CASE_EXPENSE" ng-hide="expenseController.case.isNFCCase">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="total-cost-container clearfix">
                                <div class="pull-left total-cost">
                                    <h3>Total : {{expenseController.totalExpenseCost|currency}}</h3>
                                </div>
                                <div class="text-right" has-permission="ADD_CASE_EXPENSE">
                                    <button class="btn btn-theme-yellow" ng-click="expenseController.addExpense()"><i class="fa fa-plus"></i> Add Expense</button>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="15%">Vendor</th>
                                            <th width="20%">Payment Type</th>                                         
                                            <th width="10%">Notes</th>
                                            <th width="10%">Quantity</th>
                                            <th width="10%">Original Currency Cost</th>
                                            <th width="10%">Cost</th>
                                            <th width="10%">Action</th>
                                            <th width="10%" ng-if="expenseController.roleName =='Admin'">
                                                Invoice <button class="btn btn-theme-gray btn-xs approve_invoice" ng-disabled="expenseController.areAllInvoicesApproved" ng-click="expenseController.updateAllExpenses(expenseController.allExpenses)">Approve All</button> 
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="expense in expenseController.allExpenses | orderBy :'-creationDateTime' track by $index">                                           
                                            <td>
                                                <span ng-show="expenseController.focusOnExpense[$index]==0">{{expense.vendor.vendorName}}</span>                                                
                                            </td>
                                            <td>
                                                <span ng-show="expenseController.focusOnExpense[$index]==0">{{expense.expensePaymentType}}</span>                                                
                                            </td>
                                            <td>
                                                <span ng-show="expenseController.focusOnExpense[$index]==0">{{expense.note}}</span>                                              
                                            </td>
                                            <td>
                                                <span ng-show="expenseController.focusOnExpense[$index]==0">{{expense.quantity}}</span>
                                            </td>
                                            <td width="20%">
                                                <span ng-show="expenseController.focusOnExpense[$index]==0">{{expense.costValue| currency:""}} {{expense.costUnit}}</span>                                               
                                            </td>
                                            <td width="15%">
                                                <span ng-show="expenseController.focusOnExpense[$index]==0">{{expense.cost|currency}}</span>                                               
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-sm action-group pull-right">
                                                    <button has-permission="CAN_DELETE_CASE_EXPENSE" ng-show="expenseController.focusOnExpense[$index]==0" class="btn btn-theme-gray btn-sm" ng-really-message="Are you sure you want to delete this Expense ?" ng-really-click="expenseController.deleteExpense(expense.id)" ng-really-title="Delete Expense?">Delete</button>                                                    
                                                    <button has-permission="CAN_UPDATE_CASE_EXPENSE" ng-show="expenseController.focusOnExpense[$index]==0" class="btn btn-theme-yellow btn-sm" ng-click="expenseController.onEditExpense(expense)" >Edit</button>
                                                    <button ng-show="expenseController.focusOnExpense[$index]==1" class="btn btn-theme-gray btn-sm" ng-click="expenseController.focusOnExpense[$index]=0;expenseController.getExpenses()">Cancel</button>
                                                </div>
                                            </td>
                                            <td class="text-center" has-permission="CASE_INVOICE_APPROVE">
                                                <input ng-model="expense.invoiceApproved" type="checkbox" ng-if="expense.expensePaymentType == 'Invoice'" ng-change="expenseController.saveExpense(expense)"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>