﻿<div class="main-content">
    <div class="case-form m-top-20">
        <div class="form-section">
            <div class="form-header">
                <h4>Detail</h4>
            </div>
            <div class="form-content">
                <section>
                    <h4>Case Info</h4>
                    <div class="section-content">
                        <div class="client-contact-box">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Subject Name</label>
                                    <span class="task-normal-mode">{{caseDetailsController.case.reportSubject}}</span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Subject Type</label>
                                    <span class="task-normal-mode" ng-show="caseDetailsController.case.subjectType == 0">Company</span>
                                    <span class="task-normal-mode" ng-show="caseDetailsController.case.subjectType == 1">Individual</span>
                                    <span class="task-normal-mode" ng-show="caseDetailsController.case.subjectType == 2">Others</span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Order Date</label>
                                    <span class="task-normal-mode">{{caseDetailsController.case.creationDateTime | date:'mediumDate' }}</span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Estimated Completion date</label>
                                    <span class="task-normal-mode"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Country</label>
                                    <span class="task-normal-mode">{{caseDetailsController.case.primaryReportType}}</span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Report Type</label>
                                    <span class="task-normal-mode">{{caseDetailsController.case.primaryReportCountryName}}</span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Speed</label>
                                    <span class="task-normal-mode" ng-show="caseDetailsController.case.speed == 0">Normal</span>
                                    <span class="task-normal-mode" ng-show="caseDetailsController.case.speed == 1">Rush</span>
                                    <span class="task-normal-mode" ng-show="caseDetailsController.case.speed == 2">Super Rush</span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Pricing Details</label>
                                    <span class="task-normal-mode">{{caseDetailsController.case.actualRetail}}</span>
                                </div>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
            </div>
       </div>
</div>