﻿<div ng-controller="ParticipantController as participantController" ng-init="participantController.init()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div class="main-content" ng-hide="participantController.case.isNFCCase || participantController.roleName == 'Participant' || participantController.roleName == 'ICIUser' || participantController.roleName == 'NFCUser'">

            <div class="case-form">
                <div class="form-block">
                    <div class="form-header">
                        <h4>Client Info</h4>
                    </div>
                </div>
                <div class="form-content">
                    <section>
                        <div class="section-content">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Client Name</label>
                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Name" popover-trigger="outsideClick">?</a>
                                    <input class="form-control" ng-model="participantController.case.client.clientName" ng-disabled="true">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Industry</label>
                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Industry" popover-trigger="outsideClick">?</a>
                                    <input class="form-control" ng-model="participantController.case.client.industryName" ng-disabled="true">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Industry Sub Category</label>
                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Industry Sub Category" popover-trigger="outsideClick">?</a>
                                    <input class="form-control" ng-model="participantController.case.client.industrySubCategoryName" ng-disabled="true">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sales Rep</label>
                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Sales Rep" popover-trigger="outsideClick">?</a>
                                    <input ng-disabled="true" value="{{participantController.case.client.salesRepresentative.firstName}} {{participantController.case.client.salesRepresentative.lastName}}" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Sales Rep Email</label>
                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Sales Rep Email" popover-trigger="outsideClick">?</a>
                                    <input ng-disabled="true" ng-model="participantController.case.client.salesRepresentativeEmail" class="form-control">
                                </div>
                            </div>

                            <section>
                                <h4>Contact</h4>
                                <div class="section-content">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Contact Name</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.contactName" ng-disabled="true">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Position Held by Contact</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.positionHeldbyContact" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Email Address</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.emailAddress" ng-disabled="true">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Phone Number</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.phoneNumber" ng-disabled="true">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Street</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.street" ng-disabled="true">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Zip</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.zipCode" ng-disabled="true">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>City</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.city" ng-disabled="true">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>State</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.state.stateName" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Country</label>
                                            <input class="form-control" ng-model="participantController.case.clientContactUser.country.countryName" ng-disabled="true">
                                        </div>
                                    </div>

                                    <section>
                                        <h4>Business Units</h4>
                                        <div class="section-content">
                                            <div class="row" ng-if="participantController.case.clientContactUser.contactUserBusinessUnits.length > 0">
                                                <div class="col-md-6">
                                                    <label>Business Unit Name</label>
                                                    <div class="form-group" ng-repeat="businessUnit in participantController.case.clientContactUser.contactUserBusinessUnits">
                                                        <input class="form-control" ng-model="businessUnit.businessUnit" ng-disabled="true">
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>Account Code</label>
                                                    <div class="form-group" ng-repeat="businessUnit in participantController.case.clientContactUser.contactUserBusinessUnits">
                                                        <input class="form-control" ng-model="businessUnit.accountCode" ng-disabled="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                    <div class="form-header"><h4>Participants</h4></div>
                    <div class="">
                        <table class="table table-hover table-condensed" ng-if="participantController.participantsList.length > 0">
                            <thead>
                                <tr>
                                    <th width="500">Name</th>
                                    <th width="200">Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="ng-scope">
                                <tr ng-repeat="participant in participantController.participantsList">
                                    <td>{{participant.user.firstName + " " +participant.user.lastName }}</td>
                                    <td>{{participant.user.email}}</td>
                                    <td> <div class="switch-button switch-button-sucess pull-right">
                                         <input type="checkbox" ng-model="participant.isActive" id="swt1_{{$index}}" ng-change="participantController.toggleParticipantStatus(participant)"><span>
                                         <label for="swt1_{{$index}}"></label></span>
                                         </div>
                                    </td>
                                    <td has-permission="CASE_READ_ALL">
                                        <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                            <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </a>
                                            <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" ng-click="participantController.editParticipant(participant)">Edit</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="add-control m-top-20"><button ng-click="participantController.addParticipant()" class="btn btn-theme-yellow">Add Participant</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
