﻿<div ng-controller="CaseDetailsController as caseDetailsController" ng-init="caseDetailsController.caseDetailsInit()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div ng-if="caseDetailsController.roleName == 'Participant'" ng-include src="'/webapp/modules/cases/views/case-details-participant.view.html'"></div>
        <div class="main-content" ng-if="caseDetailsController.roleName == 'Admin' || caseDetailsController.roleName == 'Supervisor' || caseDetailsController.roleName == 'Sales'">
            <div class="case-status text-center">
                <div class="case-steps">
                    <div class="steps-inner">
                        <a ng-class="caseDetailsController.setActiveCaseStatusClass('NEW')"><span>New</span></a>
                        <a ng-class="caseDetailsController.setActiveCaseStatusClass('PROCESSING')"><span>Processing</span></a>
                        <a ng-class="caseDetailsController.setActiveCaseStatusClass('IN_PROCESS')"><span>In Process</span></a>
                        <a ng-show="caseDetailsController.roleName =='Admin'" ng-class="caseDetailsController.setActiveCaseStatusClass('QC_REVIEWS')"><span>QC Reviews</span></a>
                    </div>

                    <div ng-class="caseDetailsController.roleName != 'Admin' ? 'btn-group case-detail-btn-group' : 'btn-group'">
                        <button type="button" data-toggle="dropdown" class="btn btn-blue dropdown-toggle btn-circle"><span class="caret"></span></button>
                        <ul role="menu" class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>`
                        </ul>
                    </div>

                </div>
            </div>
            <div class="case-form m-top-20">
                <!--<div ng-class="caseDetailsController.isCurrentUserSalesRep || caseDetailsController.roleName == 'Admin' ? 'main-section' : null">-->
                    <div class="form-section">
                        <div class="form-block" ng-form="saveCaseForm">
                            <div class="form-header">
                                <button ng-if="!caseDetailsController.case.isNFCCase && caseDetailsController.roleName == 'Admin' && (caseDetailsController.case.caseStatus.status =='APPROVED' ||caseDetailsController.case.caseStatus.status == 'SENT_FOR_APPROVAL')" ng-really-message="Are you sure you want to send this case to NFC ?" ng-really-click="caseDetailsController.onNFCSelected(caseDetailsController.case)"
                                                            ng-really-title="Send case to NFC?" item="client" type="button" class="btn btn-theme-yellow pull-right btn-case-details">Send to NFC</button>
                                <button ng-if="caseDetailsController.case.caseStatus.status == 'SENT_FOR_APPROVAL' && caseDetailsController.roleName == 'Admin'" type="button" class="btn btn-theme-yellow pull-right" ng-click="caseDetailsController.approveCase(caseDetailsController.case)">Approve</button>
                                <h4>Detail</h4>
                            </div>
                            <div class="row" ng-if="caseDetailsController.showValidationMessage && !caseDetailsController.isCurrentUserSalesRep">
                                <div class="alert-case alert-danger" role="alert">Please fix the errors on this page before continuing</div>
                            </div>
                            <div class="form-content">
                                <section ng-if="caseDetailsController.isCurrentUserSalesRep">
                                    <h4>Client Info</h4>
                                    <div class="section-content">
                                        <div ng-include src="'/webapp/modules/cases/views/case-client.template.html'"></div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Business Unit</label>
                                                <ui-select id="businessUnit" ng-model="caseDetailsController.case.businessUnit" on-select="caseDetailsController.onBusinessUnitSelected($item)" ng-disabled="!caseDetailsController.isCaseBeingEdited" class="form-control" required="true" name="business_unit" ng-class="{'form_error' : saveCaseForm.business_unit.$invalid && caseDetailsController.showValidationMessage}">
                                                    <ui-select-match placeholder="Select busniessUnit ...">
                                                        <span>{{caseDetailsController.case.businessUnit.businessUnit}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="businessUnit in (caseDetailsController.case.clientContactUser.contactUserBusinessUnits | filter: { businessUnit: $select.search }) track by businessUnit.id" refresh-delay="0">
                                                        <span>{{businessUnit.businessUnit}} </span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="error-msg" ng-show="saveCaseForm.business_unit.$invalid && caseDetailsController.showValidationMessage">Business Unit is required</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Account Code</label>
                                                <input  ng-model="caseDetailsController.case.businessUnit.accountCode" placeholder="Account Code" class="form-control" type="text"  disabled>
                                            </div>
                                        </div>
                                    </div>
                               </section>
                                <section ng-if="caseDetailsController.case.caseStatus.status == 'NFC_APPROVED' && caseDetailsController.isCurrentUserSalesRep">
                                    <h4>NFC Info</h4>
                                    <div class="section-content">
                                        <div class="row">
                                            <!--<div class="form-group col-md-6">
                                                <label>NFC Case</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Case accepted by NFC" popover-trigger="outsideClick">?</a>
                                                <div class="btn-container">
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input name="is_nfc" type="radio" disabled ng-value="true" ng-model="caseDetailsController.case.isNFCCase" />
                                                            <span class="radio-btn">Yes</span>
                                                        </label>
                                                    </div>
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input name="is_nfc" type="radio" disabled ng-value="false" ng-model="caseDetailsController.case.isNFCCase" />
                                                            <span class="radio-btn">No</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <div class="form-group col-md-6">
                                                <label>Case accepted by NFC ?</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Case accepted by NFC" popover-trigger="outsideClick">?</a>
                                                <div class="btn-container">
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input name="case_accepted_by_nfc" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" type="radio" ng-value="true" ng-model="caseDetailsController.case.caseAcceptedByNFC" />
                                                            <span class="radio-btn">Yes</span>
                                                        </label>
                                                    </div>
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input name="case_accepted_by_nfc" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" type="radio" ng-value="false" ng-model="caseDetailsController.case.caseAcceptedByNFC" />
                                                            <span class="radio-btn">No</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="form-group col-md-6" id="nfc_due_date">
                                                <label>NFC Due Date</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="NFC Due Date" popover-trigger="outsideClick">?</a>
                                                <div class="has-feedback has-feedback-left">
                                                    <input ng-class="{'form_error' : saveCaseForm.nfc_due_date.$invalid && caseDetailsController.showValidationMessage}" type="text" name="nfc_due_date" class="form-control" ng-click="datePicker.opened=!datePicker.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="caseDetailsController.case.nfcDueDate" is-open="datePicker.opened" datepicker-options="caseDetailsController.datePickerOptions" readonly close-text="Close" show-button-bar="false" placeholder="Please select nfc due date" ng-required="caseDetailsController.case.caseStatus.status == 'NFC_APPROVED' && caseDetailsController.isCurrentUserSalesRep" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" />
                                                    <span class="fa fa-calendar form-control-feedback"></span>
                                                </div>
                                                <span class="error-msg" ng-show="saveCaseForm.nfc_due_date.$invalid && caseDetailsController.showValidationMessage">Please enter nfc due date</span>
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="form-group col-md-6" id="nfc_budget">
                                                <label>NFC Budget</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="NFC Budget" popover-trigger="outsideClick">?</a>
                                                <input ng-class="{'form_error' : (saveCaseForm.nfc_budget.$invalid || caseDetailsController.isInvalidNFCBudget) && caseDetailsController.showValidationMessage}" ng-model="caseDetailsController.case.nfcBudget" name="nfc_budget" placeholder="Please enter nfc budget" class="form-control" ng-required="caseDetailsController.case.caseStatus.status == 'NFC_APPROVED'" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep">
                                                <span class="error-msg" ng-show="saveCaseForm.nfc_budget.$error.required && caseDetailsController.showValidationMessage">NFC Budget is required</span>
                                                <span class="error-msg" ng-show="!saveCaseForm.nfc_budget.$error.required && caseDetailsController.isInvalidNFCBudget && caseDetailsController.showValidationMessage">Please enter valid NFC Budget</span>
                                            </div>
                                       
                                            <div class="col-md-6">
                                                <label>Report received from NFC</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Report received from NFC" popover-trigger="outsideClick">?</a>
                                                <input type="checkbox" class="nfc-checkbox" name="report_received_from_nfc" ng-model="caseDetailsController.case.reportReceivedFromNFC" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" ng-change="caseDetailsController.onNFCReportStatusChange(caseDetailsController.case.reportReceivedFromNFC)" />
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="form-group col-md-6" ng-if="caseDetailsController.case.reportReceivedFromNFC" id="nfc_report_date">
                                                <label>Date Report received from NFC</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Date Report received from NFC" popover-trigger="outsideClick">?</a>
                                                <div class="has-feedback has-feedback-left">
                                                    <input ng-class="{'form_error' : saveCaseForm.nfc_report_date.$invalid && caseDetailsController.showValidationMessage}" type="text" name="nfc_report_date" class="form-control" ng-click="datePickerReport.opened=!datePickerReport.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="caseDetailsController.case.dateReportReceivedFromNFC" is-open="datePickerReport.opened" datepicker-options="caseDetailsController.datePickerOptions" readonly close-text="Close" show-button-bar="false" placeholder="Please select date report received from nfc" ng-required="caseDetailsController.case.reportReceivedFromNFC && caseDetailsController.case.caseStatus.status == 'NFC_APPROVED' && caseDetailsController.isCurrentUserSalesRep" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" />
                                                    <span class="fa fa-calendar form-control-feedback"></span>
                                                </div>
                                                <span class="error-msg" ng-show="saveCaseForm.nfc_report_date.$invalid && caseDetailsController.showValidationMessage">Please enter date report received from nfc</span>
                                            </div>
                                       
                                            <div class="form-group col-md-6">
                                                <label>Invoice received from NFC</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Invoice received from NFC" popover-trigger="outsideClick">?</a>
                                                <input type="checkbox" class="nfc-checkbox" name="invoice_received_from_nfc" ng-model="caseDetailsController.case.invoiceReceivedFromNFC" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" ng-change="caseDetailsController.onNFCInvoiceStatusChange(caseDetailsController.case.invoiceReceivedFromNFC)" />
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="form-group col-md-6" ng-if="caseDetailsController.case.invoiceReceivedFromNFC" id="nfc_invoice_date">
                                                <label>Date Invoice received from NFC</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Date Invoice received from NFC" popover-trigger="outsideClick">?</a>
                                                <div class="has-feedback has-feedback-left">
                                                    <input ng-class="{'form_error' : saveCaseForm.nfc_invoice_date.$invalid && caseDetailsController.showValidationMessage}" type="text" name="nfc_invoice_date" class="form-control" ng-click="datePickerInvoice.opened=!datePickerInvoice.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="caseDetailsController.case.dateInvoiceReceivedFromNFC" is-open="datePickerInvoice.opened" datepicker-options="caseDetailsController.datePickerOptions" readonly close-text="Close" show-button-bar="false" placeholder="Please select date invoice received from nfc" ng-required="caseDetailsController.case.invoiceReceivedFromNFC && caseDetailsController.case.caseStatus.status == 'NFC_APPROVED' && caseDetailsController.isCurrentUserSalesRep" ng-disabled="!caseDetailsController.isCaseBeingEdited || !caseDetailsController.isCurrentUserSalesRep" />
                                                    <span class="fa fa-calendar form-control-feedback"></span>
                                                </div>
                                                <span class="error-msg" ng-show="saveCaseForm.nfc_invoice_date.$invalid && caseDetailsController.showValidationMessage">Please enter date invoice received from nfc</span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section ng-class="caseDetailsController.isCurrentUserSalesRep || caseDetailsController.roleName == 'Admin' ? 'row' : null">
                                    <div ng-class="caseDetailsController.isCurrentUserSalesRep || caseDetailsController.roleName == 'Admin' ? 'col-md-9' : null">
                                        <button ng-if="!caseDetailsController.isCaseBeingEdited" type="button" class="btn btn-sm btn-theme-yellow pull-right" ng-click="caseDetailsController.editCase(caseDetailsController.case)" has-permission="CASE_UPDATE_OWN">Edit</button>
                                        <div ng-if="caseDetailsController.isCaseBeingEdited && !caseDetailsController.isCurrentUserSalesRep">
                                            <button type="button" class="btn btn-sm btn-theme-yellow pull-right" ng-click="caseDetailsController.updateCaseDetails(caseDetailsController.case)">Save</button>
                                            <button type="button" class="btn btn-sm btn-theme-gray md-close pull-right edit_case_cancel" ng-click="caseDetailsController.cancelEditCaseChanges()">Cancel</button>
                                        </div>
                                    <h4>Case Info</h4>
                                    <div class="section-content">
                                        <div class="row">
                                            <div class="form-group col-md-6" id="nickname">
                                                <label>Nickname</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Nickname" popover-trigger="outsideClick">?</a>
                                                <input name="nick_name" ng-class="{'form_error' : saveCaseForm.nick_name.$invalid && caseDetailsController.showValidationMessage}" class="form-control" ng-model="caseDetailsController.case.nickName" ng-disabled="!caseDetailsController.isCaseBeingEdited" required>
                                                <span class="error-msg" ng-show="saveCaseForm.nick_name.$invalid && caseDetailsController.showValidationMessage">Nickname is required</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Client PO</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client PO" popover-trigger="outsideClick">?</a>
                                                <input class="form-control" ng-model="caseDetailsController.case.clientPO" ng-disabled="!caseDetailsController.isCaseBeingEdited">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Created Date</label>
                                                <span class="form-control disabled_field">{{caseDetailsController.case.creationDateTime | date}}</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Created By</label>
                                                <span class="form-control disabled_field">{{caseDetailsController.case.createdByUser.firstName}} {{caseDetailsController.case.createdByUser.lastName}}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!--<div class="form-group col-md-6">
                                                <label>Status</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Status" popover-trigger="outsideClick">?</a>
                                                <ui-select ng-model="caseDetailsController.case.subStatus" on-select="caseDetailsController.onSubStatusSelected($item)" class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited">
                                                    <ui-select-match placeholder="Select status ...">
                                                        <span>{{caseDetailsController.case.subStatus.name}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="subStatus in (caseDetailsController.subStatusList | filter: { name: $select.search }) track by subStatus.id" refresh-delay="0">
                                                        <span>{{subStatus.name}} </span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>-->
                                            <div class="form-group col-md-6" has-permission="ASSIGN_TO_USER">
                                                <label>Assigned To</label>
                                                <ui-select ng-model="caseDetailsController.case.assignedToUser" on-select="caseDetailsController.onAssignToUserSelected($item)" reset-search-input="true"  class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited || caseDetailsController.roleName == 'Sales' || caseDetailsController.roleName == 'User'">
                                                    <ui-select-match placeholder="Please select user ...">
                                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices group-by="caseDetailsController.filterUsersByRole" repeat="user in (caseDetailsController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                                        <span> {{user.firstName}} {{user.lastName}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="form-group col-md-6" has-permission="CASE_READ_ALL">
                                                <label>Speed</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Speed" popover-trigger="outsideClick">?</a>
                                                <div class="btn-container">
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input name="speed" type="radio" ng-value="0" ng-model="caseDetailsController.case.speed" ng-disabled="!caseDetailsController.isCaseBeingEdited" />
                                                            <span class="radio-btn">Normal</span>
                                                        </label>
                                                    </div>
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input type="radio" ng-value="1" ng-model="caseDetailsController.case.speed" ng-disabled="!caseDetailsController.isCaseBeingEdited" />
                                                            <span class="radio-btn">Rush</span>
                                                        </label>
                                                    </div>
                                                    <div class="kl-radio inline">
                                                        <label>
                                                            <input name="rush" type="radio" ng-value="2" ng-model="caseDetailsController.case.speed" ng-disabled="!caseDetailsController.isCaseBeingEdited" />
                                                            <span class="radio-btn">Super Rush</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    </div>

                                    
                                    
                                    <div ng-if="caseDetailsController.roleName == 'Admin' || caseDetailsController.isCurrentUserSalesRep" class="section-content col-md-3">
                                       
                                        <div id="sidebar-section">
                                            <div class="incomplete-inner" ng-if="caseDetailsController.roleName == 'Admin'? true : caseDetailsController.isCurrentUserSalesRep && caseDetailsController.case.caseStatus.status == 'NFC_APPROVED' ? saveCaseForm.$invalid ? false : true : caseDetailsController.isCaseSentForApprovalOrNFCApprovedOrApproved">

                                                <div class="btn-section">
                                                    <div class="text-center">
                                                        <div class="btn-group-flex">
                                                            <button class="btn btn-yellow-o btn-xs case-detail-btn-group on-hold-btn" ng-really-message="Are sure you want to change the status to  'On Hold' ?" ng-really-click="caseDetailsController.setCaseStatus('ON_HOLD')" ng-really-title="Change Status?" item="status">On Hold</button>
                                                            <button class="btn btn-default-o btn-xs case-detail-btn-group" ng-really-message="Are sure you want to change the status to  'Cancel' ?" ng-really-click="caseDetailsController.setCaseStatus('CANCEL')" ng-really-title="Change Status?" item="status">Cancel</button>
                                                        </div>
                                                        <button class="btn btn-default-o btn-xs btn-block" ng-really-message="Are sure you want to change the status to  'Information Pending' ?" ng-really-click="caseDetailsController.setCaseStatus('INFORMATION_PENDING')" ng-really-title="Change Status?" item="status">Information Pending</button>
                                                        <button class="btn btn-yellow-o btn-sm btn-block" ng-really-message="Are sure you want to change the status to  'Client Request Update' ?" ng-really-click="caseDetailsController.setCaseStatus('CLIENT_REQUESTED_UPDATE')" ng-really-title="Change Status?" item="status">Client Request Update</button>
                                                        <button class="btn btn-success-o  btn-sm btn-block" ng-really-message="Are sure you want to change the status to  'QC Review' ?" ng-really-click="caseDetailsController.setCaseStatus('QC_REVIEWS')" ng-really-title="Change Status?" item="status">QC Review</button>
                                                        <button class="btn btn-primary-o  btn-sm btn-block" ng-really-message="Are sure you want to request for closing the case?" ng-really-click="caseDetailsController.setCaseStatus('REQUEST_FOR_CLOSING')" ng-really-title="Change Status?" item="status">Request for Closing</button>
                                                        <button ng-show="caseDetailsController.roleName == 'Admin' && caseDetailsController.case.caseStatus.status == 'REQUEST_FOR_CLOSING'" class="btn btn-info btn-sm btn-block" ng-really-message="Are sure you want to close the case?" ng-really-click="caseDetailsController.setCaseStatus('CLOSED')" ng-really-title="Change Status?" item="status">Close</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="incomplete-inner" ng-if="caseDetailsController.isCurrentUserSalesRep && (!caseDetailsController.isCaseSentForApprovalOrNFCApprovedOrApproved || caseDetailsController.isCaseBeingEdited || saveCaseForm.$invalid)">
                                                <div class="top-heading incomplete-section-text" ng-show="(saveCaseForm.$invalid || caseDetailsController.case.reports.length == 0) && caseDetailsController.isCurrentUserSalesRep  ">Incomplete Information</div>
                                                <div class="btn-section">
                                                    <div ng-if="caseDetailsController.isCaseBeingEdited">
                                                        <div class="text-center">
                                                            <div class="btn-group btn-group-align">
                                                                <button type="button" class="btn btn-theme-yellow btn-sm" ng-click="caseDetailsController.updateCaseForSalesUser(caseDetailsController.case)">Save</button>
                                                                <button type="button" class="btn btn-theme-gray btn-sm" ng-click="caseDetailsController.cancelEditCaseChanges()">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" ng-disabled="caseDetailsController.case.reports.length == 0 ? true : saveCaseForm.$invalid " ng-hide="caseDetailsController.isCaseSentForApprovalOrNFCApprovedOrApproved" class="btn btn-success btn-sm btn-block" ng-click="caseDetailsController.sendCaseForApproval(caseDetailsController.case)">Send for Approval</button>

                                                </div>
                                                <div class="incomplete-list" ng-if="caseDetailsController.isCurrentUserSalesRep && (saveCaseForm.$invalid || caseDetailsController.case.reports.length == 0)">
                                                    <ul>
                                                        <li ng-if="saveCaseForm.nick_name.$invalid" class="incomplete-section-text"><span><strong>Case Info</strong></span></li>
                                                        <li ng-if="saveCaseForm.nick_name.$invalid"><a href="#nickname" class="incomplete-section-text">Nickname</a></li>
                                                        <li ng-if="saveCaseForm.business_unit.$invalid" class="incomplete-section-text"><span><strong>Client Info</strong></span></li>
                                                        <li ng-if="saveCaseForm.business_unit.$invalid"><a href="#businessUnit" class="incomplete-section-text">Business Unit</a></li>

                                                        <li class="incomplete-section-text" ng-hide="caseDetailsController.isCaseSentForApprovalOrNFCApprovedOrApproved && saveCaseForm.why_pro_bono.$valid && saveCaseForm.state_of_employment.$valid && saveCaseForm.state_of_residence.$valid"><span><strong> Reports </strong></span></li>
                                                        <li ng-if="caseDetailsController.case.reports.length == 0"><a href="#report_section" class="incomplete-section-text"> no reports added </a></li>
                                                        <li ng-repeat="reportType in caseDetailsController.case.reports track by $index" ng-if="saveCaseForm['report_type_' + $index].$invalid"><a href="#report_type_{{$index}}" class="incomplete-section-text">Report Type</a></li>
                                                        <li ng-repeat="reportType in caseDetailsController.case.reports track by $index" ng-if="saveCaseForm['report_country_' + $index].$invalid"><a href="#report_country_{{$index}}" class="incomplete-section-text">Report Country</a></li>
                                                        <li ng-repeat="reportType in caseDetailsController.case.reports track by $index" ng-if="saveCaseForm['other_report_name_' + $index].$invalid"><a href="#other_report_name_{{$index}}" class="incomplete-section-text">Report Name</a></li>
                                                        <li ng-if="saveCaseForm.subject_name.$invalid"><a href="#subject_name" class="incomplete-section-text">Subject Name</a></li>
                                                        <li ng-if="saveCaseForm.subject_type.$invalid"><a href="#subject_type" class="incomplete-section-text">Subject Type</a></li>
                                                        <li ng-repeat="currentPrincipal in caseDetailsController.case.principalNames track by $index" ng-if="saveCaseForm['principal_name_'+ $index].$invalid"><a href="#principal_name_{{index}}" class="incomplete-section-text">Principal Name</a></li>
                                                        <li ng-if="caseDetailsController.isInvalidActualRetail"><a href="#actual_retail" class="incomplete-section-text">Actual Retail</a></li>
                                                        <li ng-if="saveCaseForm.why_pro_bono.$invalid"><a href="#why_pro_bono" class="incomplete-section-text">Why Pro-Bono/Gratis</a></li>
                                                        <li ng-if="saveCaseForm.state_of_employment.$invalid"><a href="#state_of_employment" class="incomplete-section-text">State of Employment</a></li>
                                                        <li ng-if="saveCaseForm.state_of_residence.$invalid"><a href="#state_of_residence" class="incomplete-section-text">State of Residence</a></li>

                                                        <li ng-if="caseDetailsController.case.caseStatus.status == 'NFC_APPROVED'" ng-show="saveCaseForm.nfc_budget.$invalid" class="incomplete-section-text"><span><strong>NFC Info</strong></span></li>
                                                        <li ng-if="saveCaseForm.nfc_due_date.$invalid"><a href="#nfc_due_date" class="incomplete-section-text">NFC Due Date</a></li>
                                                        <li ng-if="saveCaseForm.nfc_budget.$invalid"><a href="#nfc_budget" class="incomplete-section-text">NFC Budget</a></li>
                                                        <li ng-if="saveCaseForm.nfc_report_date.$invalid"><a href="#nfc_report_date" class="incomplete-section-text">NFC Report Received Date</a></li>
                                                        <li ng-if="saveCaseForm.nfc_invoice_date.$invalid"><a href="#nfc_invoice_date" class="incomplete-section-text">NFC Invoice Received Date</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </section>
                                <section id="report_section">
                                    <h4>Reports</h4>
                                    <div class="section-content">
                                        <div class="report-block">
                                            <div class="form-group clearfix">
                                                <label>Report</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Report" popover-trigger="outsideClick">?</a>
                                                <div class="pull-right">
                                                    <button class="btn btn-theme-yellow btn-xs" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-click="caseDetailsController.addNewReport()"><i class="fa fa-plus"></i> Add New Report</button>
                                                </div>
                                            </div>
                                            <div class="well well-sm" ng-if="caseDetailsController.isNewReportAdded">
                                                <div class="row">
                                                    <ul class="report-list">
                                                        <li class="form-group clearfix" ng-repeat="reportType in caseDetailsController.case.reports track by $index">
                                                            <div class="clearfix">
                                                                <div class="col-md-8" id="report_type_{{$index}}">
                                                                    <ui-select name="report_type_{{$index}}" ng-model="caseDetailsController.case.reports[$index]" tagging reset-search-input="false" search-enabled="false" on-select="caseDetailsController.onReportSelected($item, $index)" required="true" class="form-control" ng-class="{'form_error' : saveCaseForm['report_type_' + $index].$invalid && caseDetailsController.showValidationMessage}" ng-disabled="!caseDetailsController.isCaseBeingEdited">
                                                                        <ui-select-match placeholder="---Select Report Type---">
                                                                            <span ng-bind="$select.selected.reportType"></span>
                                                                            <a class="btn btn-xs btn-link pull-right" ng-click="caseDetailsController.clearSelectedReport($event, $select, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                                                                        </ui-select-match>
                                                                        <ui-select-choices repeat="report in (caseDetailsController.reports | filter: { reportType: $select.search }) track by report.reportId" refresh-delay="0">
                                                                            <span ng-bind="report.reportType"></span>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                    <span class="error-msg" ng-show="saveCaseForm['report_type_' + $index].$invalid && caseDetailsController.showValidationMessage">Report type is required</span>
                                                                </div>
                                                                <div class="col-md-4" id="report_country_{{$index}}">
                                                                    <ui-select name="report_country_{{$index}}" ng-class="{'form_error' : saveCaseForm['report_country_' + $index].$invalid && caseDetailsController.showValidationMessage}" ng-model="caseDetailsController.case.reportsCountries[$index]" tagging reset-search-input="false" search-enabled="true" on-select="caseDetailsController.onReportCountrySelected($item, $index)" required="true" class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited">
                                                                        <ui-select-match placeholder="---Select Country---">
                                                                            <span ng-bind="$select.selected.countryName"></span>
                                                                            <a class="btn btn-xs btn-link pull-right" ng-click="caseDetailsController.clearSelectedReportCountry($event, $select, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                                                                        </ui-select-match>
                                                                        <ui-select-choices repeat="country in (caseDetailsController.reportCountries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                                                                            <span ng-bind="country.countryName"></span>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                    <span class="error-msg" ng-show="saveCaseForm['report_country_' + $index].$invalid && caseDetailsController.showValidationMessage">Country name is required</span>
                                                                </div>
                                                                <div class="delete-report">
                                                                    <button class="btn btn-danger pull-right delete-sm btn-square" ng-disabled="!caseDetailsController.isCaseBeingEdited" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this report?" ng-really-click="caseDetailsController.deleteAddedReport($index)" ng-really-title="Delete Report?" item="$index"><i class="fa fa-times" ng-disabled="!caseDetailsController.isCaseBeingEdited"></i></button>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" ng-if="caseDetailsController.case.reports[$index].isOtherReportType">
                                                                <br />
                                                                <div class="col-md-8" id="other_report_name_{{$index}}">
                                                                    <label>Please Enter Report Name</label>
                                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Please Enter Report Name" popover-trigger="outsideClick">?</a>
                                                                    <input ng-class="{'form_error' : saveCaseForm['other_report_name_' + $index].$invalid && caseDetailsController.showValidationMessage}" ng-disabled="!caseDetailsController.isCaseBeingEdited" name="other_report_name_{{$index}}" type="text" ng-model="caseDetailsController.case.otherReportTypes[$index]" class="form-control" ng-required="caseDetailsController.case.reports[$index].isOtherReportType">
                                                                    <span class="error-msg" ng-show="saveCaseForm['other_report_name_' + $index].$invalid && caseDetailsController.showValidationMessage">Report name is required</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="caseDetailsController.isPrimary">
                                            <div class="row">
                                                <div class="form-group col-md-6" id="subject_name">
                                                    <label>Name of the Subject</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Name of the Subject" popover-trigger="outsideClick">?</a>
                                                    <input ng-class="{'form_error' : saveCaseForm.subject_name.$invalid && caseDetailsController.showValidationMessage}" name="subject_name" type="text" ng-model="caseDetailsController.case.reportSubject" placeholder="please enter name of Subject " class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-required="caseDetailsController.case.reports.length > 0">
                                                    <span class="error-msg" ng-show="saveCaseForm.subject_name.$invalid && caseDetailsController.showValidationMessage">Subject name is required</span>
                                                </div>

                                                <div class="form-group col-md-6" id="subject_type">
                                                    <label>Subject Type</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Subject Type" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="subject_type" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="0" ng-model="caseDetailsController.case.subjectType" ng-required="!caseDetailsController.case.subjectType && caseDetailsController.case.reports.length > 0" />
                                                                <span ng-class="{'kl-radio-error' : saveCaseForm.subject_type.$invalid && caseDetailsController.showValidationMessage}" class="radio-btn">Company</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" value="1" ng-model="caseDetailsController.case.subjectType" ng-required="!caseDetailsController.case.subjectType && caseDetailsController.case.reports.length > 0" />
                                                                <span ng-class="{'kl-radio-error' : saveCaseForm.subject_type.$invalid && caseDetailsController.showValidationMessage}" class="radio-btn">Individual</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" value="2" ng-model="caseDetailsController.case.subjectType" ng-required="!caseDetailsController.case.subjectType && caseDetailsController.case.reports.length > 0" />
                                                                <span ng-class="{'kl-radio-error' : saveCaseForm.subject_type.$invalid && caseDetailsController.showValidationMessage}" class="radio-btn">Other</span>
                                                            </label>
                                                        </div>
                                                        <span class="error-msg" ng-show="saveCaseForm.subject_type.$invalid && caseDetailsController.showValidationMessage">Subject type is required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="caseDetailsController.case.subjectType == 0">
                                                <div class="form-group col-md-6">
                                                    <label>Client Requested Specific Principal</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Requested Specific Principal" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="specific_principal" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.isSpecificPrincipal" />
                                                                <span class="radio-btn">Yes</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="specific_principal" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="false" ng-model="caseDetailsController.case.isSpecificPrincipal" />
                                                                <span class="radio-btn">No</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <div class="clearfix">
                                                        <div class="pull-left" ng-if="caseDetailsController.case.isSpecificPrincipal">
                                                            <button class="btn btn-theme-yellow btn-xs" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-click="caseDetailsController.addNewPrincipal()"><i class="fa fa-plus"></i> Add New Principal</button>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div ng-repeat="currentPrincipal in caseDetailsController.case.principalNames track by $index" ng-if="caseDetailsController.case.isSpecificPrincipal" class="xs-mb-10">
                                                        <div class="input-group" id="principal_name_{{$index}}">
                                                            <input ng-class="{'form_error' : saveCaseForm['principal_name_' + $index].$invalid && caseDetailsController.showValidationMessage}" name="principal_name_{{$index}}" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="text" ng-model="caseDetailsController.case.principalNames[$index].principalName" placeholder="please enter Principal Name" class="form-control" ng-required="caseDetailsController.case.isSpecificPrincipal">

                                                            <div class="input-group-btn">
                                                                <button tooltip-placement="bottom" ng-disabled="!caseDetailsController.isCaseBeingEdited" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square principal-del-btn" ng-click="caseDetailsController.removeSelectedPrincipal($index)"><i class="glyphicon glyphicon-remove"></i></button>
                                                            </div>
                                                        </div>
                                                        <span class="error-msg" ng-show="saveCaseForm['principal_name_' + $index].$invalid && caseDetailsController.showValidationMessage">Principal name is required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label>References</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="References" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="references" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.references" />
                                                                <span class="radio-btn">Yes</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="false" ng-model="caseDetailsController.case.references" />
                                                                <span class="radio-btn">No</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label>Credit Report</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Credit Report" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="credit_report" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.creditReport" />
                                                                <span class="radio-btn">Yes</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="false" ng-model="caseDetailsController.case.creditReport" />
                                                                <span class="radio-btn">No</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="form-group col-md-3">
                                                    <label>Character Reputation</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Character Reputation" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="reputation" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.reputation" />
                                                                <span class="radio-btn">Yes</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="false" ng-model="caseDetailsController.case.reputation" />
                                                                <span class="radio-btn">No</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                          
                                                <div class="form-group col-md-3">
                                                    <label>Client Provided Attachment</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Provided Attachment" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="attachment" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.clientProvidedAttachments" />
                                                                <span class="radio-btn">Yes</span>
                                                            </label>
                                                        </div>
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input name="attachment" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="false" ng-model="caseDetailsController.case.clientProvidedAttachments" />
                                                                <span class="radio-btn">No</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>

                                            <div class="row">

                                                <div class="form-group col-md-6" ng-if="caseDetailsController.roleName == 'Admin'" id="actual_retail">
                                                    <label>Actual Retail (USD)</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Actual Retail (USD)" popover-trigger="outsideClick">?</a>
                                                    <input type="text" ng-class="{'form_error' : caseDetailsController.isInvalidActualRetail}" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-model="caseDetailsController.case.actualRetail" placeholder="Please enter actual retail" class="form-control">
                                                    <span class="error-msg" ng-show="caseDetailsController.isInvalidActualRetail">Invalid Actual Retail</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label> Discount </label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Discount" popover-trigger="outsideClick">?</a>
                                                    <ui-select ng-model="caseDetailsController.case.selectedDiscount" reset-search-input="false" required="true" class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited">
                                                        <ui-select-match placeholder="---Select Discount---">
                                                            <span ng-bind="$select.selected.discountAmount"></span>
                                                            <a class="btn btn-xs btn-link pull-right" ng-click="caseDetailsController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="discount in (caseDetailsController.discountOptions | filter: { discountAmount: $select.search }) track by discount.discountId" refresh="caseDetailsController.refreshDiscounts($select)" refresh-delay="0">
                                                            <span ng-bind="discount.discountAmount"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>                          
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Pro Bono/Gratis</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Pro Bono/Gratis" popover-trigger="outsideClick">?</a>
                                                    <div class="btn-container">
                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="true" ng-model="caseDetailsController.case.isProBonoGratis" />
                                                                <span class="radio-btn">Yes</span>
                                                            </label>
                                                        </div>

                                                        <div class="kl-radio inline">
                                                            <label>
                                                                <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="false" ng-model="caseDetailsController.case.isProBonoGratis" />
                                                                <span class="radio-btn">No</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="caseDetailsController.case.isProBonoGratis" class="form-group col-md-6" id="why_pro_bono">
                                                    <label>Why is it Pro Bono/Gratis</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Why is it Pro Bono/Gratis" popover-trigger="outsideClick">?</a>
                                                    <input name="why_pro_bono" ng-class="{'form_error' : saveCaseForm.why_pro_bono.$invalid && caseDetailsController.showValidationMessage}" type="text" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-model="caseDetailsController.case.whyProBonoGratis" placeholder="please enter pro bono/gratis" class="form-control" ng-required="caseDetailsController.case.isProBonoGratis">
                                                    <span class="error-msg" ng-show="saveCaseForm.why_pro_bono.$invalid && caseDetailsController.showValidationMessage">Pro Bono/Gratis reason is required</span>
                                                </div>
                                                </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Client Provided Info</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Provided Info" popover-trigger="outsideClick">?</a>
                                                    <textarea type="text" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-model="caseDetailsController.case.clientProvidedInformation" rows="2" placeholder="Please enter client provided info" class="form-control"> </textarea>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Additional Sales Rep Notes</label>
                                                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Additional Sales Rep Notes" popover-trigger="outsideClick">?</a>
                                                    <textarea type="text" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-model="caseDetailsController.case.additionalSalesRepNotes" rows="2" placeholder="Please enter additional sales Rep notes" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="master-service" ng-show="caseDetailsController.isReportCountryUSA">
                                                <div class="row">
                                                    <div class="form-group col-md-4" id="state_of_residence">
                                                        <label>State Of Residence</label>
                                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="State Of Residence" popover-trigger="outsideClick">?</a>
                                                        <ui-select ng-model="caseDetailsController.case.stateOfResidence" name="state_of_residence" on-select="caseDetailsController.onStateOfResidenceSelected($item)" ng-required="caseDetailsController.isReportCountryUSA" class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-class="{'form_error' : saveCaseForm.state_of_residence.$invalid && caseDetailsController.showValidationMessage}">
                                                            <ui-select-match placeholder="Select state ...">
                                                                <span ng-bind="$select.selected.stateName"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="state in (caseDetailsController.countrySpecificStates | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                                                                <span ng-bind="state.stateName"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="error-msg" ng-show="saveCaseForm.state_of_residence.$invalid && caseDetailsController.showValidationMessage">Please enter state of residence</span>
                                                    </div>

                                                    <div class="form-group col-md-4" id="state_of_employment">
                                                        <label>State Of Employement</label>
                                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="State Of Employement" popover-trigger="outsideClick">?</a>
                                                        <ui-select ng-model="caseDetailsController.case.stateOfEmployment" on-select="caseDetailsController.onStateOfEmploymentSelected($item)" ng-required="caseDetailsController.isReportCountryUSA" class="form-control" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-class="{'form_error' : saveCaseForm.state_of_employment.$invalid && caseDetailsController.showValidationMessage}" name="state_of_employment">
                                                            <ui-select-match placeholder="Select state ...">
                                                                <span ng-bind="$select.selected.stateName"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="state in (caseDetailsController.countrySpecificStates | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                                                                <span ng-bind="state.stateName"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="error-msg" ng-show="saveCaseForm.state_of_employment.$invalid && caseDetailsController.showValidationMessage">Please enter state of employment</span>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Master Services Agreement Received</label>
                                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Master Services Agreement Received" popover-trigger="outsideClick">?</a>
                                                        <div class="btn-container">
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input name="master_agreement" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.agreementReceived" />
                                                                    <span class="radio-btn">Yes</span>
                                                                </label>
                                                            </div>
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input name="master_agreement" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="false" ng-model="caseDetailsController.case.agreementReceived" />
                                                                    <span class="radio-btn">No</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <label>Salary > = $75k</label>
                                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Salary > = $75k" popover-trigger="outsideClick">?</a>
                                                        <div class="btn-container">
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input name="salary_75" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.salaryGreaterThan75k" />
                                                                    <span class="radio-btn">Yes</span>
                                                                </label>
                                                            </div>
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input name="salary_75" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="false" ng-model="caseDetailsController.case.salaryGreaterThan75k" />
                                                                    <span class="radio-btn">No</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3" ng-if="caseDetailsController.isReportCountryUSA">
                                                        <label>Consent Received</label>
                                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Consent Received" popover-trigger="outsideClick">?</a>
                                                        <div class="btn-container">
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input name="consent_recd" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="true" ng-model="caseDetailsController.case.consentReceived" />
                                                                    <span class="radio-btn">Yes</span>

                                                                </label>
                                                            </div>
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input name="consent_recd" ng-disabled="!caseDetailsController.isCaseBeingEdited" type="radio" ng-value="false" ng-model="caseDetailsController.case.consentReceived" />
                                                                    <span class="radio-btn">No</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6" ng-if="caseDetailsController.isReportCountryUSA == true">
                                                        <label>FCRA Certification Email Received from Client</label>
                                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="FCRA Certification Email Received from Client" popover-trigger="outsideClick">?</a>
                                                        <div class="btn-container">
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="true" ng-model="caseDetailsController.case.fcraCertificationEmailReceivedFromClient" />
                                                                    <span class="radio-btn">Yes</span>

                                                                </label>
                                                            </div>
                                                            <div class="kl-radio inline">
                                                                <label>
                                                                    <input type="radio" ng-disabled="!caseDetailsController.isCaseBeingEdited" ng-value="false" ng-model="caseDetailsController.case.fcraCertificationEmailReceivedFromClient" />
                                                                    <span class="radio-btn">No</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section has-permission="VIEW_ALL_FILES">
                                    <h4>Files</h4>
                                    <div class="section-content">
                                        <div class="row drop-box" ngf-drop="caseDetailsController.uploadFiles($files)"
                                             ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                             ngf-pattern="*">
                                            <div class="col-xs-12">
                                                <div id="my-awesome-dropzone" class="dropzone dz-clickable" ngf-select="caseDetailsController.uploadFiles($files)" multiple="multiple">
                                                    <div class="dz-message">
                                                        <div class="row">
                                                            <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                            <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note">(Selected files would be associated with the case.)</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="report-block" ng-if="caseDetailsController.showExistingCaseFiles">
                                            <div class="clearfix">
                                                <label>Files</label>
                                                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Files" popover-trigger="outsideClick">?</a>
                                                <div class="form-group">
                                                    <table class="table table-bordered table-striped table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th width="70">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="file in caseDetailsController.case.files">
                                                                <td>{{file.fileName}}</td>
                                                                <td width="70" class="case_detail_files">
                                                                    <a href="#" tooltip-placement="bottom" uib-tooltip="Download" ng-click="caseDetailsController.downloadFile(file.fileId, caseDetailsController.downloadFileType['CaseFile'])"><i class="fa fa-download"></i></a>
                                                                    <a class="icon-link" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="caseDetailsController.deleteCaseAssociatedFile(file)" ng-really-title="Delete File?" item="file">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
            </div>
            <!--<div ng-if="caseDetailsController.case.caseSubStatus.subStatus == 'Requested'" class="well well-sm text-right">
                <button class="btn btn-theme-yellow" ng-really-message="Are you sure you want to make this case available ?" ng-really-click="caseDetailsController.changeCaseStatusToAvailable(case.caseId,true)"
                        ng-really-title="Change Status?" item="case">
                    Make Available
                </button>
            </div>-->
        </div>
    </div>

</div>
<script>
	/* activate sidebar */
$('#fix-top').affix({
  offset: {
    top: 350
  }
});
</script>
