﻿<div ng-controller="CaseUserController as caseUserController" ng-init="caseUserController.init()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div class="main-content" has-permission="CASE_READ_ALL" ng-hide="caseUserController.case.isNFCCase">

            <div class="case-form">

                <div class="form-block">
                    <div class="form-header clearfix">
                        <h4 class="userHeading">
                            <span>Active Users</span>
                        </h4>
                    </div>             
                    <div class="user-table m-b-20">
                        <div class="">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="25%">Email</th>
                                        <th width="25%">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in caseUserController.activeUsers">
                                        <td>{{user.email}}</td>
                                        <td>{{user.role.name}}</td>
                                    </tr>                                   
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="form-block">
                    <div class="form-header clearfix">
                        <h4 style="padding-bottom:15px">
                            <span>ICI Users</span>
                            <!--<span class="serach-container hidden-sm pull-right user-search">
                                <span class="input-group search-box-small">
                                    <span class="input-group-btn">
                                        <button class="btn search-btn" ng-click="caseUserController.searchUsers(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                                    </span>
                                    <input type="text" placeholder="Search Users" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && caseUserController.isUserSearchActive ? caseUserController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? caseUserController.searchUsers(searchQuery) : null">
                                    <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                        <button class="btn search-btn search-reset" ng-click="searchQuery = ''; caseUserController.isUserSearchActive ? caseUserController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                                    </span>
                                </span>
                            </span>-->
                        </h4>
                    </div>
                    <div class="">

                        <table class="table table-hover table-condensed m-b-20" ng-if="caseUserController.iciCaseUsers.length > 0">
                            <thead>
                                <tr>
                                    <th width="200">Name</th>
                                    <th width="200">Email</th>
                                    <th>Company</th>
                                    <th>Country</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="ng-scope">
                                <tr ng-repeat="iciCaseUser in caseUserController.iciCaseUsers">
                                    <td>{{iciCaseUser.user.firstName + " " +iciCaseUser.user.lastName }}</td>
                                    <td>{{iciCaseUser.user.email}}</td>
                                    <td>{{iciCaseUser.user.userDetails.companyName}}</td>
                                    <td>{{iciCaseUser.user.userDetails.country.countryName}}</td>
                                    <td>
                                        <div class="switch-button switch-button-sucess pull-right">
                                            <input type="checkbox" ng-model="iciCaseUser.isActive" id="swt1_{{$index}}" ng-change="caseUserController.toggleICIUserStatus(iciCaseUser)"><span>
                                                <label for="swt1_{{$index}}"></label>
                                            </span>
                                        </div>
                                    </td>
                                    <td has-permission="CASE_READ_ALL">
                                        <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                            <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </a>
                                            <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" ng-click="caseUserController.editICIUser(iciCaseUser)">Edit</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="add-control"><button ng-click="caseUserController.addICIUser()" class="btn btn-theme-yellow">Add ICI User</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
