﻿<div ng-controller="ExpenseController as expenseController" class="modal-content">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="expenseController.closeExpenseModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-if="!expenseController.isExpenseBeingEdited">Add Expense</h4>
        <h4 class="modal-title" ng-if="expenseController.isExpenseBeingEdited">Edit Expense</h4>        
    </div>
        <form class="modal-body form" name="saveExpenseForm">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Vendor</label>
                        <ui-select ng-model="expenseController.expense.vendor" name="vendor" ng-class="{'form_error':saveExpenseForm.vendor.$invalid && expenseController.showValidationMessage}" class="form-control" ng-change="expenseController.expense.cost = expenseController.expense.vendor.cost;expenseController.calculateTotalExpenseCost()" reset-search-input="true" required>                            
                            <ui-select-match placeholder="Please select a vendor">
                                <span>{{$select.selected.vendorName}}</span>
                                <a class="btn btn-xs btn-link pull-right" ng-click="expenseController.clearList($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="vendor in (expenseController.vendors | filter: { vendorName: $select.search }) track by vendor.vendorId" refresh="expenseController.refreshList($select,'Vendor')" refresh-delay="0">
                                <span>{{vendor.vendorName}}</span>
                            </ui-select-choices>
                        </ui-select>
                    <span class="error-msg" ng-show="saveExpenseForm.vendor.$invalid && expenseController.showValidationMessage">Please select Vendor Name</span>
                </div>
                </div>
            <div class="row">
                <div class="form-group col-md-7">
                    <label>Notes</label>
                    <textarea ng-model="expenseController.expense.note" type="text" class="form-control" rows="1" placeholder="Notes"></textarea>
                </div>
                <div class="form-group col-md-5">
                    <label>Payment Type</label>
                    <ui-select ng-model="expenseController.expense.expensePaymentType" name="expensePaymentType" ng-class="{'form_error':saveExpenseForm.expensePaymentType.$invalid && expenseController.showValidationMessage}" class="form-control" reset-search-input="true" required>                                                
                        <ui-select-match placeholder="Payment type">
                            <span>{{$select.selected}}</span>
                            <a class="btn btn-xs btn-link pull-right" ng-click="expenseController.clearList($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                        </ui-select-match>
                        <ui-select-choices repeat="payment in expenseController.allPaymentTypes | filter: $select.search" refresh-delay="0">
                            <span>{{payment}}</span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="error-msg" ng-show="saveExpenseForm.expensePaymentType.$invalid && expenseController.showValidationMessage">Please select a payment type</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Quantity</label>
                    <input ng-model="expenseController.expense.quantity" name="quantity" type="number" min="1" ng-class="{'form_error':saveExpenseForm.quantity.$invalid && expenseController.showValidationMessage}" class="form-control" ng-change="expenseController.calculateTotalExpenseCost()" placeholder="Quantity" ng-pattern="/^\d*[.]?\d*$/" id="expense_quantity" required>                                
                    <span class="error-msg" ng-show="saveExpenseForm.quantity.$invalid && expenseController.showValidationMessage">Please enter a valid quantity</span>
                </div>
                <div class="form-group col-sm-4">
                    <label>Original Currency Cost</label>
                    <input type="text" ng-model="expenseController.expense.originalCurrencyCost" class="form-control" placeholder="Original Currency Cost" id="expense_originalCurrencyCost"/>
                    <span>For e.g: 1000 GBP</span>
                </div>
                <div class="form-group col-sm-4">
                    <label>Cost</label>
                    <div class="input-group ">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" ng-model="expenseController.expense.cost" name="cost" ng-change="expenseController.calculateTotalExpenseCost()" placeholder="Cost" ng-pattern="/^-?(?:0|[1-9]\d{0,2}(\d{3})*)(?:\,\d+)*(?:\.\d+)?$/" id="expense_cost">                        
                    </div>
                    <span class="error-msg" ng-show="saveExpenseForm.cost.$invalid">Please enter a valid cost</span>
                </div>
            </div>
            <div class="form-group">
                <div has-permission="CASE_INVOICE_APPROVE" ng-if="expenseController.expense.expensePaymentType == 'Invoice'" class="checkbox">
                    <label><input ng-model="expenseController.expense.invoiceApproved" type="checkbox" class="checkbox" /> Invoice Approved </label>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="expenseController.closeExpenseModal()" class="btn btn-theme-gray md-close">Cancel</button>
                <button type="submit" ng-click="expenseController.saveExpense(expenseController.expense)" class="btn btn-theme-yellow">Save</button>
            </div>
        </form>
</div>
