﻿<div ng-controller="CaseDiscussionController as caseDiscussionController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseDiscussionController.closeConfirmationModal(false)">&times;</span></button>
        <h3 class="modal-title">Add Client Participant</h3>
    </div>
    <div class="modal-body">
            <div>
                <span>Are you sure you want to add this participant {{caseDiscussionController.participantToBeAdded.firstName +" " + caseDiscussionController.participantToBeAdded.lastName}} ?</span>
            </div>
        <br/>
            <div class="modal-footer">
                <button type="button" ng-click="caseDiscussionController.closeConfirmationModal(true)" class="btn btn-theme-gray md-close">No</button>
                <button type="button"  ng-click="caseDiscussionController.closeConfirmationModal(false)" class="btn btn-theme-yellow">Yes</button>
            </div>
        </div>
    </div>

