﻿<div ng-controller="CaseTaskController as caseTaskController" ng-init="caseTaskController.taskCommentsInit()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                    <div class="my-case-container ">
                        <div class="back-link task-back-link case-icon"><a href=# ng-click="caseTaskController.goToPreviousUrl()"><span class="fa fa-caret-left"></span> BACK</a> </div>

                        <div class="my-case-inner back-padding">
                            <div class="row case-detail case-detail-main">
                                <div class="col-md-6">
                                    <div class="open-cases">
                                        <div class="case-title"><h3>Task</h3></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row case-detail case-detail-bottom">
                                <div class="col-md-11">

                                    <div class="row case-bottom">
                                        <div class="col-sm-8 col-md-3">
                                            <span>Nickname</span>
                                            <a class="arial_font pointer" ng-click="caseTaskController.openSelectedTaskCaseDetails(caseTaskController.task.case.caseNumber)" >{{caseTaskController.task.case.nickName.length > 30 ? caseTaskController.task.case.nickName.slice(0,27) +'...':caseTaskController.task.case.nickName}} <br> ({{caseTaskController.task.case.caseNumber}})</a>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <span>Client Name</span>
                                            <strong class="arial_font">{{caseTaskController.task.case.client.clientName}}</strong>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <span>Country</span>
                                            <strong>{{caseTaskController.task.case.primaryReportCountryName}}</strong>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <span>Original Due Date</span>
                                            <strong>{{caseTaskController.task.originalDueDate | date:'mediumDate'}}</strong>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <span>Created By</span>
                                            <strong>{{caseTaskController.task.createdByUserDetails.firstName + " " +  caseTaskController.task.createdByUserDetails.lastName}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" ng-hide="caseTaskController.case.isNFCCase || caseTaskController.roleName == 'Participant'">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="panel panel-default">
                                <div class="task-wrap">
                                    <div class="task-main">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <span class="task-normal-mode" ng-if="!caseTaskController.isEditableTask">{{caseTaskController.task.title}}</span>
                                                    <input type="text" ng-if="caseTaskController.isEditableTask" ng-model="caseTaskController.task.title" class="form-control" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="task-normal-editor col-md-12">
                                                <label>Description</label>
                                                <span ng-if="!caseTaskController.isEditableTask" ng-bind-html="caseTaskController.task.description" class="task-normal-mode"></span>
                                                <div class="text-editor editor-full-width">
                                                    <textarea ng-if="caseTaskController.isEditableTask" ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.task.description" size="50" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label>Status</label>
                                                <select class="form-control" ng-model="caseTaskController.task.status" ng-init="caseTaskController.task.status=0" ng-change="caseTaskController.updateTaskStatus(caseTaskController.task,caseTaskController.task.status)">                                                    
                                                    <option value="" disabled>Please select task status</option>
                                                    <option ng-selected="caseTaskController.task.status == caseController.taskStausEnum.NotStarted" value="0">Not Started</option>
                                                    <option ng-selected="caseTaskController.task.status == caseController.taskStausEnum.InProgress" value="1">In Progress</option>
                                                    <option ng-selected="caseTaskController.task.status == caseController.taskStausEnum.Completed" value="2">Completed</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label>Priority</label>
                                                <span ng-if="!caseTaskController.isEditableTask && caseTaskController.task.priority == caseTaskController.taskPriorityEnum.Low" class="task-normal-mode task-padding">Low</span>
                                                <span ng-if="!caseTaskController.isEditableTask && caseTaskController.task.priority == caseTaskController.taskPriorityEnum.Regular" class="task-normal-mode task-padding">Regular</span>
                                                <span ng-if="!caseTaskController.isEditableTask && caseTaskController.task.priority == caseTaskController.taskPriorityEnum.High" class="task-normal-mode task-padding">High</span>
                                                <select name="task_priority" ng-if="caseTaskController.isEditableTask" ng-model="caseTaskController.task.priority" class="form-control">
                                                    <option value="" disabled>Please select task priority</option>
                                                    <option value="{{caseTaskController.taskPriorityEnum.Low}}">Low</option>
                                                    <option value="{{caseTaskController.taskPriorityEnum.Regular}}">Regular</option>
                                                    <option value="{{caseTaskController.taskPriorityEnum.High}}">High</option>
                                                </select><br>
                                            </div>
                                        
                                            <div class="form-group col-md-3">
                                                <label>Due Date</label>
                                                <span class="task-normal-mode task-padding" ng-if="!caseTaskController.isEditableTask">{{caseTaskController.task.dueDate|date:'mediumDate'}}</span>
                                                <div class="has-feedback has-feedback-left" ng-if="caseTaskController.isEditableTask">
                                                    <input type="text" class="form-control" ng-click="datePicker.opened=!datePicker.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="caseTaskController.task.dueDate" is-open="datePicker.opened" datepicker-options="caseTaskController.datePickerOptions" readonly close-text="Close" show-button-bar="false" placeholder="Please select due date" />
                                                    <span class="fa fa-calendar form-control-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Assign To</label>
                                                <span class="task-normal-mode task-padding" ng-if="!caseTaskController.isEditableTask"><strong>{{caseTaskController.task.assignedToUserDetails.firstName.charAt(0)}}{{caseTaskController.task.assignedToUserDetails.lastName}}</strong></span>
                                                <ui-select ng-model="caseTaskController.task.assignedToUserDetails" name="task_assignedTo" on-select="caseTaskController.onUserSelected($item)" reset-search-input="true" required="true" class="form-control" ng-if="caseTaskController.isEditableTask">
                                                    <ui-select-match placeholder="Please select user ...">
                                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices group-by="caseTaskController.filterUsersByRole" repeat="user in (caseTaskController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                                        <span> {{user.firstName}} {{user.lastName}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="error-msg" ng-show="saveTaskForm.task_assignedTo.$invalid && saveTaskForm.$submitted">Please select user from list</span>
                                            </div>
                                        </div>
                                        <div>
                                            <button ng-if="!caseTaskController.isEditableTask" ng-click="caseTaskController.editTask(caseTaskController.task)" class="btn btn-sm btn-theme-yellow">Edit</button>
                                            <button ng-really-message="Are you sure you want to archive this task ?" ng-really-click="caseTaskController.deleteTask(caseTaskController.task.taskId)"
                                                ng-really-title="Archive Task?" item="task" ng-if="!caseTaskController.isEditableTask" class="btn btn-sm btn-theme-yellow">Archive</button>
                                            <button ng-if="caseTaskController.isEditableTask" ng-click="caseTaskController.saveTask(true,true)" class="btn btn-sm btn-theme-yellow">Save</button>
                                            <button ng-if="caseTaskController.isEditableTask" ng-click="caseTaskController.cancelEditTaskChanges()" class="btn btn-sm btn-theme-gray">Cancel</button>
                                        </div>

                                        <hr />

                                        <div class="text-editor editor-full-width">
                                            <label>Add Comment</label>
                                            <textarea ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.newTaskComment.comment" size="50" autocomplete="off"></textarea>                                            
                                        </div>
                                        <div class="task-post-btn"><button class="btn btn-theme-gray" ng-click="caseTaskController.postTaskComment(caseTaskController.newTaskComment)">Post</button></div>


                                        <div class="task-comment">
                                            <div class="well well-sm">
                                                <div class="comment-section">
                                                    <h5>Comments</h5>
                                                    <div class="comments-list">
                                                        <div class="media" ng-repeat="taskComment in caseTaskController.taskComments">
                                                            <div class="media-left">
                                                                <a href="#">
                                                                    <div><img ng-src="{{taskComment.createdByUser.profilePicUrl}}" class="circle-name" /></div>
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="media-heading">{{taskComment.createdByUser.firstName + " " + taskComment.createdByUser.lastName}}</h4>
                                                                <span class="message-content" ng-if="caseTaskController.taskComment.id != taskComment.id" ng-bind-html="taskComment.comment">
                                                                </span>

                                                                <div class="text-editor" ng-if="caseTaskController.taskComment.id == taskComment.id">
                                                                    <textarea ng-if="caseTaskController.taskComment.id == taskComment.id" ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.taskComment.comment" size="50" autocomplete="off"></textarea>
                                                                </div>
                                                                <div class="comment-control">
                                                                    <ul class="list-inline">
                                                                        <li><span class="text-muted">{{taskComment.creationDateTime|date:'medium'}}</span></li>
                                                                        <li>
                                                                            <a href="#" ng-click="caseTaskController.editTaskComment(taskComment)" ng-if="caseTaskController.taskComment.id == undefined && taskComment.createdByUser.id == caseTaskController.newTaskComment.createdByUser.id">Edit</a>
                                                                            <a href="#" ng-click="caseTaskController.postTaskComment(caseTaskController.taskComment)" ng-if="caseTaskController.taskComment.id == taskComment.id">Save</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#" ng-really-click="caseTaskController.deleteTaskComment(taskComment.id)" ng-really-message="Are you sure you want to archive this comment ?" ng-really-title="Archive Comment ?" ng-if="caseTaskController.taskComment.id != taskComment.id && taskComment.createdByUser.id == caseTaskController.newTaskComment.createdByUser.id">Archive</a>
                                                                            <a href="#" ng-click="caseTaskController.getTaskComments()" ng-if="caseTaskController.taskComment.id == taskComment.id">Cancel</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-sidebar">
                                        <div class="sidebar-block">
                                            <div class="sidebar-heading">
                                                <h4>Files</h4>
                                                <i class="fa fa-share"></i>
                                            </div>
                                            <div class="s-content">
                                                <div class="search-file">
                                                    <div class="add-file">
                                                        <button class="btn btn-sm btn-theme-yellow" ngf-select="caseTaskController.uploadTaskFiles($files)" multiple="multiple"><i class="fa fa-plus-square"></i> Add File</button>
                                                    </div>
                                                    <!--<div has-permission="VIEW_ALL_FILES">
                                                        <button type="button" class="btn btn-theme-yellow btn-sm parent-menu" ng-click="caseTaskController.openExistingCaseFilesModal()">Add existing files</button>
                                                    </div>-->                                                    
                                                    <div class="input-group task-search-box">
                                                        <span class="input-group-btn">
                                                            <button class="btn search-btn" ng-click="caseTaskController.getTaskFilesByKeyword(caseTaskController.taskFileSearchQuery)" ng-disabled="caseTaskController.taskFileSearchQuery == undefined || caseTaskController.taskFileSearchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                                                        </span>
                                                        <input type="text" placeholder="Search Files" autocomplete="off" class="form-control" ng-model="caseTaskController.taskFileSearchQuery" ng-change="(caseTaskController.taskFileSearchQuery == undefined || caseTaskController.taskFileSearchQuery == '') && caseTaskController.isFileSearchActive ? caseTaskController.resetTaskFileSearchResult() : null" ng-keyup="$event.keyCode == 13 ? caseTaskController.getTaskFilesByKeyword(caseTaskController.taskFileSearchQuery) : null">
                                                        <span class="input-group-btn" ng-show="caseTaskController.taskFileSearchQuery != undefined && caseTaskController.taskFileSearchQuery != ''">
                                                            <button class="btn search-btn search-reset" ng-click="caseTaskController.taskFileSearchQuery = ''; caseTaskController.isFileSearchActive ? caseTaskController.resetTaskFileSearchResult() : null"><i class="fa fa-times"></i></button>
                                                        </span>
                                                    </div>                                                  
                                                </div>

                                                <ul ng-if="caseTaskController.searchedTaskFiles.length > 0">
                                                    <li ng-repeat="file in caseTaskController.searchedTaskFiles track by $index">
                                                        <span class="filename-pointer" tooltip-placement="bottom" uib-tooltip="Click to edit" ng-click="caseTaskController.selectedFileId = file.fileId;caseTaskController.fileName = file.fileName;" ng-hide="caseTaskController.selectedFileId == file.fileId" tooltip-placement="bottom" uib-tooltip="By : {{file.userName}} On {{file.createDateTime| date:'medium'}}">{{file.fileName}}</span>
                                                        <div class="input-group" ng-if="caseTaskController.selectedFileId == file.fileId">
                                                            <input ng-model="caseTaskController.fileName" type="text" class="form-control file-rename" />
                                                            <span class="input-group-btn file-rename-btn">
                                                                <button class="btn btn-sm btn-theme-yellow" ng-click="caseTaskController.renameFile(file,$index)"><i class="fa fa-check"></i></button>
                                                                <button class="btn bn-sm btn-theme-gray" ng-click="caseTaskController.selectedFileId = null"><i class="fa fa-times"></i></button>
                                                            </span>
                                                        </div>
                                                        <div ng-hide="caseTaskController.selectedFileId == file.fileId">
                                                            <a href="#" class="icon-link" ng-click="caseTaskController.downloadTaskFile(file.fileId)"><i class="fa fa-download"></i></a>
                                                            <a href="#" class="icon-link" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="caseTaskController.deleteSelectedTaskAssociatedFile(file.fileId,caseTaskController.task.taskId)" ng-really-title="Delete File?" item="file"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                        
                                                    </li>
                                                </ul>
                                                <div ng-if="caseTaskController.searchedTaskFiles.length == 0">
                                                    There are no files to display! 
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>