﻿<div class="modal-content"  ng-controller="CaseTaskController as caseTaskController" ng-init="caseTaskController.taskCommentsInit()">
            <div class="modal-header task_comment_modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="caseTaskController.closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{caseTaskController.task.case.nickName}} -> {{caseTaskController.task.title}}</h4>
            </div>
    <div class="modal-main-content">
        <div class="modal-body">
            
            <div class="modal-form">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" ng-disabled="!caseTaskController.isEditableTask" ng-model="caseTaskController.task.title" class="form-control" />
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Description</label>
                    
                        <div class="text-editor">
                            <input type="text" ng-if="!caseTaskController.isEditableTask" ng-disabled="!caseTaskController.isEditableTask" value="{{caseTaskController.task.description  | htmlToPlaintext}}" class="form-control" />
                            <textarea ng-if="caseTaskController.isEditableTask" ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.task.description" size="50" autocomplete="off"></textarea>
                              <div class="row drop-box upload_box" ngf-drop="caseTaskController.uploadTaskFiles($files)"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                 ngf-pattern="*">
                                <div class="col-xs-12">
                                    <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseTaskController.uploadTaskFiles($files)" multiple="multiple">
                                        <div class="dz-message">
                                            <div class="row">
                                                <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-block" ng-show="caseTaskController.showExistingTaskFiles">
                                <div class="clearfix">
                                    <label>Files</label>
                                    <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                    <div class="form-group">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>File Name</th>
                                                    <th width="20"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="file in caseTaskController.task.taskFiles">
                                                    <td width="200">{{file.fileName}}</td>
                                                    <td width="50">
                                                        <button class="btn btn-theme-yellow btn-xs" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="caseTaskController.deleteTaskAssociatedFile(file)" ng-really-title="Delete File?" item="file">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Status</label>
                                <select class="form-control" ng-model="caseTaskController.task.status">
                                    <option ng-selected="caseTaskController.task.status == 0" value="0">Not Started</option>
                                    <option ng-selected="caseTaskController.task.status == 1" value="1">In Progress</option>
                                    <option ng-selected="caseTaskController.task.status == 2" value="2">Completed</option>
                                </select>
                                </div>
                            <div class="form-group col-md-6">
                                <label>Assign To</label>
                                <ui-select ng-model="caseTaskController.assignToUser" name="task_assignedTo" on-select="caseTaskController.onUserSelected($item)" reset-search-input="true" required="true" class="form-control borderless" ng-disabled="!caseTaskController.isEditableTask">
                                    <ui-select-match placeholder="Please select user ...">
                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                    </ui-select-match>
                                    <ui-select-choices group-by="caseTaskController.filterUsersByRole" repeat="user in (caseTaskController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                        <span> {{user.firstName}} {{user.lastName}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="error-msg" ng-show="saveTaskForm.task_assignedTo.$invalid && saveTaskForm.$submitted">Please select user from list</span>
                            </div>                           
                        </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Due Date</label>
                        <div class="has-feedback has-feedback-left">
                            <input ng-disabled="!caseTaskController.isEditableTask" type="text" class="form-control" ng-click="datePicker.opened=!datePicker.opened" uib-datepicker-popup="MMMM dd, yyyy" ng-model="caseTaskController.task.dueDate" is-open="datePicker.opened" datepicker-options="caseTaskController.datePickerOptions" readonly close-text="Close" show-button-bar="false" placeholder="Please select due date" />
                            <span class="fa fa-calendar form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Priority</label>                       
                        <select name="task_priority" ng-model="caseTaskController.task.priority" class="form-control">
                            <option value="" disabled>Please select a task priority</option>
                            <option value="{{caseTaskController.taskPriorityEnum.Low}}">Low</option>
                            <option value="{{caseTaskController.taskPriorityEnum.Regular}}">Regular</option>
                            <option value="{{caseTaskController.taskPriorityEnum.High}}">High</option>
                        </select><br>
                    </div>
                    </div>
                    <div class="well well-sm text-right">
                        <button ng-click="caseTaskController.saveTask(true,true)" class="btn btn-theme-yellow">Save</button>
                    </div>

                    <hr />

                    <div class="text-editor">
                        <label>Add Comment</label>
                        <textarea ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.newTaskComment.comment" size="50" autocomplete="off"></textarea>                             
                         <div class="row drop-box upload_box" ngf-drop="caseTaskController.uploadTaskCommentFiles($files,-1)"
                             ngf-drag-over-class="'dragover'" ngf-multiple="true"
                             ngf-pattern="*">
                            <div class="col-xs-12">
                                <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseTaskController.uploadTaskCommentFiles($files,-1)" multiple="multiple">
                                    <div class="dz-message">
                                        <div class="row">
                                            <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                            <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="report-block" ng-show="caseTaskController.newTaskComment.taskCommentFiles.length > 0">
                            <div class="clearfix">
                                <label>Files</label>
                                <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                <div class="form-group">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th width="20"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="file in caseTaskController.newTaskComment.taskCommentFiles">
                                                <td width="200">{{file.fileName}}</td>
                                                <td width="50">
                                                    <button class="btn btn-theme-yellow btn-xs" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="caseTaskController.deleteTaskCommentAssociatedFile(file,-1)" ng-really-title="Delete File?" item="file">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn"><button class="btn btn-theme-gray" ng-click="caseTaskController.postTaskComment(caseTaskController.newTaskComment)">Post</button></div>

                </div>
        </div>
        <div class="modal-footer">
            <div class="comment-section">
                <h5>Comments</h5>
                <div class="comments-list">
                    <div class="media" ng-repeat="taskComment in caseTaskController.taskComments|orderBy:'creationDateTime'">
                        <div class="media-left">
                            <a href="#">
                                <div><img ng-src="{{taskComment.createdByUser.profilePicUrl}}" class="circle-name" /></div>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{taskComment.createdByUser.firstName + " " + taskComment.createdByUser.lastName}}</h4>
                            <p ng-if="caseTaskController.taskComment.id != taskComment.id" ng-bind-html="taskComment.comment"></p>
                        
                                <div class="text-editor" ng-if="caseTaskController.taskComment.id == taskComment.id">
                                    <textarea ng-if="caseTaskController.taskComment.id == taskComment.id" ui-tinymce="caseTaskController.tinyMceOptions" ng-model="caseTaskController.taskComment.comment" size="50" autocomplete="off"></textarea>
                                    <div class="row drop-box upload_box" ngf-drop="caseTaskController.uploadTaskCommentFiles($files,taskComment.id)"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                     ngf-pattern="*">
                                    <div class="col-xs-12">
                                        <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseTaskController.uploadTaskCommentFiles($files,taskComment.id)" multiple="multiple">
                                            <div class="dz-message">
                                                <div class="row">
                                                    <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                    <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="report-block" ng-show="caseTaskController.taskComment.taskCommentFiles.length > 0">
                                    <div class="clearfix">
                                        <label>Files</label>
                                        <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                        <div class="form-group">
                                            <table class="table table-bordered table-striped table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>File Name</th>
                                                        <th width="20"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="file in caseTaskController.taskComment.taskCommentFiles">
                                                        <td width="200">{{file.fileName}}</td>
                                                        <td width="50">
                                                            <button class="btn btn-theme-yellow btn-xs" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file ?" ng-really-click="caseTaskController.deleteTaskCommentAssociatedFile(file,taskComment.id)" ng-really-title="Delete File?" item="file">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-control">
                                <ul class="list-inline">
                                    <li><span class="text-muted">{{taskComment.creationDateTime|date:'medium'}}</span></li>
                                    <li>
                                        <a href="#" ng-click="caseTaskController.editTaskComment(taskComment)" ng-if="caseTaskController.taskComment.id == undefined && taskComment.createdByUser.id == caseTaskController.newTaskComment.createdByUser.id">Edit</a>
                                        <a href="#" ng-click="caseTaskController.postTaskComment(caseTaskController.taskComment)" ng-if="caseTaskController.taskComment.id == taskComment.id">Save</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-really-click="caseTaskController.deleteTaskComment(taskComment.id)" ng-really-message="Are you sure you want to archive this comment ?" ng-really-title="Archive Comment ?" ng-if="caseTaskController.taskComment.id != taskComment.id && taskComment.createdByUser.id == caseTaskController.newTaskComment.createdByUser.id">Archive</a>
                                        <a href="#" ng-click="caseTaskController.getTaskComments()" ng-if="caseTaskController.taskComment.id == taskComment.id">Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
 