﻿<div ng-controller="UserController as userController">
    <div class="modal-header case_modal_header">
        <h3 ng-if="!userController.isUserBeingEdited" class="modal-title">Add a User</h3>
        <h3 ng-if="userController.isUserBeingEdited" class="modal-title">Edit User</h3>
    </div>
    <div class="modal-body">
        <form name="inviteForm" novalidate>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    <input name="firstName" ng-class="{'form_error':inviteForm.firstName.$invalid && userController.showUserValidationMessage}" ng-model="userController.user.firstName" placeholder="please enter First Name" class="form-control" required>
                    <span class="error-msg" ng-show="inviteForm.firstName.$invalid && userController.showUserValidationMessage">First Name Required</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    <input name="lastName" ng-class="{'form_error':inviteForm.lastName.$invalid && userController.showUserValidationMessage}" ng-model="userController.user.lastName" placeholder="please enter Last Name" class="form-control" required>
                    <span class="error-msg" ng-show="inviteForm.lastName.$invalid && userController.showUserValidationMessage">Last Name Required</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    <input name="userEmail" ng-class="{'form_error':inviteForm.userEmail.$error.required && userController.showUserValidationMessage}" ng-model="userController.user.email" placeholder="please enter Email" class="form-control" type="email" required >
                    <span class="error-msg" ng-show="inviteForm.userEmail.$error.required && userController.showUserValidationMessage"> Email Required</span>
                    <span class="error-msg" ng-show="inviteForm.userEmail.$error.email">Invalid Email</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Role</label>
                    <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    <ui-select ng-class="{'form_error':inviteForm.userRole.$error.required && userController.showUserValidationMessage}" name="userRole" ng-model="userController.user.role" on-select="userController.onRoleSelected($item)" required="true" class="">
                        <ui-select-match placeholder="Select Role ...">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="role in (userController.roles | filter: { name: $select.search }) track by role.id" refresh-delay="0">
                            <span>{{role.name}} </span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="error-msg" ng-show="inviteForm.userRole.$error.required && userController.showUserValidationMessage"> Role Required</span>
                </div>
                </div>
        </form>
    </div>
        <div class="modal-footer">
            <button type="button" ng-click="userController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button ng-if="!userController.isUserBeingEdited" type="button" ng-click="userController.saveUser(inviteForm.$valid)" class="btn btn-theme-yellow">Send</button>
            <button ng-if="userController.isUserBeingEdited" type="button" ng-click="userController.saveUser(inviteForm.$valid)" class="btn btn-theme-yellow">Save</button>
        </div>
    </div>
</div>