﻿<div class="tabs-full-width">
    <ul class="nav nav-tabs " role="tablist" id="js-tabs-example">
        <li ng-show="caseHeaderController.roleName == 'Admin' || caseHeaderController.roleName == 'Supervisor' || caseHeaderController.roleName == 'Sales' || caseHeaderController.roleName == 'Participant'" id="caseTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/caseDetails')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/caseDetails">Case</a>
        </li>
        <li has-permission="USER_READ_ALL" ng-hide="caseHeaderController.case.isNFCCase" id="participantsTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/participants')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/participants">Client</a>
        </li>
        <li has-permission="USER_READ_ALL" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Client</a>
        </li>
        <li has-permission="CASE_READ_ALL" ng-hide="caseHeaderController.case.isNFCCase" id="usersTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/users')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/users">Users</a>
        </li>
        <li has-permission="CASE_READ_ALL" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Users</a>
        </li>
        <li ng-show="caseHeaderController.case.isNFCCase" has-permission="NFCUSER_READ_ALL" id="nfcusersTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/nfcUsers')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/nfcUsers">NFC</a>
        </li>
        <li has-permission="CASE_HISTORY" id="historiesTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/caseHistory')">
		    <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/caseHistory">History</a>
        </li>      
        <li has-permission="CAN_VIEW_OWN_TASKS" ng-hide="caseHeaderController.case.isNFCCase" id="tasksTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/tasks')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/tasks">Tasks <span>({{caseHeaderController.case.caseAssociatedTasksCount}})</span></a>
        </li>
        <li has-permission="VIEW_OWN_CALENDAR" ng-hide="caseHeaderController.case.isNFCCase" id="calendarTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/calendar')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/calendar">Calendar</a>
        </li>
        <li ng-hide="caseHeaderController.case.isNFCCase" has-permission="VIEW_ALL_FILES" id="filesTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/files')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/files">Files <span>({{caseHeaderController.case.caseAllFilesCount}})</span></a>
        </li>
        <li has-permission="CASE_OWN_TIMESHEET" ng-hide="caseHeaderController.case.isNFCCase" id="timesheetsTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/timesheets')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/timesheets">Timesheets <span>({{caseHeaderController.case.caseAssociatedTimesheetsCount}})</span></a>
        </li>
        <li has-permission="CASE_EXPENSE" ng-hide="caseHeaderController.case.isNFCCase" id="expensesTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/expenses')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/expenses">Expenses <span>({{caseHeaderController.case.caseAssociatedExpensesCount}})</span></a>
        </li>
        <li has-permission="CAN_VIEW_OWN_DISCUSSIONS" ng-hide="caseHeaderController.case.isNFCCase" id="discussionsTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/discussions')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/discussions">Discussions <span>({{caseHeaderController.case.caseAssociatedDiscussionsCount}})</span></a>
        </li>
        <li has-permission="VIEW_DISCUSSION_REPORT" ng-hide="caseHeaderController.case.isNFCCase" id="reportTab" role="presentation" ng-class="caseHeaderController.setActiveTabClass('/reports')">
            <a href="/case-management/cases/{{caseHeaderController.case.caseNumber}}/reports">Reports<span>({{caseHeaderController.case.caseDiscussionReportCount}})</span></a>
        </li>
        <li has-permission="CAN_VIEW_OWN_TASKS" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Tasks <span>({{caseHeaderController.case.caseAssociatedTasksCount}})</span></a>
        </li>
        <li has-permission="VIEW_OWN_CALENDAR" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Calendar</a>
        </li>
        <li has-permission="VIEW_ALL_FILES" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Files <span>({{caseHeaderController.case.caseAllFilesCount}})</span></a>
        </li>
        <li has-permission="CASE_OWN_TIMESHEET" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Timesheets <span>({{caseHeaderController.case.caseAssociatedTimesheetsCount}})</span></a>
        </li>
        <li has-permission="CASE_EXPENSE" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Expenses <span>({{caseHeaderController.case.caseAssociatedExpensesCount}})</span></a>
        </li>
        <li has-permission="CAN_VIEW_OWN_DISCUSSIONS" ng-show="caseHeaderController.case.isNFCCase" class="disabled" role="presentation">
            <a href="#">Discussions <span>({{caseHeaderController.case.caseAssociatedDiscussionsCount}})</span></a>
        <li has-permission="VIEW_DISCUSSION_REPORT" ng-show="caseHeaderController.case.isNFCCase" role="presentation" class="disabled">
            <a href="#">Reports<span>({{caseHeaderController.case.caseDiscussionReportCount}})</span></a>
        </li>
        </li>
    </ul>
</div>
