﻿<div class="page-head">
    <div class="row">
        <div class="col-md-5">
            <div class="my-case-container">
                <div class="back-link case-icon"><a href="#" ng-click="caseHeaderController.goToPreviousUrl()"><span class="fa fa-caret-left"></span> BACK</a> </div>
                <div class="my-case-inner back-padding">
                    <div class="row case-detail case-detail-main">
                        <div class="col-md-12">
                            <div class="inline-head">
                                <span>Nickname</span>
                                <div class="open-cases inline-block">
                                    <div class="case-title">
                                        <h3 class="arial_font" tooltip-placement="top" uib-tooltip="{{caseHeaderController.case.nickName}}" tooltip-enable="{{caseHeaderController.case.nickName.length > 37}}">{{caseHeaderController.case.nickName.length > 37 ? caseHeaderController.case.nickName.slice(0,33)+'...':caseHeaderController.case.nickName}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-head">
                                <span>Case Number</span>
                                <div class="open-cases inline-block">
                                    <strong class="case-number-text arial_font">{{caseHeaderController.case.caseNumber}}</strong>
                                    <div class="text-right btns-right inline-block">
                                        <button class="btn btn-red btn-xs" ng-if="caseHeaderController.case.speed == caseHeaderController.speedEnum.Rush">RUSH</button>
                                        <button class="btn btn-red btn-xs" ng-if="caseHeaderController.case.speed == caseHeaderController.speedEnum.SuperRush">SUPER RUSH</button>
                                        <button class="btn btn-purple btn-xs" ng-if="caseHeaderController.case.isNFCCase">NFC</button>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-head" ng-hide="caseHeaderController.roleName == 'Participant' || caseHeaderController.roleName == 'ICIUser' || caseHeaderController.roleName == 'NFCUser'">
                                <span>Client</span>
                                <div class="open-cases inline-block">
                                    <div class="case-title"><strong class="client-name-text arial_font">{{caseHeaderController.case.client.clientName}}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row my-case-inner">
                <div class="col-sm-6">
                    <div class="case-detail left-case-detail">
                        <div class="inline-head">
                            <span>Country</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.primaryReportCountryName}}</strong></div>
                            </div> 
                        </div>
                        <div class="inline-head" ng-hide="caseHeaderController.roleName == 'Participant' || caseHeaderController.roleName == 'ICIUser' || caseHeaderController.roleName == 'NFCUser'">
                            <span>Report Type</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block" ng-if="caseHeaderController.case.reports.length > 0 && caseHeaderController.case.primaryReportType.length <= 30">{{caseHeaderController.case.primaryReportType}} <a href="#" ng-click="caseHeaderController.showAllCaseReports()" ng-show="caseHeaderController.case.reports.length > 0"><i class="fa fa-plus-square-o fa-lg"></i></a></strong></div>
                                <div class="case-title"><strong class="inline-block" ng-if="caseHeaderController.case.reports.length > 0 && caseHeaderController.case.primaryReportType.length > 30" tooltip-placement="top" uib-tooltip="{{caseHeaderController.case.primaryReportType}}">{{caseHeaderController.case.primaryReportType|limitTo:35}}... <a href="#" ng-click="caseHeaderController.showAllCaseReports()" ng-show="caseHeaderController.case.reports.length > 0"><i class="fa fa-plus-square-o fa-lg"></i></a></strong></div>
                            </div>
                        </div>
                        <div class="inline-head" has-permission="CASE_READ_ALL">
                            <span>Retail</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block"><i class="fa fa-dollar"></i> {{caseHeaderController.case.actualRetail}}</strong></div>
                            </div>
                        </div>
                        <div class="inline-head" ng-hide="caseHeaderController.roleName == 'Participant' || caseHeaderController.roleName == 'ICIUser' || caseHeaderController.roleName == 'NFCUser'">
                            <span>Sale Rep</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.client.salesRepresentative.firstName+" "+caseHeaderController.case.client.salesRepresentative.lastName}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" ng-hide="caseHeaderController.roleName == 'Participant' || caseHeaderController.roleName == 'ICIUser' || caseHeaderController.roleName == 'NFCUser'">
                    <div class="case-detail left-case-detail">
                        <div class="inline-head">
                            <span>Intake</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.ddSupervisorApprovedCaseDate|date}}</strong></div>
                            </div>
                        </div>
                        <div class="inline-head">
                            <span>Due</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block text-danger"></strong></div>
                            </div>
                        </div>
                        <div class="inline-head">
                            <span>IHI</span>
                            <div class="open-cases inline-block">
                                <div class="case-title">
                                <!--<strong class="inline-block">
                                    <i class="fa fa-check" ng-if="caseHeaderController.case.ihiAssigned" style="color:green"></i>
                                    <i class="fa fa-times" ng-if="!caseHeaderController.case.ihiAssigned"></i>
                                </strong>-->
                                </div>
                            </div>
                        </div>
                        <div class="inline-head" ng-if="caseHeaderController.roleName == 'Admin'">
                            <span>Margin</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block" ng-class="caseHeaderController.case.margin < 38 ? 'text-danger' : 'text-success'">{{caseHeaderController.case.margin | number : 2}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-case-inner clearfix">
                <div class="case-detail left-case-detail">
                    <div class="inline-head pull-right">
                        <span>Just Updated</span>
                        <div class="open-cases inline-block">
                            <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.lastEditedDateTime|date:'medium'}}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>