﻿<div ng-controller="HeaderController as headerController">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">
                        <div class="row case-detail">
                            <div class="col-md-7">
                                <div class="expenses block-title">
                                    <h3>Search Results</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="search-wrap">
                                <div class="search-result-block text-center" ng-if="headerController.cases.length == 0">
                                    <h2>No result found</h2>
                                </div>
                                <div class="search-result-block" ng-repeat="case in headerController.cases" ng-if="headerController.cases.length > 0">
                                    <a href="#" class="search-heading" ng-click="headerController.openCaseDetails(case)"><h4>{{case.nickName}}</h4> </a>
                                    <small>Case Number : {{case.caseNumber}}</small> <small>Client :  {{case.client.clientName}}</small>

                                    <div class="search-detail">
                                        <ul class="task-list" ng-show="case.tasks.length > 0">
                                            <li><strong class="sans_font">Tasks : </strong></li>
                                            <li ng-repeat="task in case.tasks"><a href="/case-management/cases/{{task.caseNumber}}/task/{{task.taskId}}">{{task.title}}{{$last ? '' : ', '}} </a></li>
                                        </ul>
                                        <ul class="task-list" ng-show="case.discussions.length > 0">
                                            <li><strong class="sans_font">Discussions : </strong></li>
                                            <li ng-repeat="discussion in case.discussions"><a href="#" ng-click="headerController.goToDiscussionMessages(discussion, case)">{{discussion.title}}{{$last ? '' : ', '}} </a></li>
                                        </ul>
                                        <ul class="task-list" ng-show="case.files.length > 0">
                                            <li><strong class="sans_font">Files : </strong></li>
                                            <li ng-repeat="file in case.files"><a class="pointer" ng-click="headerController.goToCaseFiles(case, file)">{{file.fileName}}{{$last ? '' : ', '}}</a>  <a href="#" ng-click="headerController.downloadFile(file)"><i class="fa fa-download"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="pagination-container"  ng-if="headerController.cases.length  > 0">
                                <div class="text-center">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button ng-if="headerController.pageIndex != 0" ng-click="headerController.getSearchResultsByKeyword(headerController.pageIndex - 1)" type="button" class="btn btn-default">
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                            </button>
                                            <button ng-repeat="page in headerController.allPages track by $index" type="button" ng-class="{active:headerController.pageIndex == $index}" ng-click="headerController.getSearchResultsByKeyword($index)"
                                                    class="btn btn-default">
                                                {{$index + 1}}
                                            </button>
                                            <button ng-if="headerController.pageIndex != headerController.allPages.length - 1" type="button" ng-click="headerController.getSearchResultsByKeyword(headerController.pageIndex + 1)" class="btn btn-default">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


