﻿<div ng-controller="HeaderController as headerController" ng-init="headerController.getAllNotifications()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">
                        <div class="row case-detail">
                            <div class="col-md-7">
                                <div class="expenses block-title">
                                    <h3>Notifications</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="history-container">
                        <div class="history-block-outer" ng-repeat="(createDate,groupedNotifications) in (headerController.allNotifications | groupBy: 'createDate')">

                            <div class="well well-sm">{{createDate| date}}</div>
                            <div class="media">
                                <div class="media-body">
                                    <div class="history-block" ng-repeat="notification in groupedNotifications">

                                        <div class="main-text">
                                            <a href="#" class="pull-left history-image-left">
                                                <img class="media-object img-circle" ng-src="{{notification.createdByUser.profilePicUrl}}" alt="...">
                                            </a>
                                            <a class="name pointer" href={{notification.url}} has-permission="CASE_READ_ALL">{{notification.notificationText}}</a>
                                            <div class="name" ng-show="headerController.roleName != 'Admin' && headerController.roleName != 'Supervisor'">{{notification.notificationText}}</div>
                                        </div>
                                        <div class="post-time">
                                            <span class="fa fa-bookmark text-success bookmark-icon"></span>{{notification.createdOn | date:'medium'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>