﻿<div ng-controller="UserController as userController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="userController.closeModal()">&times;</span></button>
        <h3 ng-if="!userController.isUserBeingEdited" class="modal-title">Add a User</h3>
        <h3 ng-if="userController.isUserBeingEdited" class="modal-title">Edit User</h3>
    </div>
    <div class="modal-body">
        <form name="inviteForm" novalidate>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="First Name" popover-trigger="outsideClick">?</a>
                    <input ng-class="{'form_error' :inviteForm.firstName.$invalid && userController.showUserValidationMessage }" name="firstName" ng-model="userController.user.firstName" placeholder="please enter First Name" class="form-control" required>
                    <span class="error-msg" ng-show="inviteForm.firstName.$invalid && userController.showUserValidationMessage">First Name Required</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Last Name" popover-trigger="outsideClick">?</a>
                    <input ng-class="{'form_error' :inviteForm.lastName.$invalid && userController.showUserValidationMessage }" name="lastName" ng-model="userController.user.lastName" placeholder="please enter Last Name" class="form-control" required>
                    <span class="error-msg" ng-show="inviteForm.lastName.$invalid && userController.showUserValidationMessage">Last Name Required</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Email" popover-trigger="outsideClick">?</a>
                    <input ng-class="{'form_error' :inviteForm.userEmail.$error.required && userController.showUserValidationMessage }" name="userEmail" ng-model="userController.user.email" placeholder="please enter Email" class="form-control" type="email" required >
                    <span class="error-msg" ng-show="inviteForm.userEmail.$error.required && userController.showUserValidationMessage"> Email Required</span>
                    <span class="error-msg" ng-show="inviteForm.userEmail.$error.email">Invalid Email</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Role</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Role" popover-trigger="outsideClick">?</a>
                    <ui-select ng-class="{'form_error' :inviteForm.userRole.$error.$invalid && userController.showUserValidationMessage }" name="userRole" ng-model="userController.user.role" on-select="userController.onRoleSelected($item)" required="true" class="form-control">
                        <ui-select-match placeholder="Select Role ...">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="role in (userController.roles | filter: { name: $select.search }) track by role.id" refresh-delay="0">
                            <span>{{role.name}} </span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="error-msg" ng-show="inviteForm.userRole.$error.required && userController.showUserValidationMessage"> Role Required</span>
                </div>
                </div>
        </form>
    </div>
        <div class="modal-footer">
            <button type="button" ng-click="userController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button ng-if="!userController.isUserBeingEdited" type="button" ng-click="userController.saveUser(inviteForm.$valid)" class="btn btn-theme-yellow">Send</button>
            <button ng-if="userController.isUserBeingEdited" type="button" ng-click="userController.saveUser(inviteForm.$valid)" class="btn btn-theme-yellow">Save</button>
        </div>
</div>