﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    @*<link rel="shortcut icon" href="/Assets/img/favicon.html">*@
    <title>Scorer - Case management</title>    
    
    @Styles.Render("~/angular/app/css")
</head>
<body ng-controller="CoreController" class="ng-cloak open-left-sidebar">
    <div class="am-wrapper am-fixed-sidebar ">
        <header data-ng-include="'/webapp/modules/core/views/header.view.html'"></header>
        <span us-spinner spinner-key="spinner" class="kreller_spinner"></span>
        <div data-ui-view></div>
    </div>
    <div class="am-scroll-top"></div>

    @Scripts.Render("~/bundles/app")
    <script>       
        var user = @Html.Raw(@ViewBag.User);
        var defaultPageSize = @Html.Raw(@ViewBag.DefaultPageSize);  
    </script>
    <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        var notificationMessages = undefined; 
        var notificationUrls =undefined;
        $(function () {                     
            // Reference the auto-generated proxy for the hub.
            var notification = $.connection.notificationHub;
            notification.client.sendNotification = function (message) {                 
                // Add the message to the page.  
                for(var i=0;i<message.length;i++)
                {                
                    notificationMessages = [];
                    notificationUrls = [];
                    var receivedMessage = message[i].toString().split('#&#');
                    notificationMessages.push(receivedMessage[0]);
                    notificationUrls.push(receivedMessage[1]);
                           
                }                     
                var displayMessage = message[message.length-1].split('#&#');           
                toastr.success(displayMessage[0]);                         
            };           
        });
        
        $.connection.hub.start().done(function () {          
        });
    </script>
</body>
</html>