﻿<div ng-controller="DashboardController as dashboardController" ng-init="dashboardController.init()">  
    <div class="am-content" has-permission="VIEW_DASHBOARD">
        <div class="page-head">
            <div class="row">
                <div class="col-md-12">
                    <div class="my-case-container">
                        <div class="row case-detail">
                            <div class="col-md-8">
                                <div class="expenses block-title">
                                    <h3>Dashboard</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
        <div class="main-content">
            <div class="dashboard-content">
                <div class="dashboard-top">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="service-block service-block-sea service-or">
                                <div class="service-bg"></div>
                                <h2 class="heading-md">New Cases Total</h2>
                                <p>{{dashboardController.dashboardDetails.newCasesCount}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-block service-block-blue service-or">
                                <div class="service-bg"></div>
                                <h2 class="heading-md">NFC Total</h2>
                                <p>{{dashboardController.dashboardDetails.nfcCasesCount}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-block service-block-red service-or">
                                <div class="service-bg"></div>
                                <h2 class="heading-md">Close Total</h2>
                                <p>{{dashboardController.dashboardDetails.closedCasesCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-bottom">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-main d-block">
                                <div class="d-head"><h4>Recent Cases</h4>
                               <a class="btn btn-theme-yellow btn-xs pull-right" href="/case-management/cases">All Cases</a>
                                </div>
                                <div class="dashboard_case_list">
                                    <h4 ng-if="dashboardController.dashboardDetails.listOfRecentCases.length == 0">No cases to display!</h4>
                                    <table class="table table-hover table-condensed" ng-if="dashboardController.dashboardDetails.listOfRecentCases.length > 0">
                                        <thead>
                                            <tr>
                                                <th width="130">Nickname</th>
                                                <th width="140">Client</th>
                                                <th>Account</th>
                                                <th>Sales Rep</th>                                              
                                            </tr>
                                        </thead>                                     
                                        <tbody class="ng-scope">
                                            <tr ng-repeat="caseDetails in dashboardController.dashboardDetails.listOfRecentCases">
                                                <td><a href="case-management/cases/{{caseDetails.caseNumber}}/caseDetails">{{caseDetails.nickName}}</a></td>
                                                <td>{{caseDetails.client.clientName}}</td>
                                                <td>{{caseDetails.businessUnit.accountCode}}</td>
                                                <td>{{caseDetails.client.salesRepresentative.firstName}} {{caseDetails.client.salesRepresentative.lastName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-aside">
                                <div class="dashboard_calendar" ng-init="dashboardController.userCalendarInit(); dashboardController.getRecentTasks()">
                                    <div ng-include src="'/webapp/modules/calendar/views/calendar-body.view.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>  
</div>

