<div ng-controller="UserSettingsController as userSettingsController" ng-init="userSettingsController.init()">
    <div class="am-content">

        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">
                        <div class="row case-detail">
                            <div class="col-md-7">
                                <div class="expenses block-title">
                                    <h3>Settings</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-full-width">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active "><a href="#case" data-toggle="tab" class="change_profilePic">Change Profile Picture</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="case">

                    <div class="col-md-6 col-xs-offset-3">
                        <div class="change-profile-pic text-center">
                            <div class="profil-img">
                                <img ng-src="{{userSettingsController.user.profilePicUrl}}" class="img-circle">
                                <div class="profile-name mb-15"><strong>{{userSettingsController.user.firstName+" "+userSettingsController.user.lastName}}</strong></div>

                            </div>
                            <div class="upload-profile-pic">

                                <div class="row drop-box" ngf-drop="userSettingsController.uploadProfilePicture($files)"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="false"
                                     ngf-pattern="*">
                                    <div class="col-xs-12">
                                        <div id="my-awesome-dropzone" class="dropzone" ngf-select="userSettingsController.uploadProfilePicture($files)" multiple="false">
                                            <div class="dz-message">
                                                <div class="row">
                                                    <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                    <div class="col-md-10"><h2>Select or Drag and Drop picture here</h2><span class="note"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="profile-btn">
                                <button class="btn btn-theme-yellow" ng-click="userSettingsController.saveUserDetails()">Save</button>
                                <button class="btn btn-theme-gray" ng-click="userSettingsController.cancelChanges()">Cancel</button>
                            </div>

                            <!--<div class="msg"><div class="text-success">Image uploaded sucessfully !</div></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content">
    </div>
</div>
